[2015-10-13 20:34] Electroid commented on #1251
Not anymore.

[2015-10-13 20:34] #1251 closed

[2015-10-13 20:36] Electroid commented on #1351
You don't have permission for that anymore.

[2015-10-13 20:36] #1351 closed

[2015-10-13 20:37] Electroid commented on #1531
This isn't a bug anymore

[2015-10-13 20:37] #1531 closed

[2015-10-13 20:38] Electroid commented on #1934
Not a bug anymore.

[2015-10-13 20:38] #1934 closed, assigned to nobody

[2015-10-15 01:49] Electroid commented on #261
Done.

[2015-10-15 01:49] #261 closed

[2015-10-15 07:24] ghost opened #2185 "Twitch's youtube button not linked"
http://prntscr.com/8rhi9v

[2015-10-15 07:25] Electroid commented on #2185
We have a similar issue already.

[2015-10-15 07:25] #2185 closed, assigned to nobody

[2015-10-15 07:25] TiTo-418 commented on #2185
https://github.com/OvercastNetwork/Issues/issues/2098?

[2015-10-15 07:26] Electroid commented on #2182
This is a map issue.

[2015-10-15 07:30] TiTo-418 commented on #1568
This is a minecraft bug

[2015-10-15 07:41] ghost commented on #1876
I can't reproduce this, so I believe it's fixed

[2015-10-15 07:42] ghost commented on #1823
Fixed

[2015-10-15 07:55] ghost commented on #1214
Now there are signs

[2015-10-15 08:02] ghost commented on #860
http://prntscr.com/8rhrql

[2015-10-15 08:27] #860 closed

[2015-10-15 08:27] #1214 closed

[2015-10-15 13:45] #1823 closed

[2015-10-15 17:43] Pugzy commented on #2182
@Electroid This is caused due to the height of the map however the plugin works out how far the player fell into the void, the wording within the death message could also be confused.

The from x blocks should be the distance of the bow shot that caused them to fall not the distance they fell. I feel the current message (like seen in the above screenshots) is pretty useless and a shorter `was shot

[2015-10-15 18:24] ghost commented on #176
I think this can be closed, offline servers don´t show up anymore on oc.tc/play

[2015-10-15 18:30] Pugzy commented on #176
Issue no longer applicable due to play page revamp.

[2015-10-15 18:30] #176 closed

[2015-10-15 18:32] ghost commented on #205
Implemented with ranked matches

[2015-10-15 18:36] ghost commented on #221
Im pretty sure the servers sign return when the match ends

[2015-10-15 18:48] ghost commented on #583
Dupe https://github.com/OvercastNetwork/Issues/issues/586

[2015-10-15 18:52] TiTo-418 commented on #669
Dupe https://github.com/OvercastNetwork/Issues/issues/586

[2015-10-15 18:56] ghost commented on #708
Now appear "Could not find the specified user."

[2015-10-15 18:59] Pugzy commented on #708
^

[2015-10-15 18:59] #708 closed

[2015-10-15 19:00] Pugzy commented on #205
^

[2015-10-15 19:00] #205 closed

[2015-10-15 19:10] ghost commented on #712
Im pretty sure this is fixed

[2015-10-15 19:34] 96alexmr commented on #392
Didn't @ShinyDialga fix this in OvercastNetwork/SportBukkit@c370f9a

[2015-10-15 19:36] TiTo-418 commented on #392
https://github.com/OvercastNetwork/SportBukkit/commit/c370f9a

[2015-10-15 20:37] tonybruess commented on #583
Not a dupe

[2015-10-15 20:38] #586 closed

[2015-10-15 20:50] ghost commented on #583
Yes it is https://github.com/OvercastNetwork/Issues/issues/669

[2015-10-15 21:07] tonybruess commented on #583
Different bug

[2015-10-15 21:13] ghost commented on #583
It is the same bug, Martin said:

The friends issue have been fixed, that leaves only the quote issue, and it is the same as https://github.com/OvercastNetwork/Issues/issues/669

[2015-10-15 21:20] #583 closed

[2015-10-15 22:28] ghost commented on #821
Back button removed, this can be closed. Also, dupe https://github.com/OvercastNetwork/Issues/issues/1825

[2015-10-15 22:32] TiTo-418 commented on #821
Also, dupe https://github.com/OvercastNetwork/Issues/issues/1825

[2015-10-15 22:48] ghost commented on #1785
@Brottweiler This is duplicated of https://github.com/OvercastNetwork/Issues/issues/1074, he´s a nicked player

[2015-10-15 22:55] ghost commented on #1614
Fixed with the players` page update

[2015-10-15 23:29] CoWinkKeyDinkInc commented on #1785
@TiTo-418 But this player was moving, meaning he was still in the game.

[2015-10-15 23:42] CoWinkKeyDinkInc commented on #1785
The issue you're referring to mentions that the player logged off and it may be an issue with Minecraft.  But here it mentions that the user was moving.

[2015-10-16 01:52] ghost commented on #221
Confirmed, can be closed http://prntscr.com/8rsvln

[2015-10-16 01:57] ghost commented on #712
Confirmed, can be closed http://prntscr.com/8rswwk

[2015-10-16 02:04] ghost commented on #1456
Fixed http://prntscr.com/8rsyo7

[2015-10-16 02:08] ghost commented on #1433
Fixed http://prntscr.com/8rszu8

[2015-10-16 02:26] ghost commented on #1741
Broken doesn't exist anymore

[2015-10-16 02:27] ghost commented on #1693
Broken doesn't exist anymore. Also there are others issues related with channels: https://github.com/OvercastNetwork/Issues/issues/1786 and https://github.com/OvercastNetwork/Issues/issues/1872

[2015-10-16 02:37] ghost commented on #1607
Seems to be fixed http://prntscr.com/8rt6xu

[2015-10-16 02:42] ghost commented on #1603
Seems to be fixed http://prntscr.com/8rt7vt, http://prntscr.com/8rt7zo and http://prntscr.com/8rtccu

[2015-10-16 02:48] TiTo-418 commented on #261
What's the command?

[2015-10-16 03:11] ghost commented on #1252
Fixed http://prntscr.com/8rtf3x

[2015-10-16 03:32] ghost commented on #2015
Fixed http://prntscr.com/8rtjgs

[2015-10-16 06:04] #1693 closed

[2015-10-16 06:05] #1433 closed

[2015-10-16 06:06] #1252 closed

[2015-10-16 06:07] #1607 closed

[2015-10-16 06:07] #221 closed

[2015-10-16 06:08] #1614 closed

[2015-10-16 06:08] #712 closed

[2015-10-16 13:20] ghost commented on #763
This was fixed with the min tag

[2015-10-16 14:02] #763 closed

[2015-10-16 22:10] #1741 closed

[2015-10-16 22:11] #1603 closed

[2015-10-17 00:17] ghost commented on #2181
Seems to be fixed http://i.imgur.com/vaX6ikg.png and http://i.imgur.com/XVe9EVp.png

[2015-10-17 01:20] #2181 closed, assigned to nobody

[2015-10-17 11:53] PoseidonsM commented on #2181
TiTo-418, if you read the issue it says that using "/seen <modusername>" reveals their nicked name, not /msg. For instance, if turtle had that nick, and I did "/seen MySquishyTurtle" it would say, "MonsterJerky is online." Thus revealing the nicked player.
Could this be reopened please.

[2015-10-17 13:34] mitchts commented on #2181
Tested this earlier - it's fixed

[2015-10-17 16:50] RickAstIey opened #2186 "Blockdrops still drop items when destroyed with the wrong tool even if wrongtool is equal to false"
Basically on UBoat König when you kill 4 people in a row you get a pick to mine diamond blocks and get the diamond boots and helmet. The problem is that if you mine the diamond block with your hand you will get these diamond boots and helmet.

If I see this map again I'll try to record a video so you can understand this better.

[2015-10-18 03:04] 96alexmr commented on #2186
Isn't this as easy as enabling using proper tool in the xml?

[2015-10-18 03:30] mitchts commented on #2186
@nixter1029 That's what I first thought. The thing that is confusing me is that `wrongtool` is defaulted to `false`, so in theory that should already be stopping the items from dropping, which isn't the case.

[2015-10-18 05:55] RickAstIey opened #2187 "/staff command displays staff members who are not online and "multiplies" them"
Well as the title says the /staff command is really messed up. Here you have a photo of what is basically going on: https://gyazo.com/fe21613cbe2f760d0bdfde88b65151c9 .

I don't know if this should "fix itself" as some other players said so I reported it.

[2015-10-18 06:41] ghost commented on #2111
It's working again http://prntscr.com/8si7s3
The first was rated with the hopper, and the second one with the command

[2015-10-18 06:53] ghost commented on #2001
Just tested, fixed

[2015-10-18 07:19] ghost commented on #1785
Yes, the players who have a white name (tab and ingame) are nicked players and they can move, write in the chat, etc. as a normal player

[2015-10-18 07:35] ghost commented on #1793
Fixed

[2015-10-18 07:35] #1793 closed

[2015-10-18 07:40] ghost commented on #1587
Seems to be fixed http://prntscr.com/8sii73 & http://prntscr.com/8sii9o

[2015-10-18 07:41] ghost commented on #1565
Not happening anymore http://prntscr.com/8siiho

[2015-10-18 08:06] ghost commented on #721
Just tested, fixed

[2015-10-18 08:12] ghost commented on #733
The search bar was removed, i think this can be closed http://prntscr.com/8siogp

[2015-10-18 08:17] TiTo-418 commented on #1243
Dupe https://github.com/OvercastNetwork/Issues/issues/862

[2015-10-18 08:28] mitchts commented on #991
Fixed

[2015-10-18 08:28] #991 closed

[2015-10-18 08:28] TiTo-418 commented on #991
Fixed, just tested with @mitchiiii

[2015-10-18 08:29] #2001 closed, assigned to nobody

[2015-10-18 08:35] mitchts commented on #2023
Fixed

[2015-10-18 08:35] #2023 closed, assigned to nobody

[2015-10-18 08:37] mitchts commented on #1902
Fixed

[2015-10-18 08:37] #1902 closed

[2015-10-18 08:46] ryush00 commented on #1565
Close issue

[2015-10-18 08:46] #1565 closed

[2015-10-18 08:46] mitchts commented on #718
Fixed

[2015-10-18 08:46] #718 closed

[2015-10-18 14:07] samthecat opened #2188 "Map Fix - AlepBOO!"
stone pressure plates no longer drop

https://gist.github.com/samtheman43/1d3cc82ccf3c852328b5

[2015-10-18 14:14] SamSafari opened #2189 "BalloonsDTM: Halloween | Lapis and Redstone"
Imbalanced XP sources for team with Lapis
Fix: Change both with emerald

http://imgur.com/a/17KgA

[2015-10-18 15:10] #2189 closed, assigned to Pugzy

[2015-10-18 15:19] #2188 closed, assigned to Pugzy

[2015-10-18 17:39] Pugzy commented on #2111
I'm pretty sure this is working again.

[2015-10-18 17:39] #2111 closed, assigned to nobody

[2015-10-18 17:39] #1587 closed

[2015-10-18 17:40] Pugzy commented on #733
Hopefully we will see the return of the search bar pretty soon, this could still be an issue.

[2015-10-18 22:22] tonybruess commented on #718
You sure?

[2015-10-19 00:44] ghost commented on #718
Yes, we tested this yesterday

[2015-10-19 02:10] Electroid commented on #3
It hath been done :angel:

[2015-10-19 02:10] #3 closed

[2015-10-19 05:29] mitchts commented on #718
Tested on multiple servers, I'm sure.

[2015-10-19 11:14] NanuCNS commented on #1699
<b>Translator team developing the translate.oc.tc now this issue can be close :)<b>

[2015-10-19 13:37] NanuCNS opened #2190 "Forum avatar white-face bug"
We doesn't have mush information about this bug. Is happen <b>randomly<b> and look like some layer of the avatar turning in transparent without any change by skin owners.
![desktop 19-10-2558 19-20-34-59](https://cloud.githubusercontent.com/assets/8971312/10579201/04b5453e-76a1-11e5-9c47-90e0ca031318.png)

Thread : https://oc.tc/forums/topics/5624c2115f35b96270001202

[2015-10-19 13:38] Brottweiler commented on #2190
Seems like black pixels sometimes becomes transparent.

For example, the threads looks like this for me atm: ![](https://i.imgur.com/gZxEcla.png)

[2015-10-19 13:40] Brottweiler commented on #2190
Let's close this in favor of https://github.com/OvercastNetwork/Issues/issues/1544

[2015-10-19 13:40] #2190 closed, assigned to nobody

[2015-10-19 13:46] NanuCNS commented on #1544
Cloud flare error ? or browser error ummmm....
Look like this bug spread across the server but in the good way we look like a ghost for Halloween :3

[2015-10-19 19:24] Oo-TheFrog opened #2191 "Minor XML Update - SpOOky Diamonds"
Added arrows to item remove
Removed the oak log k/r
Added a gapple k/r
Changed the stained clay color

XML: https://gist.github.com/Oo-TheFrog/12a7249369e1889f39fa

[2015-10-19 20:28] Pugzy commented on #2191
Would this apply to both Spooky and Regular?

[2015-10-19 20:59] Oo-TheFrog commented on #2191
Just spooky for now

[2015-10-19 21:10] RickAstIey opened #2192 "Observers can break fire in Ranked NextGen."
I don't know if this happens only in Ranked NextGen. Also I couldn't find another issue like this one sorry if there is one already.

Video: https://youtu.be/f6vY78X_574

[2015-10-19 22:18] Pugzy commented on #2192
This has been reported and closed several times, #2064

From Apple, "To clarify, fires extinguished in observer mode do not regenerate but the issue is client side."

[2015-10-19 22:18] #2192 closed, assigned to nobody

[2015-10-19 23:11] #2191 closed, assigned to nobody

[2015-10-19 23:12] Pugzy commented on #2191
Make sure you update the version number for every update.

Also you would need to change the damage value of the clay and not the item name.

![](http://i.imgur.com/zOvJr0r.png)

[2015-10-20 00:04] Pugzy commented on #200
I believe this is fixed.

[2015-10-20 00:04] #200 closed

[2015-10-20 02:08] RickAstIey opened #2193 "Event subforum displays more than 1 page."
Event subforum displays more than 1 page even when there is only 1 topic I can see.

https://oc.tc/forums/53f7ed775f35b9e339000a9a
https://gyazo.com/90670f979c41a7cb6f13b7f8686b9cb5

[2015-10-20 02:34] Electroid commented on #2193
Duplicate issue.

[2015-10-20 02:34] #2193 closed, assigned to nobody

[2015-10-20 11:57] Joshua171 commented on #1876
@TiTo-418 No its not I can still reproduce it

[2015-10-20 14:20] ghost commented on #1876
@Joshua171 Version?

[2015-10-20 20:58] 96alexmr opened #2194 "Take Items from Lobby Armor Stands"
You can remove items from the lobby armor stands. The only one I know for a fact that can be removed is the the diamond pickaxe.

http://i.imgur.com/2Me1rUj.png

[2015-10-21 14:19] ghost commented on #821
http://prntscr.com/8tp4hh

[2015-10-21 14:48] #821 closed

[2015-10-22 13:57] ghost commented on #2194
Just tested and seems to be fixed

[2015-10-22 14:55] ghost opened #2195 "Double messages on EU"
On the EU server whenever someone sends you a message, it shows up 2 times. This doesn't occur on the US server. I think it has to do with the new message ding, it might have screwed something up.

Here is a picture to make you understand better:
![2015-10-22_16 42 07](https://cloud.githubusercontent.com/assets/9394074/10668660/a1138c7c-78dd-11e5-8d54-51b97603c2ad.png)

[2015-10-22 17:38] jedediah commented on #2194
it's fixed

[2015-10-22 17:38] #2194 closed, assigned to nobody

[2015-10-22 21:13] ghost commented on #2195
Dupe https://github.com/OvercastNetwork/Issues/issues/1763

[2015-10-22 21:28] Brottweiler commented on #2195
The issue you linked @TiTo-418 I think is the bug were _sometimes_ messages are **recieved** several times, can be more than 2 times.

This issue seems to only happen on EU, and it's **always** two messages you recieve.

[2015-10-22 21:40] ghost commented on #2195
Just tested, seems to work fine http://prntscr.com/8u81x9

[2015-10-22 21:41] Brottweiler commented on #2195
Well it happens to @MobbareKurtZ so gonna keep this open.

[2015-10-23 04:39] ghost commented on #1659
https://oc.tc/forums/topics/5629b3365f35b92096000ad6

[2015-10-23 06:11] Brottweiler commented on #1659
@TiTo-418 he was online when he got warned via web report.

[2015-10-23 09:50] ghost opened #2196 "Revions page has error 500"
Revisions pages on the website come up with a 500 error - I've tested it on web and maps. Neither work.

[2015-10-23 11:05] Pugzy commented on #2196
Works for me, can you still reproduce? @elephant-coder

[2015-10-23 11:19] ghost commented on #2196
Weird, working now

[2015-10-23 11:19] #2196 closed, assigned to nobody

[2015-10-23 20:42] Brokennz opened #2197 "Double messages when you join into a server."
![2015-10-23_15 31 14](https://cloud.githubusercontent.com/assets/11890645/10704464/9ad5aa24-799c-11e5-9ebc-e81091440339.png)

[2015-10-24 00:19] Pugzy commented on #2197
I guess this has to do with the lobby plugin update (RightClickEvent).

[2015-10-24 03:01] feliespindola opened #2198 "Web page Uruguay time zone"
In the oc.tc page, the timezone in Uruguay is GMT -2 and it should be GMT -3 like Buenos Aires, Argentina. The Uruguay goverment arrange not to use the summer timezone this year. Thank you

[2015-10-24 21:48] LArrowHead opened #2199 "Map Update Cyril v1.12(XML)"
XML:
https://github.com/LArrowHead/Maps-XML/blob/master/Cyril

Changes

[2015-10-24 22:21] stupid3700 commented on #2179
Issue is now resolved.

[2015-10-24 22:21] #2179 closed, assigned to nobody

[2015-10-24 22:45] SamSafari opened #2200 "Map Update Citadel v1.3.0(XML/Physical)"
XML:
https://gist.github.com/iPGz/9525ea4e5c73616aa9e9

Changes:
     Adjusted defender building ability around the wool room
     Reduced time limit
     Adjusted team sizes
     Adjusted terrain around wool room for more balanced defending

[2015-10-24 22:52] #2200 closed, assigned to Pugzy

[2015-10-25 06:19] SamSafari opened #2201 "Golden Drought | Seemingly Never-Ending Broken Void Region"
An infinite bridge can be built off of the pink wool's lane.

[2015-10-25 08:06] Joshua171 commented on #1876
@TiTo-418 Vanilla 1.8.8

[2015-10-25 10:44] 2000thehecf1 opened #2202 "oc.tc/play matches are completely frozen"
These matches https://gyazo.com/63a8072b6c2de1a71f76449c50013f66 are there since like 2 or 3 hours ago and they never cycle. Also, the next map isn't been shown.

[2015-10-25 12:07] ghost commented on #2202
This is most likely also linked to the fact the server signs are not working ingame.

[2015-10-25 15:24] 2000thehecf1 commented on #2202
Closing this since it seems to be already fixed.

[2015-10-25 15:54] SamSafari opened #2203 "Citadel Objective Message Error (XML)"
XML: https://maps.oc.tc/CTW/Standard/Citadel/map.xml

Objective message wrongly suggests the match will take 15 minutes
http://prntscr.com/8v61y1

Update XML to correctly say 13 minutes.

[2015-10-25 18:53] #2203 closed, assigned to Pugzy

[2015-10-25 22:55] Brokennz commented on #2187
I think this is already fixed, I do /staff and I see it well.

[2015-10-26 14:55] 2000thehecf1 commented on #2202
nvm it's wrong again, sorry.

[2015-10-26 15:41] andreskv opened #2204 "Map names not showing."
This happens to me on EU and US. https://youtu.be/wsaoNGjbSh4

[2015-10-26 17:15] 2000thehecf1 commented on #2204
Surely related to #2202

[2015-10-26 18:43] andreskv commented on #2204
Could be related, but those matches were working normally .

[2015-10-26 23:10] ghost commented on #2187
Nope http://prntscr.com/8vpopm

[2015-10-26 23:39] RickAstIey commented on #2187
Also when this happens and the staff member is duplicated in the /staff command it gets duplicates in oc.tc/play aswell.

[2015-10-27 00:33] #2199 closed, assigned to Qixit

[2015-10-27 00:43] #2201 closed, assigned to nobody

[2015-10-27 01:56] Brokennz commented on #2187
https://gyazo.com/704fec0cd7093b2ac154af007ea94461 & https://gyazo.com/2f52290de906f71962b55bc8ed0ac62b

[2015-10-27 13:31] ghost commented on #2204
Fixed http://prntscr.com/8vw0pd

[2015-10-27 13:31] ghost commented on #2202
Fixed http://prntscr.com/8vw11j

[2015-10-27 15:49] #2202 closed, assigned to nobody

[2015-10-27 15:50] #2204 closed, assigned to nobody

[2015-10-27 18:19] Matilaina opened #2205 "Some bug with the TNT."
I found one bug with the tnt on ssb Halloween, I think the problem is only on this one map but im not sure. so I made one Spread cannon and didn't work, like the tnt just flew 5 or 6 blocks and fall, I saw others cannons from them team and it did not work too. Did I cant record because the map just end and cycle one next

[2015-10-27 20:18] Brokennz opened #2206 "/friends GUI gets an error when trying to log in to a server."
When you do /friends and you click on "Mini01" it will tell you: "No servers matched query".

[2015-10-27 21:04] ghost commented on #2174
Fixed http://prntscr.com/8w1tu4

[2015-10-27 21:41] #2174 closed, assigned to nobody

[2015-10-28 15:12] Oo-TheFrog opened #2207 "XML Update - Chocolate Diamonds"
Added things spooky diamonds has.

https://gist.github.com/Oo-TheFrog/111469739005d8ae6612

[2015-10-28 16:38] iSangui opened #2208 "Section B of the rules in Spanish are in English"
![](https://i.gyazo.com/b7e39394a9ce3f3f759a6de174c1b328.png)

[2015-10-28 16:59] johannestheigen opened #2209 "I can view nicked staff members via /staff Bug"
Well I just check if any mods were on and what the heck I viewed staff members that were nicked :o! I know we can view nicked friends. But these mods are not on my friend list. So why can i still view nicked mods? Is that a bug or a new feature? Please Respond fast as you can!

Video Evidence: https://youtu.be/6gB1stSJ7HM

[2015-10-28 17:03] johannestheigen commented on #2209
Thanks pugzy!

[2015-10-28 17:03] DoomRobotBoy opened #2210 "Map Update - Pixelmix & Pixelmissing"
Change-log:
- Removed iron swords with knockback from all wool rooms and added more golden apples in return
- Redone the wool room interior for the mushroom wool rooms
- Added infinite water sources near the wool rooms on Pixelmissing
- Made the wool room wool color more recognizable (replaced one of the two colored stained clay lines on the side of the island with wool)

Pixelmix 1.2.7: https://w

[2015-10-28 17:03] Pugzy commented on #2208
#1869 "Thanks, we already have an issue for this on the rules repo."

[2015-10-28 17:03] #2208 closed, assigned to nobody

[2015-10-28 17:32] jedediah commented on #2209
fixed

[2015-10-28 17:32] #2209 closed, assigned to nobody

[2015-10-28 17:38] johannestheigen commented on #2209
OMG Thanks!!!

[2015-10-28 18:09] chleongithub opened #2211 "Contribution dosen't show on contributors/authors when you do /map"
Now you can't see what the contributors did on for example Sand Wall.
I am the one who did the XML for Sand Wall and I did /map Sand Wall but my contribution didn't show...
<img src="http://i.imgur.com/IPTYnN9.png" class="img-rounded">

[2015-10-28 18:35] jedediah commented on #2211
fix deployed

[2015-10-28 18:35] #2211 closed, assigned to nobody

[2015-10-28 18:50] 2000thehecf1 opened #2212 "You can't see the winner in +2 months old matches"
You can still see it on the map's page (https://oc.tc/maps/turf_wars?page=55) but when you enter the match's page it doesn't appear (https://oc.tc/matches/55d562cfc8f20d8815004106)

[2015-10-28 19:04] johannestheigen opened #2213 "Switching servers is prevented by a whitelist, but profile still displays the server you tried to switch to"
Well i was just trying to join /server pugzy and normally it says you are not whitelisted but that's not the problem. When i was on destroy and i checked my profile it said i was on server pugzy one min ago? What the heck i was on destroy and my profile said i was on pugzy less than a min ago!!! Please fix this!!!

Video Evidence: https://youtu.be/ucqTYrU2U8c

[2015-10-28 19:13] johannestheigen opened #2214 "Profile Bug"
Well i was just trying to join /server pugzy and normally it says you are not whitelisted but that's not the problem. When i was on destroy and i checked my profile it said i was on server pugzy one min ago? What the heck i was on destroy and my profile said i was on pugzy less than a min ago!!! Please fix this!!!

Video Evidence: https://youtu.be/ucqTYrU2U8c

[2015-10-28 19:14] Brottweiler commented on #2214
dulicate

[2015-10-28 19:14] #2214 closed, assigned to nobody

[2015-10-29 01:18] ghost opened #2215 "You can travel from EU to US using /rtp"
This makes no sense, because you can't use /server EU mini01

[2015-10-29 01:26] ghost opened #2216 "/seen and /rtp reveal nick'ed players"

[2015-10-29 08:11] jedediah commented on #2216
How do they reveal nicked players?

[2015-10-29 14:15] ghost commented on #2216
http://prntscr.com/8wo5b8 | http://prntscr.com/8wo5n3

[2015-10-29 14:18] ghost commented on #2213
This isn´t only in the web, also happens using /friends and /seen

[2015-10-29 20:36] Matilaina opened #2217 "Little blug with the dors"
Observers mode on Next gen.
https://www.youtube.com/watch?v=R0po3ZoPS_I&feature=youtu.be

[2015-10-29 22:47] Pugzy commented on #2217
Client-side only. #1868

[2015-10-29 22:47] #2217 closed, assigned to nobody

[2015-10-30 04:59] ghost commented on #2151
http://prntscr.com/8wxv0w

[2015-10-30 05:02] ghost commented on #2099
Fixed

[2015-10-30 06:08] ghost commented on #1243
https://github.com/OvercastNetwork/Issues/issues/721 | https://github.com/OvercastNetwork/Issues/issues/542

https://github.com/OvercastNetwork/Issues/issues/862

https://github.com/OvercastNetwork/Issues/issues/510

[2015-10-30 06:13] #2099 closed, assigned to nobody

[2015-10-30 06:23] ghost commented on #298
Seems to be fixed http://prntscr.com/8wy9ex

[2015-10-30 10:37] LArrowHead commented on #2151
I guess this particular issue is fixed now, but sometimes staff members are
doubled

On Friday, October 30, 2015, TiTo_418 notifications@github.com wrote:

[2015-10-30 17:38] mattarnold98 opened #2218 "Map update - The grand tournament v0.1(XML)"
https://github.com/yoyopower/YoyoMaps/blob/master/theGrandTournament.xml

Changelog:
- Fixed bug where kits aren't applied correctly.
- Fixed bug where arena 3 round 3 had the wrong spawns.
- Changed the speech at the start.
- Changed when the win is given.

[2015-10-30 22:06] #2151 closed, assigned to nobody

[2015-10-31 00:13] ghost opened #2219 "Incorrect regions on Deepwind Jungle Ranked edition"
https://www.youtube.com/watch?v=Xs62I0y6A54&feature=youtu.be

[2015-10-31 03:18] Strangeys commented on #2219
Should be fixed.

[2015-10-31 03:18] #2219 closed, assigned to nobody

[2015-10-31 03:54] ghost commented on #2124
Isn't fixed https://youtu.be/Rk5AfI63QR4

[2015-11-01 09:42] #2210 closed, assigned to Qixit

[2015-11-01 09:48] #2218 closed, assigned to Qixit

[2015-11-01 09:49] #2207 closed, assigned to Qixit

[2015-11-01 16:21] ghost opened #2220 "Compass non functional when joining CTF team that has flag"
e.g. on xyth joining a team which is waiting for respawn makes the compass non functional.

[2015-11-01 19:58] mattarnold98 opened #2221 "Map update - The grand tournament v0.1.1(XML)"
https://github.com/yoyopower/YoyoMaps/blob/master/theGrandTournament.xml

Changelog:
- add 'unbreakable="true' to obs helmets.
- Expand structure region to fix bug where some blocks remained.
- Change spawn spot for arena3-round3 for two teams. (So they no longer spawn ontop of each other).

[2015-11-01 20:08] stupid3700 opened #2222 "Numerous issues when opting to not display your server publicly"
The following issues occur when the 'Show the server I'm playing on in my profile' option is unchecked.
- Non-friends can see your current server using /seen when you are online, and your last server if you are offline
- Your current/last server are not displayed on your profile for friends (looks to have also been previously reported in #1910; your server is, however, displayed on the friends pag

[2015-11-01 21:24] Brokennz commented on #2021
Issue is now fixed.

[2015-11-01 21:24] #2021 closed, assigned to nobody

[2015-11-02 00:24] #2221 closed, assigned to nobody

[2015-11-02 00:28] Pugzy commented on #2182
![](http://i.imgur.com/Z9PMsHI.png)

Ways to fix this;
- Remove the distance from the death message (when shot into the void).
- Re-word to show that the distance is how far they fell (not shot from).
- Calculate how many blocks they were shot in order for them to be knocked rather than blocks fallen.

@Electroid I still think this is plugin based, if not every map has this "issue" this case just

[2015-11-04 19:07] Zenzoh commented on #2018
It still occurs.

[2015-11-05 21:20] JanPaulMosterdijk opened #2223 "Map update - Ethereal 1.0.1"
a needed update for ethereal
- added ladders to spawnkit
- decreased amount of blocks in spawnkit
- blocks fall ;o (not sure if this works in proto 3.0?, too lazy to update proto, will update if i have to)
- added 4 block spawners
- made the middle bridge region a cuboid so players cant use a tunnel
- removed some cobwebs
- changed content of some chests filled with blocks to ladders

download:  h

[2015-11-06 03:39] ghost commented on #1553
Just tested, fixed

[2015-11-06 13:49] #1553 closed

[2015-11-07 01:09] RickAstIey opened #2224 "Dopamine has two practice servers"
Well there are two Dopamine signs in the TM lobby.

https://gyazo.com/b24c26d8ddec0436388609a41d5e699b

[2015-11-07 02:28] RickAstIey opened #2225 "Forum profile of a banned user displays him as online."
Well this guy is banned but according to his forum profile he is online on Capture(EU)

https://oc.tc/Chabaliero

[2015-11-07 02:34] ghost commented on #2225
Dupe https://github.com/OvercastNetwork/Issues/issues/2048

[2015-11-07 03:52] ghost opened #2226 "Players who are not opped in the practice servers don't have permission to /friends"
Neither /staff or /rtp

[2015-11-07 03:57] #2225 closed, assigned to nobody

[2015-11-07 11:45] ghost opened #2227 "Lobby welcome text still mentions enchanted books"
![image](https://cloud.githubusercontent.com/assets/12920658/11015006/e8dc68c6-8544-11e5-913a-dfb879970333.png)

They've been changed to signs now. Occurs on both US and EU.

[2015-11-07 15:14] Pugzy commented on #2227
#1783

[2015-11-07 15:14] #2227 closed, assigned to nobody

[2015-11-07 19:24] ghost commented on #1523
This also happens on the TM servers, and it's very annoying when you are trying to play a scrimm http://prntscr.com/905r89

[2015-11-07 19:40] ghost commented on #2224
You should change the title to "Dopamine has two practice servers."
http://prntscr.com/905zy4 | https://oc.tc/forums/posts/563d9a175f35b938570002de

[2015-11-07 19:50] ghost opened #2228 "Players can be teleported outside of the world"
Right now on TM servers you can :
/tp someone 99999999 0 0 and crash their client / ilegal position error, if you try:
/minecraft:tp someone 99999999 0 0 it says the number is too big, max is 30000000.

[2015-11-07 21:36] RickAstIey commented on #2224
Zenith has two servers as well.

https://gyazo.com/209c48871d627d144991e18007f01583

[2015-11-08 07:57] #2223 closed, assigned to nobody

[2015-11-08 17:59] stupid3700 commented on #1456
I don't believe this issue is fixed, as I'm still experiencing it.
As a note, it seems that when a friend leaves your current server, they are no longer recognised as your friend.
Before they join your current server, on /fr and /seen their username will appear in italics. Whilst they are on your current server, their name will appear in italics. However, once they leave your current server, their

[2015-11-08 21:14] tonybruess commented on #2228
We're not going to fix this

[2015-11-08 21:14] #2228 closed, assigned to nobody

[2015-11-09 00:38] TiTo-418 commented on #2228
Then can we report the people who do this?

[2015-11-09 01:55] tonybruess commented on #2228
If someone is doing this don't play on their server

[2015-11-09 02:16] Prodigy4532 opened #2229 "Profile issue"
Recently pardoned people can not change their profile.

https://gyazo.com/244cec803fee195a82c49b2de61dc2bd

[2015-11-09 07:03] Brottweiler commented on #2229
You are forum banned, that's why.

[2015-11-09 07:03] #2229 closed, assigned to nobody

[2015-11-09 14:01] Prodigy4532 commented on #2229
Oooo, ok

[2015-11-09 19:00] mattarnold98 opened #2230 "Map update - The grand dueling tournament Version 0.2"
https://github.com/yoyopower/YoyoMaps/blob/master/theGrandTournament.xml

Changelog:
- Remove any chance of a mutation.
- Hopefully refix a bug that was causing some arenas not to drop.
- Add more broadcasts.
- Shorten capture times on a few hills.

[2015-11-09 19:51] Pugzy commented on #2230
One little error with the new alerts you added;

`every="1s" after="5s">`4--> Round 1 is starting <--</alert>`

You can't use `>` and `<` as these are used to close elements instead you need to use `&lt;` for `<`, and `&gt;` for `>` (I had made this change already just an fyi).

[2015-11-10 19:49] 96alexmr opened #2231 "New Lobby Signs Run Three Times"
When you click on the lobby signs to join a server, it tries to teleport you three times.

[2015-11-10 19:50] ghost commented on #2231
Dupe https://github.com/OvercastNetwork/Issues/issues/2197

[2015-11-11 00:32] #2231 closed, assigned to nobody

[2015-11-11 17:18] ghost opened #2232 "Raindrops are recived for destroying own teams wool"
As in, a wool your team has to defend. I assume this is not intended behaviour, however I may be wrong
![An image to illustrate this bug](http://i.imgur.com/Qlo4cKX.png)

[2015-11-12 19:27] mattarnold98 commented on #2232
I always presumed that this was intended (although I may be wrong).

It's a very small reward for defensive kills and it also helps teach new players how to play the game, by providing them with a small reward when they do something good. For example, If you kill an enemy who has your wool you don't want to just leave it there for them to take. You want to destroy it.

[2015-11-12 21:00] odsseus opened #2233 "Outdated Footer and Missing Header on page 500"
![2015-11-12 21 57 55](https://cloud.githubusercontent.com/assets/7188301/11130985/794e24d4-8988-11e5-9a02-3e5cc116532e.png)

[2015-11-12 21:07] ghost commented on #2233
Dupe https://github.com/OvercastNetwork/Issues/issues/1589

[2015-11-12 21:10] odsseus commented on #2233
Oops my bad, closing this.

[2015-11-12 21:10] #2233 closed, assigned to nobody

[2015-11-12 22:27] RickAstIey commented on #2224
It's fixed now!

[2015-11-12 22:27] #2224 closed, assigned to nobody

[2015-11-13 02:43] AnthonyTag commented on #2230
Was this pushed?

[2015-11-13 09:42] Pugzy commented on #2230
@AnthonyTag nope, Yoyo wanted to make a few changes, he sent me the updated version last night.

[2015-11-13 09:43] Pugzy commented on #2232
@yoyopower I believe the bug is that you get points for destroying wool your team must cap not vice versa.

[2015-11-13 15:54] ghost commented on #2232
That's the opposite of what I'm reporting. I'm confused, but if there is a bug here, then I'll leave this open. Confirmation from developer?

I was saying that destroying a wool your team must defend shouldn't give you raindrops, but thinking about it it does seem like the expected behaviour, as why would you destroy a wool you have to capture.

[2015-11-13 16:27] ghost commented on #2232
You don't receive raindrops for destroying your own wool, you receive raindrops for destroying the other team's wool. You can see in the scoreboard how the `Blue team` has to cap the `Orange wool`

[2015-11-13 16:30] Brottweiler commented on #2232
@TiTo-418 Red has to defend orange though, and OP is red, and he broke the orange wool?

Edit: Lol this is confusing. So, as I wrote above, Red defends orange. If blue places safeties of said wool, Red gets raindrops from breaking the wool. This is intended.

Breaking the wool your team has to defend is defence, and earns you raindrops.

[2015-11-13 16:32] #2232 closed, assigned to nobody

[2015-11-13 16:36] ghost commented on #2232
Yes, that's the expected behaviour

[2015-11-13 16:59] ghost commented on #2232
To clarify then, as I'm pretty sure everyone is incredibly confused, wool destruction raindrops should  give for both destroying wool you are defending and wool you are capturing?

[2015-11-13 17:04] Brottweiler commented on #2232
@elephantLocator No. The raindrops you get from destroying wool you defend is because you are doing your team a favor. Destroying this wool prevents the enemy from getting it easier.

When you destroy the wool your team is capturing, you are collecting it yourself (which gives you raindrops for offence) and you are making your teammates not able to get the wool you just took.

The raindrops you ge

[2015-11-13 17:08] ghost commented on #2232
@Brottweiler Okay, makes sense. Giving raindrops when attacking seems to be the bug here then? In other words, the opposite of what I just reported as destroying wool you are meant to be capturing seems like teamgriefing.

[2015-11-13 17:09] Brottweiler commented on #2232
@elephantLocator Are you saying that if you break the wool your team is supposed to cap, you get raindrops? Are you sure that you are getting raindrops from **breaking**, and not **collecting** the wool?

[2015-11-13 17:11] ghost commented on #2232
@Brottweiler Could be what I'm thinking of. I'm terrible at attacking, so we'll have to wait and see if anyone can confirm this, but I seem to recall it giving you raindrops. Don't quote me on that though.

[2015-11-13 17:14] Brottweiler commented on #2232
@elephantLocator You get raindrops when you collect the enemy wool (when the wool you need to cap comes into your inventory). It does not make sense to me that you should get raindrops when breaking this wool, but if you are, then I can't say if it's a bug or feature, but @OvercastNetwork/devs can probably.

[2015-11-14 03:35] AnthonyTag commented on #2230
@iPGz Aight just wanted to make sure this wasn't forgotten about :stuck_out_tongue_winking_eye:

[2015-11-14 11:04] ghost opened #2234 "When an invisibility mutation occours name tags are still visible."
And armour you spawn with, but I don't see a way of fixing that one.

[2015-11-14 13:11] Brottweiler commented on #2234
Invisibility is broken in 1.8.

The armor is vanilla feature.

[2015-11-14 13:33] ghost commented on #2234
Couldn't name tags be disabled like they are in Badlands CTF?

[2015-11-14 13:41] Brottweiler commented on #2234
Not sure if you can disable nametags only because of a mutation. @OvercastNetwork/devs ?

[2015-11-14 13:50] Electroid commented on #2234
It's will be fixed in the next version.

[2015-11-15 18:05] ghost commented on #474
http://prntscr.com/933clv | http://prntscr.com/933jx2

[2015-11-18 18:21] andreskv opened #2235 "Forum bug, posts not showing"
Threads that were recently created have no content, they show 0 posts. http://imgur.com/cSRsobL,xJkLVhZ

[2015-11-18 19:05] andreskv opened #2236 "Internet famous badge"
Internet famous badge shows "Internet Famou" instead of "Internet Famous" http://imgur.com/knN2Y63

[2015-11-18 19:28] JanPaulMosterdijk commented on #2235
urgent! new topics cant be made!

http://i.imgur.com/UzOUtP2.png

it would also be great if we could get notified when the issue is solved.

[2015-11-19 02:39] ghost commented on #2235
Seems to be fixed

[2015-11-19 05:41] #2235 closed, assigned to nobody

[2015-11-20 10:54] #2230 closed, assigned to Pugzy

[2015-11-21 12:06] JanPaulMosterdijk opened #2237 "Map update - Connect 1.0.1"
small update,
- added Qixit as contributor
- added chest near woolrooms with defender supplies
- added gapple + blocks killreward
- boots now have featherfall 2

download:

https://www.dropbox.com/sh/2415nq97vr9l8sp/AADeSI4KpZNhJmRnyLNkAjNxa?dl=0

[2015-11-21 17:20] ghost opened #2238 "Region error messages incorrect on Xyth CTF"
Says "cannot enter own base with flag" when flag is not held, and when enemy base is entered.

![](http://i.imgur.com/4ZLnQcR.png)
Attempted entry of own base
![](http://i.imgur.com/8cK2ZF8.png)
Attempted entry of enemy base

I'm assuming it means "while your own team has the flag"

[2015-11-21 17:22] ghost opened #2239 "Staled punishments viewable when reporting"
Punishments that have staled - i.e. gone from public view are visible in reports to non staff.

[An example](https://oc.tc/reports/564facc8c296356d79001082) where the punishment for iron hoarding is not visible on profile but is on the report.

I guess this could be a feature, but it seems weird to show it to players.

[2015-11-21 17:30] Electroid commented on #2239
@elephantLocator Can you provide a screenshot for reference please?

[2015-11-21 17:34] ghost commented on #2239
![](http://i.imgur.com/4AQgLuw.png)
On the reports page
![](http://i.imgur.com/jaE5py4.png)
On profile

[2015-11-21 18:24] eudaldca commented on #1613
No longer an issue

[2015-11-21 18:24] #1613 closed

[2015-11-21 18:44] Brottweiler commented on #2239
https://github.com/OvercastNetwork/Internal/issues/206

[2015-11-21 23:49] 2000thehecf1 opened #2240 "YouTube channel on profile appear and disappear randomly"
This has been happening for like 3 days and is so annoying, also the people with Let's Play rank is been affected with this as they rank appears and disappears when their channel does.

[2015-11-22 05:32] Brokennz opened #2241 "Halloween maps still in the rotations"
DynaboOo is still in the rotations from Mini04.
Match: https://oc.tc/matches/565152acc8f2a668976bfbb9

(Couldn't find any issue like this one)

[2015-11-22 06:06] mitchts commented on #2241
They _should_ be reverted after server restart. Feel free to reopen if you find any other maps that shouldn't be in the rotation anymore.

[2015-11-22 06:06] #2241 closed, assigned to nobody

[2015-11-22 08:56] chleongithub opened #2242 "Internet Famous is spelled wrong: Internet Famou"
https://oc.tc/Cubist

[2015-11-22 08:59] chleongithub commented on #2242
oh sorry didnt see the issue from oxinous

[2015-11-22 09:05] ghost commented on #2242
You can close this issue yourself

[2015-11-22 09:55] #2242 closed, assigned to nobody

[2015-11-24 21:32] eudaldca commented on #2240
Fixed https://oc.tc/forums/topics/5653a7115f35b97907000092

[2015-11-24 21:33] eudaldca commented on #2236
No longer an issue.

[2015-11-24 21:41] #2236 closed, assigned to nobody

[2015-11-24 21:41] #2240 closed, assigned to nobody

[2015-11-24 22:21] eudaldca opened #2243 "Translated strings get double apostrophes"
Strings containing an apostrophe in Crowdin get two apostrophes instead of one when shown localised.
![2015-11-24_23-20-31](https://cloud.githubusercontent.com/assets/8332105/11382425/1cc6f096-9302-11e5-87eb-e37e09d28681.png)
![2015-11-28_12 08 35](https://cloud.githubusercontent.com/assets/8332105/11451507/c7832202-95c8-11e5-8d72-64cc18582768.png)

[2015-11-27 20:15] JanPaulMosterdijk opened #2244 "Christmas map - Connected"
i only have seen it played 2 times, ill wait for the original map to be updated as well so i can ask for some more setnexts, but i am quite convinced it will play pretty good based on the last 2 tests.

download:

https://www.dropbox.com/sh/lt3w3hvshlt9ltz/AAAEasYfuHhL_ZAmOoH6Y_pYa?dl=0

[2015-11-27 20:30] ghost commented on #2244
You should upload the map in this section of the forum https://oc.tc/forums/53f7a8d1d7c83698b7b67499

[2015-11-27 20:34] JanPaulMosterdijk commented on #2244
oh fuck ur right

[2015-11-27 20:44] samthecat opened #2245 "Map Update - Aleppo 1.2.0"
Both teams spawn with a unique axe that allows them to break the other team's fences to prevent more issues with them.

https://gist.github.com/samtheman43/19cbb484a34f2470400e

[2015-11-27 23:22] JanPaulMosterdijk commented on #2244
looks like we are actually supposed to make an issue about it

[2015-11-28 21:17] samthecat commented on #2245
Progress on this?

[2015-11-28 21:37] Qixit commented on #2245
XML isn't properly indented again, I'll fix it this time though. @samtheman43

[2015-11-28 21:56] #2245 closed, assigned to Qixit

[2015-11-28 22:04] #2237 closed, assigned to Qixit

[2015-11-28 22:08] #2238 closed, assigned to nobody

[2015-11-28 22:24] #2244 closed, assigned to nobody

[2015-11-28 22:50] samthecat commented on #2245
I'm terrible at indenting, sorry lol.

[2015-11-29 09:47] johannestheigen opened #2246 "I can view nicked staff members that has denied my friend request!"
So Qixit is not on my friend list but I can view his nickname while he is nicked online! Please fix this!

Video Evidence: https://youtu.be/eUw4t10cNdk

[2015-11-29 16:36] EyQu opened #2247 "Total War Update"
You only get 20 apples, I think this should be improved

Also maybe remove the invis and strength potions?

Thoughts?

[2015-11-29 16:45] Majjus commented on #2247
Yes, I agree. :+1:

[2015-11-29 19:21] rockymine opened #2248 "Add Snowback - Outback Christmas Edition"
![](http://i.imgur.com/BZbUm2J.png)

Christmas is coming around the corner, I tried my best to prepare Outback for these wonderful days! Lovely snowmans, right? Elves fight against Reindeers :P

_I hope you'll enjoy!_

**Download**

http://www.mediafire.com/download/pe8cilz88x9124x/Snowback.zip

[2015-11-29 20:11] johannestheigen commented on #2247
+1

[2015-11-29 21:09] samthecat commented on #1874
status on this?

[2015-11-29 21:44] samthecat commented on #2245
@Qixit sorry, I switched the fence ID's.

here. https://gist.github.com/samtheman43/19cbb484a34f2470400e

[2015-11-29 23:21] AnthonyTag commented on #2124
Is this an MC bug by any chance? Like a chunk issue? Cause idk how we could really fix a chunk issue. Maybe copy and paste the whole map to a new world? But that may cause even more chunk issues.

[2015-11-30 04:30] ghost commented on #2124
@AnthonyTag I think you can just regenerate that chunk

[2015-11-30 06:09] ghost commented on #2246
I think this is more a website bug than a plugin bug

[2015-11-30 06:19] ghost commented on #2198
No longer an issue

Time zone: Montevideo
<IMG SRC="http://i.imgur.com/ZJ5tJui.png">
Time zone: Buenos aires
<IMG SRC="http://i.imgur.com/0Mlfx9t.png">

[2015-11-30 06:25] ghost commented on #1961
No longer an issue
<img src="http://prntscr.com/98ks25/direct">

[2015-11-30 06:31] ghost commented on #2234
Can you reopen this please and close it when it is fixed? This is the most annoying bug ever

[2015-11-30 06:39] #1338 closed

[2015-11-30 07:03] #1961 closed, assigned to nobody

[2015-11-30 17:57] ghost opened #2249 "EU Lobby signs missing alpha and RAGE"
The sign is missing in the EU lobby since the update.
![2015-11-30_17 55 40](https://cloud.githubusercontent.com/assets/12920658/11479792/b00eb504-978b-11e5-9e7d-aab375e1bb78.png)

[2015-11-30 20:20] ghost opened #2250 "Servers can automatically restart while the match is starting"
Match: https://oc.tc/matches/565b49bec8f2f1a973dfa573
Post: https://oc.tc/forums/topics/565c6e4467d522138000383f

[2015-12-01 02:39] Brokennz opened #2251 "The Grand Dueling Tournament have a massive spam"
After you finish a round, it will tell you all the time: --> ROUND 2 IS STARTING <--.
![2015-11-30_20 30 50](https://cloud.githubusercontent.com/assets/11890645/11490877/76c2ca6c-97a2-11e5-8967-9f14fd12bfb8.png)
![2015-11-30_20 33 55](https://cloud.githubusercontent.com/assets/11890645/11490881/7ae80dd2-97a2-11e5-898e-fb5c68be7655.png)

[2015-12-01 04:34] tonybruess commented on #2198
My guess is this is still an issue (it's no longer daylight savings time)

[2015-12-01 06:34] #2248 closed, assigned to Qixit

[2015-12-01 06:38] Qixit commented on #2249
I see quite a lot of signs in the EU lobby, are there any specific signs missing? A lot of issues regarding Lobby sign bugs were fixed yesterday so it's likely this issue has already been resolved.

[2015-12-01 16:02] Geeeees opened #2252 "Unneeded text when making new post"
![req](https://cloud.githubusercontent.com/assets/13191370/11505988/c2f9c0c8-982b-11e5-86ef-965749bccc0a.png)

[2015-12-01 16:39] ghost commented on #2249
The two specific signs missing are Alpha and RAGE, and they seem to have not been fixed assuming the new lobby has been pushed to the server, as none of the three lobbies have them.

[2015-12-01 20:28] mattarnold98 commented on #2251
This should fix it: https://gist.github.com/yoyopower/8b93adf0c243de882485

[2015-12-01 21:49] itsmartin commented on #1659
Confirmed. Tested just now with both a warn and a kick, neither showed up when I joined.

[2015-12-01 22:07] ghost commented on #1659
@itsmartin Wait, what are you talking about? You don't receive a notification if you get a warn WHILE you are playing or if you get a warn when you are offline and it doesn't show up when you login into the server again?

[2015-12-01 23:50] Superjd10 commented on #1659
@TiTo-418 Notification to offline players about the warn next time they login.

[2015-12-02 00:02] ghost commented on #1659
@Superjd10 Then this is dupe https://github.com/OvercastNetwork/Issues/issues/256

[2015-12-02 06:22] #2251 closed, assigned to Qixit

[2015-12-02 12:35] JanPaulMosterdijk opened #2253 "Christmas map - Frosty Stadium"
map by creephunter, his edit looks pretty great tbh.

not my map but he asked me to package and post it since he doesn't have a github account.

download:

https://www.dropbox.com/sh/za5yui6kgxjhmkt/AAA6bgNYZXxi05cgnh31oBWoa?dl=0

[2015-12-02 13:04] Brottweiler commented on #2253
New maps are posted to the [Submissions](https://oc.tc/forums/53f7a8d1d7c83698b7b67499) forum though?

[2015-12-02 13:11] JanPaulMosterdijk commented on #2253
@Brottweiler  'If you have a map loaded in the repository and create a Christmas/winter themed version of it, make an issue on our issue tracker! '
from this topic:
https://oc.tc/forums/topics/564b9081c296357afd00125e

it may not be clear enough that this is just a christmas version of a map already being in the repo (bouncy stadium).

[2015-12-02 23:53] gilrosenthal opened #2254 "Odd text when replying to thread"
![The weird thing](https://gyazo.com/783dfe3927d7fee111ecdf54a5f6b615.png)
The star and underlined thing, when hovered over, shows the help symbol, but does nothing.
Not 100% sure if this is on purpose or not, but it does not really serve a purpose.

[2015-12-02 23:54] tonybruess commented on #2254
Dupe #2252

[2015-12-02 23:54] #2254 closed, assigned to nobody

[2015-12-03 11:31] itsmartin commented on #1659
Closed in favour of the earlier issue.

[2015-12-03 11:31] #1659 closed

[2015-12-03 11:33] itsmartin commented on #256
I believe this definitely did happen at some point, but at the moment it doesn't seem to be working. This is a fairly serious problem, because players are unaware that they're being warned.

[2015-12-03 15:10] Matic0B opened #2255 "Ranked matches not showing properly"
On the top right in the well it says 0 matches, 0 wins, 0 losses and 0 forfeits but I've lost 2 matches.

![](https://i.gyazo.com/1c295ff25141cd4ef6a3b6d7a93f678b.png)

[2015-12-03 15:22] Brottweiler commented on #2255
Same for mine which are 3 months old, but if you look at [someone with recent ranked matches](https://oc.tc/Matilaina) it shows. So, maybe our matches are old so they don't count anymore? Not sure if such a feature exists, though.

[2015-12-03 15:24] Brottweiler commented on #2255
The stats dissapear for games older than 90 days.

[2015-12-03 15:24] #2255 closed, assigned to nobody

[2015-12-03 19:51] johannestheigen commented on #2246
Yup!

[2015-12-04 02:14] CrazyisCreeps opened #2256 "No arrow kill reward on bow shots - Christmas Eve : Rage"
On the map Christmas Eve : Rage you receive an arrow kill reward for melee, but not for bow shots

[2015-12-04 08:19] JanPaulMosterdijk opened #2257 "Map update - Connected + Connected Christmas 1.0.2"
- lowered buildlimit so people cant jump in the woolroom
- moved the spawners 1 block further from the barrier because wools glitches through the barrier to the other side of the woolroom
- replaced some of the dirt on Connected Christmas by snow

the xml's are identical except the name.

download Connected: https://www.dropbox.com/sh/2415nq97vr9l8sp/AADeSI4KpZNhJmRnyLNkAjNxa?dl=0
download Connect

[2015-12-04 15:52] Pugzy commented on #2257
The regular `Connected` seems to have rain when loaded however quickly stops, not sure what is causing this but I've edited the level.dat to set `raining: 0`.

[2015-12-04 15:56] #2257 closed, assigned to Pugzy

[2015-12-04 15:58] Pugzy commented on #2256
@CrazyCreeper521 are you sure this is the case, XML says arrow for `killreward`, these can't be specified for what type of kill though.

[2015-12-04 16:58] #2249 closed, assigned to Pugzy

[2015-12-04 19:43] Oo-TheFrog opened #2258 "Snowy Diamonds - Christmas Map Update"
XML: https://gist.github.com/Oo-TheFrog/8e8e75dd83fe0a51000d

Map: https://www.dropbox.com/sh/xv3uq5r43ti233x/AADvsqW5a6bd5Y6wGq5fL3lpa?dl=0

[2015-12-04 20:18] JanPaulMosterdijk opened #2259 "Map update - Connected + Connected Christmas"
sorry for the update rain, but i feel responsible for the map since its in the rot.  people could still jump in the woolroom (well, blockglitching, but still), so i added some barriers so they can't jump on the staircase sticking out of the lane.

no xml update, i only changed the world, so as fas as i know i dont need to bump the version number.

connected: https://www.dropbox.com/sh/2415nq97vr9l

[2015-12-05 01:59] 2000thehecf1 opened #2260 "You don't get credit when you kill someone with a bow that throws snowballs"
Chat just says "was hit by a stray snowball" and same when you are shot off a high place or out of the world.

Edit: You can also hit yourself with it.

[2015-12-05 11:01] chleongithub commented on #2259
Did you change the victory monuments?

[2015-12-05 11:28] chleongithub opened #2261 "Merry Drought on capture rotations"
From i know of Merry Drought isn't a capture map. It should be on destroy
EDIT: This only shows on the website for a reason http://i.imgur.com/RKigUl7.jpg

[2015-12-05 11:39] Qixit commented on #2253
Added.

[2015-12-05 11:39] #2253 closed, assigned to Qixit

[2015-12-05 11:40] Pugzy commented on #2261
Yeah it is a DTM, I'll see what I can do.

[2015-12-05 11:54] Pugzy commented on #2261
This map was set-next by a moderator and is not in rotation.

[2015-12-05 11:54] #2261 closed, assigned to nobody

[2015-12-05 12:16] #2259 closed, assigned to Qixit

[2015-12-05 22:43] Oo-TheFrog commented on #2258
Strange added this, ty,

[2015-12-05 22:43] #2258 closed, assigned to nobody

[2015-12-05 23:52] MarcRoizman opened #2262 "Unable to enchant items on Icy Peaks TDM"
There is no way to enchant stuff on Icy Peaks in 1.8, which is sort of a major aspect of the map. Perhaps just add a lapis kill reward? Or maybe just swap it out with a gapple reward, there should be something useful that you get for killing someone.

[2015-12-06 00:32] MarcRoizman commented on #2262
Also, the iron chestplate should be made unbreakable like the boots and hat.

[2015-12-06 01:10] mattarnold98 opened #2263 "Enthral version 1.1.0"
Link: https://gist.github.com/yoyopower/4c87cf2d45012c915fbb

Changelog:
- Matches are now a lot more fast paced.

[2015-12-06 06:27] ghost commented on #2095
Now the page only shows the 11 days old matches, I think this can be closed

[2015-12-06 06:31] ghost commented on #2017
https://oc.tc/forums/topics/5653a7115f35b97907000092?page=1#5653abbf5f35b978dd0000ac

[2015-12-06 06:32] ghost commented on #2018
https://oc.tc/forums/topics/5653a7115f35b97907000092?page=1#5653ab8767d5227a19000132

[2015-12-06 07:11] ghost commented on #1110
This is fixed (http://prntscr.com/9avwvy), but those dropdowns shouldn't exist anymore for the footer's revamp

[2015-12-06 07:15] ghost commented on #1022
Read https://github.com/OvercastNetwork/Issues/issues/1868

[2015-12-06 07:16] ghost commented on #1019
Fixed with the forums' revamp

[2015-12-06 07:51] #1019 closed

[2015-12-06 10:55] #2095 closed, assigned to nobody

[2015-12-06 10:56] rockymine commented on #2263
Link: http://www.mediafire.com/download/dj3mbc938dv4d94/Enthral%282%29.zip

Changelog:
- Fixed some trees
- Filled empty chests
- Added more chests

_The Download only includes: region and level.dat_

[2015-12-06 11:12] Matic0B commented on #2018
@TiTo-418 That doesn't fix anything if your YouTube channel is through Google+. In my example Overcast Network doesn't display there even if it is connected.

[2015-12-06 11:13] Matic0B commented on #2017
@TiTo-418 This is still incorrect when channel is linked. It has been more than 4 hours and I do not have 10 videos.

![](https://i.gyazo.com/5cf846288c454553c7dc2ecbd637d532.png)

[2015-12-06 17:01] johannestheigen opened #2264 "Remove TnT Mutations!"
What is even the point by having tnt mutations? I can tell you the issues. I know tnt mutations can be useful for defending! But it has some issues especially on small maps or ctw maps! It makes more people to grief even players that were trying to defend can be kicked because mods believe they are griefing. I've talked to a bunch of players about this and it seems not everyone enjoys tnt mutation

[2015-12-06 17:04] rockymine commented on #2263
Link: http://www.mediafire.com/download/9l5qhs6ypc74ecc/Enthral+Update.zip

Changelog:
- Fixed two Map Errors
- Added Ladders to Boats
- Campfires!

_The Download only included: region and level.dat_

[2015-12-06 17:06] johannestheigen commented on #2246
Hopefully Cubist aka Last_username will take a look at this.....

[2015-12-06 18:12] Superjd10 commented on #2017
@TiTo-418 Do you have videos unlisted - private?

[2015-12-06 18:13] Superjd10 commented on #2246
@McFanta Be patient. All the issues are known and are most likely being worked in a solution, but those fixes are not "instant" and are not rushed.

[2015-12-06 20:39] ghost commented on #2264
Read the [CONTRIBUTING.md](https://github.com/OvercastNetwork/Issues/blob/master/CONTRIBUTING.md).

"[Do Not] Submit issues that are general suggestions, as opposed to specific, technical bugs or confirmed features"
This would probably be more suited to a post [here](https://oc.tc/forums/4fc17142c46375149200001c) on the website where it possible to gauge community opinion.

Anyway, I think TNT mut

[2015-12-06 22:11] chleongithub commented on #2264
I think tnt mutations are very fun. It happens very unexpected and causes new gameplay.

[2015-12-06 23:29] Strangeys commented on #2263
Done

[2015-12-06 23:29] #2263 closed, assigned to nobody

[2015-12-07 00:40] itsmartin commented on #2264
This issue tracker is for bugs, not suggestions.

[2015-12-07 00:40] #2264 closed, assigned to nobody

[2015-12-07 00:44] itsmartin commented on #1110
#1589 covers the remaining parts of this issue.

[2015-12-07 00:44] #1110 closed

[2015-12-07 17:06] chleongithub opened #2265 "Add Snow Wall (Christmas version of Sand Wall)"
Sand Wall: https://oc.tc/maps/sand_wall
Snow Wall thread: https://oc.tc/forums/topics/5664cf95c29635778d00ab58
Packaged Snow Wall DL: https://www.dropbox.com/s/x7cwwsw5gpjy4u3/Snow%20Wall.zip
XML: https://gist.github.com/chlegists/79d2de07458369aa6b10

[2015-12-07 19:00] Pugzy commented on #2265
@chlegists Are you the author of this map?

The map isn't within the world file and the XML says `Sand Wall`.

[2015-12-07 19:37] JanPaulMosterdijk opened #2266 "oc.tc/maps doesn't sort map ratings corectly"
my map just hit the 300 ratings, and its average is 3.79. It should be on the first map page https://oc.tc/maps/gamemode/ctw ,but it is actually still sitting on the last page, https://oc.tc/maps/gamemode/ctw?page=5

[2015-12-07 19:38] chleongithub commented on #2265
@iPGz No, _3Each is. But i'm the one who takes care about updating and stuff.
Sorry, my bad. New DL: https://www.dropbox.com/s/x7cwwsw5gpjy4u3/Snow%20Wall.zip
I have updated the XML file too.

[2015-12-08 02:42] applenick opened #2267 "Multiple Server connections with Lobby Sign"
When a server sign is right clicked on, It sends 2 joining messages then an "Already Connected" message.

![screen shot 2015-12-07 at 6 36 38 pm](https://cloud.githubusercontent.com/assets/3377659/11646367/389854d0-9d12-11e5-8a80-939f8e50e499.png)

![screen recording 2015-12-07 at 06 39 pm](https://cloud.githubusercontent.com/assets/3377659/11646360/236c66dc-9d12-11e5-9f99-d99873f96fc5.gif)

[2015-12-08 04:58] Brokennz commented on #2267
Dupe #2197

[2015-12-08 05:14] #2267 closed, assigned to nobody

[2015-12-08 05:16] Strangeys commented on #2266
Are you talking about Connected Christmas? It has 3.79 and is on the first page. It must have taken a bit of time.

[2015-12-08 05:16] #2266 closed, assigned to nobody

[2015-12-08 06:50] JanPaulMosterdijk commented on #2266
@thestrangeboy1  it shows differently for me, even when im logged out:

http://m.imgur.com/PWV4wry,sfveiIA

[2015-12-08 15:02] Brokennz opened #2268 "Is unable to see the stats of a team page"
Don't know if this a bug from my Chrome version. If this is not an issue just close it.
![bug](https://cloud.githubusercontent.com/assets/11890645/11658785/3795b56e-9d8a-11e5-8d29-29a0ed758073.png)

[2015-12-08 16:03] Pugzy commented on #2268
Seems to be working fine for me, what version of Chrome are you running and have you tried reloading the page with `Shift + F5`?.

[2015-12-08 17:12] Matic0B commented on #2017
@Superjd10 Was that ment for me? Anyway I'll answer for my case. I have 2 private videos but that still makes 9 in total (7 public) and not 10 as the website says.

[2015-12-08 18:08] Superjd10 commented on #2017
@matic0basle Yeah, it was for you, I messed up.

[2015-12-08 19:10] ghost opened #2269 "/match dosen't work as expected on FFA"
![2015-12-05_18 18 24](https://cloud.githubusercontent.com/assets/12920658/11665400/182bd532-9ddf-11e5-9c7c-22699cd2e5d1.png)

It just displays lots of numbers. The way I guess it should be is displaying the full scoreboard, or the top x and your own score.

[2015-12-08 19:15] rockymine opened #2270 "Snowback - Change Reindeers to Reindeer"
Could some Map Developer please change the name of the purple team from 'Reindeers' to 'Reindeer'?

[2015-12-08 20:11] #2270 closed, assigned to nobody

[2015-12-08 21:37] Brokennz commented on #2268
@iPGz it's now fine.

[2015-12-08 21:37] #2268 closed, assigned to nobody

[2015-12-08 21:52] JanPaulMosterdijk commented on #2266
interesting, it dropped down to 1.78 a few hours ago, 2 mins ago a game ended that bumped it back to 1.78, and that caused it to update for me as well.

[2015-12-08 23:59] Pingy commented on #1022
ok

[2015-12-08 23:59] #1022 closed

[2015-12-09 11:47] ghost commented on #1660
This is still an issue:

<img src="http://prntscr.com/9c3fmh/direct">

<img src="http://prntscr.com/9c3g4q/direct">

<img src="http://prntscr.com/9c3fsz/direct">

<img src="http://prntscr.com/9c3g7g/direct">

[2015-12-09 11:59] Brottweiler commented on #1660
No?

Oh I see, that 5 months old forum ban is stale.

[2015-12-09 11:59] Brottweiler commented on #1660
Oh I see, that 5 months old forum ban is stale.

[2015-12-09 20:15] JanPaulMosterdijk opened #2271 "Cannot connect to oc.tc servers, urgent"
tm.oc.tc had this issue before, http://imgur.com/a/mNlrT, it has 'just another Bungeecord - forced host' as server modt. after some refreshing i am sometimes able to connect, when the modt is fixed.

[2015-12-09 20:30] ghost commented on #2271
Seems to be working for me?

[2015-12-09 20:59] Brottweiler commented on #2271
fixed

[2015-12-09 20:59] #2271 closed, assigned to nobody

[2015-12-10 01:13] gilrosenthal opened #2272 "404 page has 2014 as copyright date"
In case you want to update it

[2015-12-10 01:45] Pugzy commented on #2272
This issue has already been reported, #1589

[2015-12-10 01:45] #2272 closed, assigned to nobody

[2015-12-10 01:56] 96alexmr opened #2273 "Creating a new post, then opening a new page sends the notification to that page."
If you create a post and before it finishes loading and you open another web page on ocn, the notification for the post being successfully created gets sent to the new page and not the thread.

Post created: https://oc.tc/forums/topics/50494e68b944ec59bc00596c?page=134#5668db2467d52266fe001601

Page loaded: http://i.imgur.com/DJEINwI.png

[2015-12-10 05:39] Qixit commented on #2265
@chlegists There still isn't any map within the world file. I spawn in the void.

[2015-12-10 05:46] Qixit commented on #2265
It looks like the only things that have actually been changed are the map and the XML map name. You need to actually update the spawn coordinates, team names and kit names most likely, and other various things. I'll update it this time, but next time you'll need to it yourself.

[2015-12-10 05:47] #2265 closed, assigned to Qixit

[2015-12-10 06:00] #2262 closed, assigned to Qixit

[2015-12-10 07:18] Brottweiler commented on #2273
Happens for anything. If I hide a post, and before it loads go to a new page it sends the notification there. Happens with web reports etc too.

[2015-12-10 13:34] Abusa3 opened #2274 "Some parts of the water can't be removed on Fourchette"
Some parts of water near the back wool room on Fourchette can't be removed. as shown here : https://www.youtube.com/watch?v=cWKE_gMj-6o&feature=youtu.be

This only happens on Blue side, not occuring on Red's.

[2015-12-11 04:09] #2274 closed, assigned to Qixit

[2015-12-11 09:24] JanPaulMosterdijk opened #2275 "Map update - 360° 1.0.1"
- added 2 boats in spawnkit
- replaced webs by barriers to prevent shooting at spawn
- added iron renewable region at both sides
- removed speed potions in woolroom
- changed map.png

download:

https://www.dropbox.com/sh/pzl2od7a6f1l429/AACqZv6te17A2XKW6xYVdSRYa?dl=0

[2015-12-11 12:27] eudaldca commented on #2256
I guess that it's due to #2260.

[2015-12-11 18:37] rockymine opened #2276 "Update Townside' xml"
## Update Townside' xml

Townside, a new CTW, was set over the course of the past two days. I found out that there's some smaller issues that need fixing. Pugzy helped me.

---
- Add the `unbreakable` tag to the `stone shovel` and `iron pickaxe`
- Prevent block placing/breaking at the spawn/-lane

---

I could've fixed the `unbreakable` issue but I decided not to do it since I don't know how to fi

[2015-12-11 21:33] JanPaulMosterdijk opened #2277 "Map update - Ethereal 1.1.0"
- lowered mid hill
- lowered build limit

i may consider adding a void region but i want to see how this plays out first.

download:

https://www.dropbox.com/sh/033siu51lc8hbdl/AAAAsA9Y9xG25qRfLCyRij5-a?dl=0

[2015-12-11 22:34] MySquishyTurtle commented on #2246
I just tested this with my friend LimeSauce after it was brought up to me by Raandom. Raandom can see my friend requests even though I am not his friend, but he has sent me a friend request on the forums. I tested it just now with my friend LimeSauce. I removed him as a friend and he could not see my nickname, then he sent me a request and could see my nickname.

Screenshot of LimeSauce's view: ht

[2015-12-11 22:47] Diamyx opened #2278 "Max number of players for FFA maps displayed incorrectly on oc.tc/play"
![](http://i.imgur.com/WW4hMM6.png)

[2015-12-12 04:53] mitchts commented on #2256
Same issue as what @Eudaldca referenced

[2015-12-12 04:53] #2256 closed, assigned to nobody

[2015-12-12 11:41] johannestheigen commented on #2246
@MySquishyTurtle I can still see most nicked staff that are not in my friendlist. So I think it's a wierd bug with the website.

[2015-12-12 14:15] ghost commented on #2246
@McFanta Are those just staff members who you've added and been denied by for friendships? I think thats what @MySquishyTurtle was saying

[2015-12-12 17:18] johannestheigen commented on #2246
@elephantLocator But still how can I view them? What If a friend of a hacker who is a community member of ocn reveals a nicked staff who has denied his friend request? I am not saying that will happen.

[2015-12-12 17:32] ghost commented on #2246
@McFanta Yea, it's a bug and needs to be fixed. Just clarifying where the bug is, as I haven't been able to replicate it.

Okay, replicated. If a friend request is pending you can see the nickname. I understand now.

[2015-12-12 17:59] rockymine commented on #2276
Download: http://www.mediafire.com/download/9qb9ou9ximsr0y4/Townside1.1.zip

I fixed and issue with the wools, you were able to destroy the flags on the houses of the enemy team. The wool was replaced with stained clay. Furthermore I added unbreakabilty to some tools, extended the respawn time and bumped the team sizes. The map does suit capture and mini very well. So even if the team sizes are 30

[2015-12-12 18:20] johannestheigen commented on #2246
@elephantLocator I think we are done with this discussion. For now let's just wait until @jedediah  (Cubist) will take a look at this.

[2015-12-12 19:11] manmanrod opened #2279 "You don't get the kill when you kill someone in Two Trees."
Video Proof -> https://youtu.be/8nWbQJ-7VLc

[2015-12-12 19:46] JanPaulMosterdijk commented on #2279
its because of the snowballs

https://github.com/OvercastNetwork/Issues/issues/2260

[2015-12-12 23:51] Pugzy commented on #2279
Like said above, #2260

[2015-12-12 23:51] #2279 closed, assigned to nobody

[2015-12-13 03:56] ch4teau opened #2280 "When jr.mods join full teams, they kick out a player on one of the teams to free up space for a "premium player""
I tried to join a match on one of the arcade servers, when I did I kicked out a player. They said that they were shown "You were kicked out to make space for a premium player." (or something similar, not sure what it exactly said). Seems like this doesn't happen to regular moderators.

[2015-12-13 10:15] Pugzy commented on #2280
Moderators are given permissions equivalent to `Dux` thus they are a `premium player`.

[2015-12-13 13:58] Matic0B opened #2281 "L'Automne - You can get stuck when spawning"
I'd say this is very unlikely but it just happened.

![](http://i.imgur.com/sTEY8bt.png)

[2015-12-13 15:17] manmanrod opened #2282 "Ranked1 US is broken."
Screenshot proof -> http://i.imgur.com/1qj9qyV.jpg

You can build and break everything you want. You have creative mode and it's a default world.

[2015-12-13 15:28] manmanrod commented on #2282
Fixed by BrettOgden.

Anyways, Cubist or Electroid you should look into the cause of that.

[2015-12-13 15:31] #2282 closed, assigned to nobody

[2015-12-13 15:54] #2276 closed, assigned to Pugzy

[2015-12-13 16:05] Pugzy commented on #2277
You have given the player two items in `slot="5"`.

You also don't specify sticky blocks, so all gravity blocks fall.

Also `<material>planks</material>` isn't a thing.

[2015-12-13 16:08] ch4teau commented on #2280
but when other mods tried apo

[2015-12-13 16:09] ch4teau commented on #2280
oops, accidentally closed it. When another mod tried on the arcade servers, he couldnt join the game.

[2015-12-13 16:12] JanPaulMosterdijk commented on #2277
@iPGz  hold on a sec, i think i edited an old version of the xml

update: if you redownload the xml, it should be a lot better.

[2015-12-13 17:48] ghost commented on #2280
Premium perks only work before the match has started, so was he trying after the start?

[2015-12-13 17:57] Matic0B opened #2283 "Wrong player sorting on forums"
Just noticed this. Not sure whats up. Look for khazhyk and CiCi

![](https://i.gyazo.com/7cdd99ee15a959b2f7184da876dd1957.png)

[2015-12-13 20:57] itsmartin commented on #2283
Should be fixed, it was due to a hidden group.

[2015-12-13 20:57] #2283 closed, assigned to nobody

[2015-12-13 22:10] Superjd10 commented on #2280
Also, I would think Arcade servers are not connected to the Database, hence they don't get the perks.

[2015-12-13 22:21] Electroid commented on #2280
The player was probably opped.

[2015-12-13 22:21] #2280 closed, assigned to nobody

[2015-12-15 17:14] johannestheigen commented on #2213
@itsmartin Oh thanks

[2015-12-16 15:50] itsmartin opened #2284 "Stats relating to play time are frozen"
[Reported on forums](https://oc.tc/forums/topics/567182bb67d5225c6a000436). The _Hours played_ profile statistic is not updating for people.

[2015-12-16 16:15] #2275 closed, assigned to mattarnold98

[2015-12-16 17:07] #2281 closed, assigned to mattarnold98

[2015-12-16 18:25] 2000thehecf1 commented on #2284
Days played and days observed are too.

[2015-12-17 04:20] TiTo-418 commented on #253
Implemented a few weeks ago

[2015-12-18 17:01] johannestheigen opened #2285 "Update An Overcast Christmas"
The gameplay isn't really good, the map is a huge chokepoint for players. The enchantment system is just chaotic. This map should be updated!

Regards

McFanta_

[2015-12-18 19:52] Matic0B opened #2286 "Forum thread instantly archiving after creating (Map Making - Discussion)"
![](https://i.gyazo.com/6eb1837b63a45b7c74f21060079fb901.png)

![](https://i.gyazo.com/8eac45cefe3982bb5e11108ed6f60eea.png)

I just created a thread under Map Making - Discussion and it was instantly archived. Just posting here since Electroid didn't respond in-game. I'd also like to ask if I could have it un-archived.

[2015-12-18 19:58] mattarnold98 commented on #2285
https://github.com/OvercastNetwork/Issues is for issues such as:
- Map updates (you're the map author posting a download link)
- Bugs

Please keep map recommendations to the forums. Another place this can go is https://github.com/OvercastNetwork/Rotations

[2015-12-18 19:58] #2285 closed, assigned to nobody

[2015-12-18 19:59] itsmartin commented on #2286
Unarchived it. Looks like all new threads are dropping to the end of the list of topics. Presumably an issue with the timestamp.

[2015-12-18 20:01] Matic0B commented on #2286
Thank you for unarchiving it.

[2015-12-18 21:03] Brottweiler commented on #2286
Should be fixed.

[2015-12-18 21:03] #2286 closed, assigned to nobody

[2015-12-19 14:03] ghost opened #2287 "When you type /friends, the nicked name appears instead of the real name"
<img src="http://i.imgur.com/EjWITVm.png">

<img src="http://i.imgur.com/g04x93W.jpg">

[2015-12-19 23:00] 2000thehecf1 opened #2288 "You don't get the objective when you leak the core on Winterhold"
The same as #1747 I guess.

[2015-12-20 00:04] 2000thehecf1 opened #2289 "Some matches' status displays wrong"
Some matches are showed like they're starting while they're already ingame.
https://gyazo.com/b8703218496c150f0a847d44ec94ac22
https://gyazo.com/b7a92eabb0d5d8f5cc7f91b84ca2a50c

[2015-12-20 01:42] #2288 closed, assigned to mattarnold98

[2015-12-20 18:01] stupid3700 commented on #2287
This tends to occur if the nicked friend was on the same server as you, as when they switch to another server, they are not recognised as your friend until you switch servers (notice the name isn't in italics). Ordinarily, their name would be in italics and would be scored out, with their nick displayed to the side of their original, scored out name.
As the server isn't recognising them as your fr

[2015-12-21 10:48] ghost commented on #1948
Seems to be fixed https://youtu.be/b3C7nbLyZX4

[2015-12-21 17:20] ghost commented on #1932
Also occours when blitz mutation is enabled, but says objectives.

![image](https://cloud.githubusercontent.com/assets/12920658/11936613/02991aa4-a807-11e5-9e60-a827b2460af1.png)

[2015-12-21 21:28] Picajoluna opened #2290 "You can't see other players' trophies through /trophies <name>"
Hi,

In-game, one can run /trophies and view their own trophies.
When running "/help trophies", the server returns: "List your trophies, or another player's trophies."

However, you cannot add any arguments/names after /trophies (e.g. "/trophies Apple") other than your own; the server returns: "You do not have permission." This means you cannot actually look up other users' trophy case while in-ga

[2015-12-22 08:00] Saeruh opened #2291 "Missing "Add as Friend" button"
A user couldn't add me as a friend because the button was missing. I didn't have friend requests disabled, and she was also logged in on the forums. She claims that she wasn't able to add anyone – the button was missing on everyone's page. It was eventually fixed after I told her to log out and log back in. I'm not sure how to reproduce the following bug.

Here are some images for reference:
*This

[2015-12-22 10:04] Brottweiler commented on #2291
It was fixed when she relogged, so unless it happens again I'll close this for now.

[2015-12-22 10:04] #2291 closed, assigned to nobody

[2015-12-22 10:28] ghost opened #2292 "You can have multiple paid ranks ingame but not on the website"
For upgradable ranks
![](https://i.gyazo.com/d885ba48ad01790832f251bd2dfb7130.png)

Even for ranks with no expiration date

![](https://i.gyazo.com/9b15a39eda4015d1ed67d181247795a7.png)

I'm assuming this is a bug as it doesn't occur on the website: As soon as I purchased dux my centurion disappeared.

[2015-12-22 10:33] Brottweiler commented on #2292
I just tested this. Bought Imperator, and got this

![](https://i.imgur.com/WYh7z4C.png)

~~Also, in the lobby, I am still only Dux.~~ Lobby was probably not restarted.

![](https://i.imgur.com/tnsheQH.png)

[2015-12-22 13:33] itsmartin commented on #697
Still happens.

[2015-12-22 17:10] ghost commented on #2260
Any chance of just changing the projectiles on all maps which use snowballs until this is fixed?

[2015-12-22 17:17] ImKenner commented on #2289
Still happening.

[2015-12-22 17:24] Brottweiler commented on #2289
@ImKenner Well the issue is open, hence not resolved, so that is no surprise.

[2015-12-22 17:28] ImKenner commented on #2289
Ikr :stuck_out_tongue_winking_eye:

[2015-12-23 18:42] Pugzy commented on #2247
@EyQu any progress on this update? or can this be closed?

[2015-12-23 18:53] #2277 closed, assigned to Pugzy

[2015-12-24 10:07] Timothee38 opened #2293 "Maps that are not `Standard Edition` don't display `map.png` on map page."
The title says pretty much all. But yes, it would be nice to fix that, aesthetic wise.

[2015-12-24 12:54] ghost commented on #697
Fixed (66f740)

[2015-12-24 23:19] Matic0B opened #2294 "Apple Picking - Atlas mapdev server - OBS and playing"
So I joined the game and this happened. I was shown as I was participating in the match but I had the observer hotbar, was in creative and could fly but I couldn't score even though I was in the match.

![](http://i.imgur.com/KIPCF9C.jpg)

[2015-12-25 04:43] Electroid commented on #2294
Map flaw.. And it's just because they raised the player limit.

[2015-12-25 04:43] #2294 closed, assigned to nobody

[2015-12-25 04:44] Electroid commented on #2290
Just because you don't have permission doesn't make the command description invalid.

[2015-12-25 04:44] #2290 closed, assigned to nobody

[2015-12-25 04:50] Electroid commented on #1800
It is enforced. A staff manually cancelled it with `/cancel`.

[2015-12-25 04:50] #1800 closed

[2015-12-25 04:51] Electroid commented on #1763
No longer an issue this is.

[2015-12-25 04:51] #1763 closed

[2015-12-25 04:52] mitchts commented on #697
Switching to `Happy Children` and going to another page, lets say 3, carries over when you go back to the `Wishful Elves` tab and select a page. So selecting a page on wishful (after doing what I've just said) sends me to page 3 of happy children.  `santa?happy=true&happy_page=3&wishful_page=3`

[2015-12-25 05:05] Electroid commented on #12
We decided not to do tipping.. plus we have our two new ranks for this purpose.

[2015-12-25 05:05] #12 closed

[2015-12-25 05:17] Electroid commented on #207
This doesn't happen anymore.

[2015-12-25 05:17] #207 closed

[2015-12-25 11:46] Pugzy commented on #2293
All maps listed have a `map.png` however the `oc.tc/maps` page shows the `Standard Edition` by default (neither Nartica or Limbo 2 are in main repo so they don't have a standard edition).

I would consider this to be a website bug as it should check if the map has a `map.png` for other versions if the standard edition isn't found.

[2015-12-25 13:16] Pugzy opened #2295 "404 page not found.. displaying 'Not found'"
The website `404` page doesn't currently work (directing them to custom 404 page).

For example this link [https://oc.tc/not_a_real_link](https://oc.tc/not_a_real_link) displays a white page with `Not found` in the body.

[2015-12-25 13:29] Pugzy opened #2296 "Both 'play' and 'maps' pages giving incorrect map page URL."
When clicking on `Ranked Boom` on the maps page `oc.tc/maps` the user is directed to the link [oc.tc/maps/boom_ranked](https://oc.tc/maps/boom_ranked). This page 404's.

The play page `oc.tc/play` directs the user towards [oc.tc/maps/boom_ranked:ranked:production](https://oc.tc/maps/boom_ranked:ranked:production). This page also 404's.

I would guess this happens with other maps however `Boom Rank

[2015-12-25 17:32] Matic0B commented on #2295
https://oc.tc/user/ya
That displays a normal 404 page

https://oc.tc/ya
This does not

[2015-12-25 19:51] elephantLocator commented on #2294
Duplicate of #2220 ?

[2015-12-26 02:10] itsmartin commented on #2295
Looks fixed now.

[2015-12-26 02:10] #2295 closed, assigned to nobody

[2015-12-26 02:11] itsmartin commented on #1589
Fixed.

[2015-12-26 02:11] #1589 closed

[2015-12-26 14:15] Timothee38 commented on #2293
@iPGz Oh alright, thanks for the clarification.

[2015-12-26 22:00] chleongithub opened #2297 "Update the map.png on Xi"
I feel like the current map.png is too stretched and it needs a replacement.
New map.png: http://i.imgur.com/MKh3Uge.png
Xi: https://oc.tc/maps/xi

[2015-12-27 01:17] 96alexmr commented on #2260
This is actually a little annoying. Especially on maps like Two Trees were a bow is the main weapon.

[2015-12-27 05:47] mitchts commented on #2260
I've temporarily removed the projectile modifier from the following maps:
- CTF\Christmas\Christmas Sanctuary
- CTW\Christmas\Two Trees
- CTW\Standard\Cloud Nine
- DTC\Christmas\Holiday Blocks
- DTM\Standard\Blizzard
- DTM\Standard\Glacial Impact 2
- KOTH\Christmas\Aaerhohohos
- KOTH\Christmas\Blizz Christmas
- KOTH\Standard\Blizz
- TDM\Christmas\Festive Venice
- TDM\Christmas\Snow
- TDM\Standard\

[2015-12-27 07:16] mitchts commented on #2297
Done

[2015-12-27 07:16] #2297 closed, assigned to nobody

[2015-12-27 07:20] mitchts commented on #2063
Was fixed in https://github.com/OvercastNetwork/Maps/commit/04458516b479bb9bbdf9dacb8e12642f94a2af4b

[2015-12-27 07:20] #2063 closed, assigned to nobody

[2015-12-28 01:42] ghost opened #2298 "Icons' HTML code is displayed in the nav bar"
<img src="http://prntscr.com/9j9svv/direct">

[2015-12-28 10:00] Electroid commented on #1217
Isn't an issue anymore.

[2015-12-28 10:00] #1217 closed

[2015-12-28 10:16] Electroid commented on #1422
Deployed soon.

[2015-12-28 10:21] Electroid commented on #697
Not anymore.

[2015-12-28 10:21] #697 closed

[2015-12-28 10:30] Electroid commented on #601
There isn't any bug about it.

[2015-12-28 10:30] #601 closed

[2015-12-28 10:33] Electroid commented on #1044
This was fixed a while ago.. it's also just a simple permissions thing.

[2015-12-28 10:33] #1044 closed

[2015-12-28 10:36] Electroid commented on #1609
Doesn't occur anymore.

[2015-12-28 10:36] #1609 closed

[2015-12-28 11:28] chleongithub opened #2299 "Map update: Xi 1.1.1"
Updates in this version:
- Reduced the amount of trees by about 2/5
- Fixed the water glitch
- Added a defending kit chest
- Updated the map.png to the most recent version
- Added a <broadcast> node which says that there are 3 diamond blocks behind the spawn
- Removed some of the water and replaced it with stained glass or ice

<a href="https://gist.github.com/chlegists/995820c0dbb5af74f927">XML</

[2015-12-28 19:14] Electroid commented on #2
It hath been done, deployed soon.

[2015-12-28 19:14] #2 closed

[2015-12-28 19:55] #298 closed

[2015-12-28 20:46] ghost commented on #2
Any chance of a tooltip saying the server - would probably make it easier to understand and add more functionality to the feature.

Can I suggest things on a suggestion, or am I still breaking the rules? :stuck_out_tongue:

[2015-12-28 21:14] ghost opened #2300 "Staff (?) showing as online on website when not."

[2015-12-28 21:16] ghost commented on #2300
Actually not an issue. Was on Riot, leading to not being on list on play.

[2015-12-28 21:16] #2300 closed, assigned to nobody

[2015-12-30 15:24] chleongithub commented on #2299
I updated the xml: https://gist.github.com/chlegists/995820c0dbb5af74f927. Please use that xml instead of the one in the download

[2015-12-31 14:39] Tapetepato opened #2301 "Matches on FFA maps do not show the players on the match"
Example:
https://oc.tc/matches/5684c2b0c8f2450feca50ea2
https://oc.tc/matches/5684b24ec8f2450feca5083d

[2015-12-31 22:33] DoomRobotBoy opened #2302 "The Suburbs FFA Update"
DL: https://www.dropbox.com/s/ed5rua46ea1w31n/The%20Suburbs%20FFA.zip?dl=0
- fixed void holes
- added regen on killreward
- removed slowness at start
- made tall grass breakable (along with the existing (white) glass pane)

[2016-01-01 08:34] Electroid commented on #2252
Deployed soon.

[2016-01-01 08:34] #2252 closed, assigned to nobody

[2016-01-01 18:44] Tapetepato opened #2303 "Out of the world and off a high place shots take distance incorrectly."
The message for this shots is for example:

Player1 was shot out of the world by Player2 from 200 blocks.
The thing is, the message implies that the player was shot from a distance, meaning, the distance from the shooter to the place the player was shot. But instead it takes another place (i think the place where they died in the void). This causes shots to be incredibly long,for example, on a map

[2016-01-01 18:51] ghost commented on #2303
https://github.com/OvercastNetwork/Issues/issues/2182

[2016-01-01 20:52] #2303 closed, assigned to nobody

[2016-01-02 03:05] jedediah commented on #2250
fixed

[2016-01-02 03:05] Qixit commented on #2250
Should be fixed now, basing off this (https://oc.tc/forums/topics/5686dadb67d522590c001c4f)

[2016-01-02 10:01] mitchts commented on #2302
Done

[2016-01-02 10:01] #2302 closed, assigned to nobody

[2016-01-02 10:15] mitchts commented on #2205
I can't seem to reproduce this at all. If this becomes an issue again, please record it.

[2016-01-02 10:15] #2205 closed, assigned to nobody

[2016-01-02 12:13] ghost opened #2304 "Riot on EU lobby as well as US lobby as well as recurrence of #2249"
The weird thing where Torn is brutally murdering little children is shown on the EU lobby as well as the US lobby, when there is no riot server.
![2016-01-02_12 13 06](https://cloud.githubusercontent.com/assets/12920658/12074414/3bbd829c-b14a-11e5-99a8-8bce8160f898.png)

Also the signs for Alpha and RAGE are missing again #2249

[2016-01-02 12:14] ghost commented on #2249
Now occours again

[2016-01-02 15:35] Brokennz commented on #2304
Yes there is a Riot server, just type /server riot.

[2016-01-02 16:02] rockymine opened #2305 "Update Underpass to 1.0.1"
Some changes.

Download: http://www.mediafire.com/download/mkf6ia1pawb56jp/Underpass.zip

[2016-01-02 16:26] #2305 closed, assigned to nobody

[2016-01-02 16:38] LArrowHead opened #2306 "Larnia Update v 1.5.4"
https://github.com/LArrowHead/Maps-XML/blob/master/Larnia

Changelog:

[2016-01-02 17:18] ghost commented on #2304
@brokennz On EU as well?

I don't think so, as I'm getting "No servers matched query" and there is no rotation document at [OvercastNetwork/rotations](https://github.com/OvercastNetwork/Rotations)

[2016-01-02 23:13] Matic0B opened #2307 "Navbar in two rows"
![](https://i.gyazo.com/602f8f4041d98e78c93e61d6f637f635.png)

Probably won't happen often since theres a stream, notification and sale at this point that causes it.

[2016-01-02 23:18] ghost commented on #2307
Dupe of #2139?

[2016-01-02 23:19] #2307 closed, assigned to nobody

[2016-01-03 00:05] ghost opened #2308 "Ranked matches already in "Team Huddle" appear as enchanted in the server picker sign"
A ranked match that has already began the "Team Huddle" (which prevents anyone else joining) will still show as enchanted in the server picker sign

![1](http://i.imgur.com/dPIuqaI.png)

A "match in progress" sign (left) should be used for matches in Team Huddle already, whereas they use the "not started" sign (right)

[2016-01-03 03:33] #2306 closed, assigned to nobody

[2016-01-03 03:35] Pugzy commented on #2304
Hmm yeah this is an issue, I'll see if we can replace the center piece with something else.

[2016-01-03 05:37] Electroid commented on #121
It hath been done.

[2016-01-03 05:37] #121 closed

[2016-01-03 05:39] Electroid commented on #2139
Not anymore it is.

[2016-01-03 05:39] #2139 closed, assigned to nobody

[2016-01-03 14:29] ghost opened #2309 "Using the little "x"s to unsubscribe from topics on the my subscriptions page results in 404 error"
Using the "x"s to the right of the post results in a 404 error, and you are not unsubscribed. Tested with multiple posts and get same result.
![](https://i.gyazo.com/4d2a42d1387ea131d8bce5379aa961f4.gif)

[2016-01-03 23:33] jedediah commented on #2182
this is a bug, it's supposed to display the shot distance

[2016-01-04 01:59] #2309 closed, assigned to nobody

[2016-01-04 05:32] Electroid commented on #1819
The command was changed to `/leave`. `/join obs` exists for legacy support only.

[2016-01-04 05:32] #1819 closed

[2016-01-04 05:34] Electroid commented on #1785
This doesn't happen anymore.

[2016-01-04 18:19] Brottweiler commented on #1785
![2016-01-04_19 15 14](https://cloud.githubusercontent.com/assets/1613137/12096763/f37493fc-b317-11e5-8d55-53cea64dede8.png)

When I was going to TP to him I noticed he had switched servers.

Rejoining the server "fixed" it.

[2016-01-04 18:57] Electroid commented on #253
Nah. If you can hide your own stuff you should be able to see them.

[2016-01-04 18:57] #253 closed

[2016-01-05 20:30] chleongithub commented on #2299
new dl: https://www.dropbox.com/s/gkpfh8df65uxvha/xi%20v1.1.1.zip

[2016-01-05 22:27] TiTo-418 commented on #2243
fixed

[2016-01-07 03:09] AnthonyTag commented on #2247
closing due to inactivity

[2016-01-07 03:09] #2247 closed, assigned to nobody

[2016-01-07 03:10] AnthonyTag commented on #1879
Are there any more maps that need fixing? Preferably only rot maps although I understand if it's a map that is in the repo and set a lot.

[2016-01-07 03:14] AnthonyTag commented on #2299
@yoyopower any update on this? Are you guys working this out or does this still need to get done?

[2016-01-07 03:16] AnthonyTag commented on #2304
Just rename the item stands to something like "Welcome to Overcast Network"

[2016-01-07 12:51] itsmartin commented on #86
I think it's fine to let topics archive in all subforums. If something needs to remain open for questions, it can be pinned, which prevents it from archiving.

[2016-01-07 12:51] #86 closed

[2016-01-07 12:53] itsmartin commented on #248
Not needed since we have the reports tab.

[2016-01-07 12:53] #248 closed

[2016-01-07 12:53] itsmartin commented on #255
This was fixed a while ago.

[2016-01-07 12:53] #255 closed

[2016-01-07 13:12] eudaldca opened #2310 "Returned flags disappearing"
![2016-01-07_14 07 19](https://cloud.githubusercontent.com/assets/8332105/12171261/9be0289e-b548-11e5-94dd-9cd9929e77c8.png)
![2016-01-07_14 09 02](https://cloud.githubusercontent.com/assets/8332105/12171262/9e742d44-b548-11e5-8565-973cf40318c3.png)

[2016-01-07 13:14] AnthonyTag commented on #2310
I have no idea what would be causing this. Possibly plugin related? Maybe map/client?

[2016-01-07 13:17] eudaldca commented on #2310
Must be a plugin bug, since that map hasn't had any issues afaik

[2016-01-07 13:18] #721 closed

[2016-01-07 13:28] chleongithub commented on #2299
I think its done @AnthonyTag

[2016-01-07 18:56] eudaldca opened #2311 "Switched servers friend joinmessages sometimes don't appear"
![](http://i.imgur.com/5bBfxw2.png)

[2016-01-07 19:00] eudaldca commented on #2243
Not entirely @TiTo-418
![](http://i.imgur.com/nZfLklL.png)

[2016-01-07 19:15] ghost commented on #2311
https://github.com/OvercastNetwork/Issues/issues/1456

[2016-01-07 19:22] #2311 closed, assigned to nobody

[2016-01-07 19:52] ghost commented on #884
https://github.com/OvercastNetwork/Issues/issues/704

[2016-01-07 19:59] #884 closed

[2016-01-07 20:00] ghost commented on #1478
You're supposed to don't have more than one star, https://github.com/OvercastNetwork/Issues/issues/2292

[2016-01-07 20:06] itsmartin commented on #1478
Not sure what determines the flair order, but this will be a non-issue soon anyway when #2292 is fixed.

[2016-01-07 20:06] #1478 closed

[2016-01-08 14:40] Diamyx opened #2312 "Divided v1.0.3 Update"
- Made broadcasts popup more often
- Changed flag area
- Moved flags up 1 block
- Changed middle area
- Aesthetic changes

XML and world files: https://www.mediafire.com/?b6jfjd5sch3elok

[2016-01-08 17:00] ghost commented on #1785
I've had the same thing happen. TPing showed him as offline, RTPing showed him as having been on the last server I was on. Guessing this must be the cause of it?

[2016-01-08 22:03] Timothee38 opened #2313 "Spawnkilling is an issue on RFV3"
At this moment, people just shoot the iron supplies with all the no-stuff players. This is quite a bit of an issue, as the new rule declares that spawnkilling/camping is basically allowed. Although, I think a fix would be good as the map is just not fun due to this spawnkilling issue.

I suggest barrier blocks to be added on the top of the iron supplies for both spawns.

[2016-01-09 00:15] ghost commented on #2313
https://oc.tc/forums/topics/55e23c61c29635f9be000596?page=6

[2016-01-09 10:17] ghost opened #2314 "Show button appears on threads when user has no permission"
<a href="https://tito418.gyazo.com/3b4a674a3e969c8e63f2f14f10f56fde"><img src="https://t.gyazo.com/teams/tito418/3b4a674a3e969c8e63f2f14f10f56fde.png" alt="https://tito418.gyazo.com/3b4a674a3e969c8e63f2f14f10f56fde"/></a>

<a href="https://tito418.gyazo.com/bbdd665bb1cb67244af4649990def0d9"><img src="https://t.gyazo.com/teams/tito418/bbdd665bb1cb67244af4649990def0d9.png" alt="https://tito418.gyazo

[2016-01-09 11:36] Pugzy commented on #2310
Isn't this one of the maps where the flag doesn't respawn unless you capture both flags?

[2016-01-09 11:55] Timothee38 commented on #2313
@TiTo-418 http://puu.sh/mpbob/2d610214c2.jpg

[2016-01-09 14:05] Matic0B commented on #2314
You should actually be able to see your own hidden posts and show them. Like you can hide your posts but not other peoples.

[2016-01-09 14:06] #2310 closed, assigned to nobody

[2016-01-09 14:06] eudaldca commented on #2310
Didn't notice, my bad.

[2016-01-09 14:21] itsmartin commented on #2314
@matic0basle that won't be possible until we have a way of tracking who hid the post.

[2016-01-09 15:56] #2299 closed, assigned to mattarnold98

[2016-01-09 19:34] chleongithub opened #2315 "Allow the map creator to disable mutations on their own map"
It just happened on my map Xi during a test and it just broke the whole gameplay and everyone began to rate it 1. It just pissed me off so much when it happened.

[2016-01-09 20:02] CoWinkKeyDinkInc commented on #2315
I'm sure there is an XML option to disable that.

[2016-01-09 20:06] itsmartin commented on #2315
You can disable all mutations for a map, or change the probability of specific ones, in XML.

Also, please use the forums for feature requests - github is for bugs only.

[2016-01-09 20:06] #2315 closed, assigned to nobody

[2016-01-09 20:14] ghost commented on #2315
[When this is implemented](https://oc.tc/forums/topics/566b51df67d522188e0020ad)

[2016-01-09 23:09] Qixit commented on #2124
@TiTo-418 Video is private. I'll look into this again, but the video could help.

[2016-01-09 23:31] Qixit commented on #2124
I already created new chunks on all\* versions of the Fenland (http://imgur.com/bUuRY3l).

[2016-01-10 03:04] ghost commented on #2124
@Qixit It's public again, sorry

[2016-01-10 05:32] #2312 closed, assigned to Qixit

[2016-01-10 06:05] Qixit commented on #2313
I don't mind where the issues are made, forums or github. I've added barrier blocks to each spawn to prevent projectiles from entering.

[2016-01-10 06:05] #2313 closed, assigned to Qixit

[2016-01-10 15:52] manmanrod opened #2316 "Show command /toggle ChatModerator when users don't have permissions."
![Screenshot](http://i.imgur.com/l09O4cc.jpg) ![Screenshot](http://i.imgur.com/akhiZFN.jpg)

[2016-01-10 15:59] itsmartin commented on #2316
All users can use this command, it toggles chatmoderator for messages they receive, not ones they send.

[2016-01-10 15:59] #2316 closed, assigned to nobody

[2016-01-10 21:11] ghost commented on #2098
Seems to be fixed now.

![](https://i.gyazo.com/b4d3fa2a0486d2ab96e6e504c613a904.png)

[2016-01-10 22:32] #2098 closed, assigned to nobody

[2016-01-11 10:12] Qixit commented on #2124
Thanks @TiTo-418 ! I reproduced the problem, however this issue is quite unique: The chunk say's its there in Mcedit, however it acts as if it isn't. The only way of fixing it was adding a block in the chunk, while in mcedit, so for the time being there's a single barrier block located past the max build height.
http://imgur.com/GGRRFJM

[2016-01-11 10:12] #2124 closed, assigned to Qixit

[2016-01-11 13:52] AnthonyTag commented on #1879
I'm just gonna close this. If something comes up with multiple maps we can reopen it. Otherwise, just make an issue for a specific map.

[2016-01-11 13:52] #1879 closed

[2016-01-11 13:53] Matic0B commented on #2098
Just also going to put this here and also I'd like a responce from an admin:
Could you make the premium perks picture better? It looks very cluttered and also doesn't state the raindrop multiplier.

I know this isn't for suggestions but I'd just like a quick answer. @Brottweiler @itsmartin

[2016-01-11 13:59] itsmartin commented on #2098
@matic0basle: Forwarded that feedback to the creative team.

[2016-01-11 16:30] AnthonyTag commented on #1674
I'll try to look into some of this. This issue has been open for way too long.

[2016-01-11 16:33] AnthonyTag commented on #2304
Err actually, my previous idea would not work. I was thinking of renaming the item stands in **just** EU but with our current setup for lobbies, that is unable to happen.

Maybe it's best to just wait for Riot to be out of Beta and have a server on EU?

[2016-01-12 00:43] Pugzy commented on #2304
@AnthonyTag I think the best suggestions is the one you mentioned five days ago, something generic and not server specific. Do you know if anyone is currently actively working on updating the lobby at the moment. As I've seen a few issues and bugs that people keep reporting.

[2016-01-12 02:07] AnthonyTag commented on #1674
- Kill rewards fixed
- Scout gets speed (maybe it was fixed previously?)
- Kinda difficult to disable fall damage for the leprechaun class, would need to update all GS XMLs to 1.4.0
  - Also kinda think it's a plugin bug that double jump doesn't automatically give no fall but idk

Can't figure out why Blocks would be causing lag. Also don't notice frame drops myself.

[2016-01-12 07:42] SheriffSoco commented on #1674
Is there someway you could fix potion particles? It has something to do
with the effect order.

On Mon, Jan 11, 2016 at 6:07 PM, Anthony T notifications@github.com wrote:

[2016-01-12 14:04] AnthonyTag commented on #2304
@iPGz No idea, I pushed a fix yesterday for a few other issues, but I don't know if anyone is working on it...I'd assume you're fine to fix it.

[2016-01-12 23:11] Brettogden commented on #2304
The recent update removed the riot area on US & EU lobbies. This isn't an issue anymore.

[2016-01-12 23:11] #2304 closed, assigned to nobody

[2016-01-13 19:17] johannestheigen opened #2317 "[Web Bug] Wrong Copyright Year On Translate.oc.tc and docs.oc.tc"
So I Was Just Checking Translate.oc.tc for some reason because I wanted to take a look at it again and then I saw that the copyright year was 2014 and I believe it is supposed to be 2016. Same with docs.oc.tc, I were there because I wanted To check some xml stuff there for maps and then I saw the same error (bug) there too. the copyright year was 2015 and I know it should be or supposed to be 2015

[2016-01-13 19:29] johannestheigen commented on #2317
Thanks @yoyopower (Yoyo_) Fun bug right?

[2016-01-13 19:29] ghost commented on #2317
#1699 for translate.oc.tc

For docs, I'm confused. I thought I had fixed it in OvercastNetwork/docs.oc.tc/pull/206, but apparently no change is seen. What did I do wrong this time?

[2016-01-13 19:30] johannestheigen commented on #2317
@elephantLocator I believe you fixed the main website not docs. I may be wrong or not :P!

[2016-01-13 19:33] #2317 closed, assigned to nobody

[2016-01-13 19:34] itsmartin commented on #2317
Docs will update when it's deployed.

[2016-01-13 19:35] johannestheigen commented on #2317
what about translate @itsmartin

[2016-01-13 19:37] ghost commented on #2317
@itsmartin I see. Assuming the nice yellow highlighting doesn't work on the docs revisions page then :(

well I'm an idiot. See what's going on now :/

[2016-01-13 19:58] itsmartin commented on #2317
@elephantLocator I'm not sure what the revisions page shows, but the docs front page shows what the latest revision that's been deployed is.

@McFanta the issue mentioned above is for translate.

[2016-01-13 20:14] johannestheigen commented on #2317
okay

[2016-01-16 06:56] PoseidonsM opened #2318 "/leave when in danger"
When using /leave while falling through the void the "you joined observers" message showed however so did the "you're in too much danger" message. I didn't switch teams to observers so this isn't urgent.

http://puu.sh/mxypM/66a23d5b82.png

[2016-01-16 14:32] JanPaulMosterdijk opened #2319 "Map update - 360° 2.0.0"
I am very happy about the fact that you permanently added Connected to the rotations and I get a great feeling inside when i see so many people play my maps. I'll try to continue making maps purely because i love to see people play them and I'll try to not think about any other frustrations about how some things are currently handled by the staff. I am trying to be a lot less active on the forums

[2016-01-17 08:26] sovrynn opened #2320 "Overcast Stats - Playing time not updating"
Hello, I was looking at my friends account and it says he has only played 3 hours, when I am sure that he has played for multiple days at least.

Also, on my stats my playing time has stayed at 71 hours for probably 1-2 months now. I remember seeing that number a long time ago.

My IGN is Jongh.

[2016-01-17 08:29] sovrynn opened #2321 "In-game Server Player count not updating"
In-game, when I use the sign and hover over the servers, sometimes the number says 0/x, but when I join, the game has been going for a while and it's nowhere near empty. This happened several times on Alpha, Capture1, and mini servers.

[2016-01-17 08:59] ghost commented on #2320
https://github.com/OvercastNetwork/Issues/issues/2284

[2016-01-17 09:04] #2320 closed, assigned to nobody

[2016-01-17 10:16] JanPaulMosterdijk opened #2322 "Map update - Connected 1.0.4"
Changelog:
- jumping from the skybrige into the woolroom is now impossible unless someone punches you from the skybridge
- added 2 more exits out of the woolroom to prevent bowspamming
- added iron shovel to the spawnkit
- added ladders to the spawnkit

This should be the last update necessary for Connected.

download: https://www.dropbox.com/sh/2415nq97vr9l8sp/AADeSI4KpZNhJmRnyLNkAjNxa?dl=0

[2016-01-17 17:34] JanPaulMosterdijk opened #2323 "Map update - Ethereal 1.2.0"
Changelog:
- removed the hill, replaced it by a void gap
- lowered build limit to 45
- added a room in the bedrock at the midlines so there are more places to bridge from
- increased victory monument protection region
- added ladders to the itemremove
- replaced the glass at the spawns with barriers so people can't hit the opponent through it
- added a barrier roof to prevent player from glitching

[2016-01-17 21:26] DoomRobotBoy opened #2324 "Map Update - PixelMix v1.2.9"
DL: https://www.dropbox.com/s/aasc58zoiopo54u/PixelMix%201.2.9.zip?dl=0

Change-log:
- added basic anti-rush walls
- changed design of some parts
- less wool in the wool rooms

![2016-01-17_21 56 18](https://cloud.githubusercontent.com/assets/8007420/12380066/5b5f4af6-bd69-11e5-8e83-ced22eed9b1e.png)

[2016-01-17 23:22] AnthonyTag commented on #2321
Could this be because the people on the servers are in observers?

[2016-01-17 23:33] #2324 closed, assigned to AnthonyTag

[2016-01-17 23:39] #2319 closed, assigned to nobody

[2016-01-17 23:48] NixaniaXi commented on #2322
Are you sure you updated the XML in the download?

[2016-01-17 23:58] AnthonyTag commented on #2319
The sugar in the wool room was named `Snus` which references drugs so I feel it is not very appropriate. Removing and and pushing another update

[2016-01-18 05:11] sovrynn commented on #2321
No, the teams all had a good amount of players.

It might have just been a few coincidental glitches, who knows

[2016-01-18 05:43] JanPaulMosterdijk commented on #2322
@NixaniaXi ashit that almost went wrong! Check again, it should be 1.0.4 now.

[2016-01-18 06:24] #1674 closed

[2016-01-18 06:26] AnthonyTag commented on #2323
It seems as if the XML is not correctly updated.

[2016-01-18 06:55] JanPaulMosterdijk commented on #2323
@AnthonyTag xml is from 13.12.15 ... i forgot to upload the xml file again, ill upload it in like 10 hours, sorry.

[2016-01-18 07:10] 96alexmr opened #2325 "[Map Update] - Equinox 1.2.0"
Changelog:
- Lowered points to 300
- Circle Center
- Modified bridges
- Portals to center

This update was really to make it more fair and easier for teams to get the hill back, instead of one team getting it and never loosing it.

Download: https://www.dropbox.com/s/w5ju9c09fbf9j5w/Equinox.zip?dl=0

[2016-01-18 09:47] 2000thehecf1 commented on #2321
Probably #2289

[2016-01-18 13:10] ghost commented on #2250
It isn't fixed in normal servers
![2016-01-18_10 08 12](https://cloud.githubusercontent.com/assets/11008016/12392152/980a4c6e-bdcb-11e5-9f79-1896d20958f8.png)

[2016-01-18 13:54] itsmartin commented on #2250
us-capture1

[code]

[2016-01-18 17:03] JanPaulMosterdijk commented on #2323
@AnthonyTag I updated the download, sorry for the inconvenience.

[2016-01-18 20:03] eudaldca commented on #2243
What Tito said was that it got fixed, but that was only for death messages, and only during some time. It now still appears. ![](http://i.imgur.com/F8RuKEl.png)

[2016-01-19 13:07] #2322 closed, assigned to NixaniaXi

[2016-01-19 13:13] #2325 closed, assigned to NixaniaXi

[2016-01-19 20:09] chleongithub opened #2326 "Update Xi to 1.1.3"
Last testing did NOT go well. Someone found out that you could place iron blocks in the spawn, so of course there was some guy trolling his teammates by blocking the spawn-drop so that they were dying of falling to the ground. This has been fixed by simply just replacing the <code>apply block=""</code> tag with <code>apply block-break=""</code>.

I also enlarged the void gap.

<a href="https://www

[2016-01-19 20:35] cpsiff opened #2327 "Inaccuracy in our privacy policy"
The privacy policy says: "All text sent through in-game chat or private messaging on our servers is saved indefinitely."

We should specify that we do not keep logs for mapdev servers.

[2016-01-19 20:38] itsmartin commented on #2327
Changing it to "may be" would suffice, but this doesn't really matter... the privacy policy doesn't exist to make any guarantees about logging, it exists to inform players of what we may store and how we may use their information.

Also, I believe logs are kept, they are just less accessible than logs of public servers.

[2016-01-19 20:38] #2327 closed, assigned to nobody

[2016-01-20 12:32] #2326 closed, assigned to Qixit

[2016-01-21 20:44] Pugzy opened #2328 "Private messages don't allow multiple strings"
Development Server, nothing to see here..

[2016-01-21 20:45] #2328 closed, assigned to nobody

[2016-01-22 00:33] #2323 closed, assigned to AnthonyTag

[2016-01-22 18:52] Diamyx opened #2329 "Players without a TNT license can't use dispensers/droppers at all (even when they don't have TNT in them)"
Seems to be a problem on maps where you have to dispense a boat to get out of spawn, and it should really only restrict it so that you can't use dispensers if they have TNT in them.

[2016-01-22 23:00] ghost commented on #2292
Fixed now

[2016-01-22 23:00] #2292 closed, assigned to nobody

[2016-01-23 05:46] 96alexmr opened #2330 "Issue with Prefixes?"
I noticed that Qixit instead of having his mod star, his name was red missing the star. I think the star missing caused the color given to the prefix to display his name as red.

http://i.imgur.com/1B3GUgv.png
http://i.imgur.com/4PyQtD6.jpg

[2016-01-23 06:18] jedediah commented on #2330
fixed

[2016-01-23 06:18] #2330 closed, assigned to nobody

[2016-01-23 12:45] Diamyx opened #2331 "People have yellow names in lobby join messages"
![](http://i.imgur.com/Vurzivq.png)
- Can't see if they have a rank either.
- Doesn't seem to be the case on other servers.

[2016-01-23 14:46] ghost commented on #2271
<img src="http://prntscr.com/9ts80t/direct">

<img src="http://prntscr.com/9ts92g/direct">

When I try to join us.oc.tc

<img src="http://prntscr.com/9tsame/direct">

[2016-01-23 15:37] ghost opened #2332 "Flair only sometimes shows (Join messages, /staff etc)"
Not sure what's the bug here, should it not show flair, or should it show flair for all staff?

![image of issue is here. sorry you can't see it](https://i.gyazo.com/fe58a2eaf6d785fb8415edc38e0812b9.png)

[2016-01-23 21:58] LArrowHead opened #2333 "Scoreboard not showing completed objective (check mark)"
I don't have a screenshot but when the match ends the team that has one check - mark does not have the second(or however many) check-marks to indicate that the team has won. An example is on mystic point. The first monument was completed and displayed a check mark at the end of the match, but when the second monument was completed to end the match, it only displayed a "touched" symbol and not the

[2016-01-23 22:23] TeamDDG commented on #2332
@elephantlocator this is indeed a bug
mods already knows this
- slicornV2

[2016-01-23 22:34] AnthonyTag commented on #2332
I believe we recently pushed a change that affected how we handle flairs. Maybe only some servers restarted at the time of the picture and they happened to be the ones that had Juniors on? Just a thought. Could be a bug though

[2016-01-23 22:39] AnthonyTag commented on #2271
@TiTo-418 fixed

[2016-01-24 12:25] ghost commented on #2332
No longer occurring, shows flair for nobody now. @AnthonyTag was most likely right.

[2016-01-24 12:30] ghost commented on #2332
<img src="http://prntscr.com/9u5m93/direct">

[2016-01-24 12:32] ghost commented on #2332
![2016-01-24_12 29 11](https://cloud.githubusercontent.com/assets/12920658/12536209/94b8587e-c296-11e5-9404-dc04fe510448.png)

Ninja'd :(

Anyway, It seems almost random who gets it, considering you can have multiple staff on same server.

[2016-01-24 21:29] AnthonyTag commented on #2332
Possibly a problem with Staff sessions....idk what could really be the problem though

[2016-01-25 01:52] BeanButt opened #2334 "Balloons DTM - lapis can be used to dye armour blue."
On Balloons DTM you are given lapis in your spawn kit to enchant but people are using it to dye their armour blue. It only works for the red team so something should be done about this.

[2016-01-25 04:20] Brokennz commented on #2334
@AnthonyTag Can we report people that are using this bug?

[2016-01-25 11:01] #2334 closed, assigned to Qixit

[2016-01-25 11:01] Qixit commented on #2334
@Brokennz The issue is fixed now, no need to. :+1:

[2016-01-25 14:53] DoomRobotBoy commented on #2333
don't know if obvious from op but above issue counts for every gamemode

[2016-01-25 17:04] ghost commented on #2332
Actually the whole flair thing seems a bit temperamental.

![/fr error](http://i.imgur.com/9BvAHvq.png?1)

[2016-01-25 23:37] Tapetepato opened #2335 "Update map.png - Adhbaerye"
Map: https://oc.tc/maps/adhbaerye
New map.png: http://i.imgur.com/6nPksYB.png

[2016-01-26 04:29] jedediah commented on #2333
fixed

[2016-01-26 04:29] #2333 closed, assigned to nobody

[2016-01-26 09:06] Brottweiler opened #2336 "Death messages other than your own do not work"
Seems like people are reporting that setting deathmessages to `friends` or `all` does not actually work.

https://oc.tc/forums/topics/56a707cfc296355e3d00001a

[2016-01-26 10:49] #2335 closed, assigned to nobody

[2016-01-27 10:43] mitchts opened #2337 "TNT placed through block-drop replacements don't auto-ignite"
I have `<block-drops />` set up to replace a material with TNT and I also have auto-ignite enabled. I expected the TNT, when placed by block-drops, to automatically ignite, as if a player placed it, but it didn't.

[2016-01-29 02:48] Brokennz opened #2338 "You can't cancel friend requests, maybe it's glitched"
I saw that I sent a friend request to Tito but I can't cancel it, and aIso I can't press the cancel button.

![ku1us5s](https://cloud.githubusercontent.com/assets/11890645/12665836/5cb74882-c600-11e5-9b4e-cf2ba48342d6.png)

![t5cs0uq](https://cloud.githubusercontent.com/assets/11890645/12665837/5cc38f16-c600-11e5-97d0-d6be0ba8b31c.png)

[2016-01-29 03:15] jexeI commented on #2338
That means he denied it. This is not a bug.

[2016-01-29 03:22] ghost commented on #2338
I don't want you to spam my notifications so I denied it, this is not a bug

[2016-01-29 06:03] Brokennz commented on #2338
Ok, thanks (:

[2016-01-29 06:03] #2338 closed, assigned to nobody

[2016-01-29 07:14] amactus commented on #2215
I think this is intentional, its actually very useful (especially for mods)

EDIT: Although I am unsure why /server EU mini01 does not work

[2016-01-29 09:30] JanPaulMosterdijk opened #2339 "Unload '360 degrees' and 'King of the fortress'"
I would like it if you could unload 360 and King of the fortress because they are currently broken and i wont be able to fix them.  Ethereal is kinda broken as well but ogel didnt want it to get unloaded.

[2016-01-29 13:58] ghost commented on #2215
@amactus I know, the purpose of this issue is not to revoke the permission to do /rtp from us to eu, but  to allow people to do /server EU capture.

Also we did some tests with eudaldca, and https://github.com/OvercastNetwork/Issues/issues/2206 is basically the same bug (when you click in chat, it does /server US/EU [server clicked])

[2016-01-29 14:03] itsmartin commented on #2215
The ability to do /rtp across networks when you don't have the permission is a bug. /server is working correctly, /rtp isn't.

[2016-01-29 16:01] ghost commented on #2215
Just out of interest, why do you not want to allow travelling between US and EU servers? Does bungee break? Do you not want people crying out lag when they switch to a server on the other side of the world?

I feel what Tito suggested makes more sense and segregates the player base less.

[2016-01-30 00:49] #2339 closed, assigned to nobody

[2016-01-30 00:51] AnthonyTag commented on #2339
I made a [backup](http://www.mediafire.com/download/83ut8tgzoyup65w/360%2BKing-of-the-Fortress.zip) for you just in case

[2016-01-30 03:33] Qixit commented on #2339
@JanPaulMosterdijk Contact me on skype if you need help with anything.

[2016-01-30 08:25] ghost commented on #2336
All was working for me last night, but I don't think friends was.

[2016-01-30 13:47] chleongithub opened #2340 "map update xi"
changelog:
- added kits (replaced the chests in spawn to <a href="http://i.imgur.com/5hl3OW1.png">this</a>)
- <a href="https://gist.github.com/chleongithub/995820c0dbb5af74f927#file-xi-xml-L121">new application in regions</a> to prevent ppl from <a href="http://i.imgur.com/LE74vTa.gif">collecting water from spawn</a>
- and some other tiny things over the xml

<a href="https://www.dropbox.com/s/j15

[2016-01-30 13:48] chleongithub commented on #2340
Q: Why low-case letters?
A: bc i felt for it

[2016-01-30 19:13] #2340 closed, assigned to nobody

[2016-01-31 03:31] Tapetepato opened #2341 "Update Adhbaerye to 1.0.1"
[New XML](http://pastebin.com/6Kefhr5L)
[New Download](http://www.mediafire.com/download/8dthce4aw1z9c2j/Adhbaerye_1.0.1.zip)

**Changelog:**
- Tweaked around the leaves/bushes.
- Removed some vines.
- Added some more spawn points.
- Respawn timer raised up to 3.5s.
- Added a regen effect as a killreward to prevent people from killing someone that just got a kill.

_Thanks in advance!_ :smile:

[2016-01-31 07:53] Qixit commented on #2341
In future @Tapetepato please go over your XML and check for errors. Throughout the whole XML there was at least 15+\* errors. Also don't forget to properly format the vectors of `<point></point>`, adding `.5` to `x` and `z` values. This will make the player go into the middle of the block, none of your points had this.

[2016-01-31 07:53] #2341 closed, assigned to Qixit

[2016-01-31 08:22] Qixit commented on #2336
Fixed.

[2016-01-31 08:22] #2336 closed, assigned to nobody

[2016-02-01 00:09] ghost commented on #1827
Can this be reopened please?
<img src="http://i.imgur.com/yG7MsXh.png">
<img src="http://i.imgur.com/IxHx3et.jpg">
<img src="http://i.imgur.com/iLColYa.png">

[2016-02-01 02:51] #2243 closed, assigned to nobody

[2016-02-01 08:33] Brottweiler commented on #1827
The issue in the OP is client side, idk what your images are supposed to show.

[2016-02-01 12:50] ghost commented on #1827
I've done what's shown in the pics breaking blocks in the respawn screen

[2016-02-01 12:51] Brottweiler commented on #1827
The problem in the OP is where you break a block right before you respawn. If you break a block, and you get teleported out of hit range of that block before it reappears in your client, it will appear as gone client side but still there server side.

[2016-02-01 13:02] ghost commented on #1827
The problem is that some blocks are not sent to the client again when a player breaks them. This is a gamebreaking  bug (Look at the images above, I couldn't even play in that place), therefore this issue should be reopened IMO. A possible solution is using the adventure mode during the death screen.

[2016-02-01 13:04] Brottweiler commented on #1827
I have no idea how you can do what you did, you got to have 10s ping. Will see if this can be fixed server side.

[2016-02-01 13:08] TiTo-418 commented on #1827
Thanks :)

[2016-02-01 13:44] DoomRobotBoy opened #2342 "Update Pixelmix v2.0"
download: https://www.dropbox.com/s/qx3hnrdb70vr228/PixelMix.zip?dl=0

change-log: well... everything

[2016-02-02 21:31] JanPaulMosterdijk opened #2343 "Unload maps"
Hello, i would like it if you could remove the following maps from the repo:
- Flag run
- Vanessa
- Connected
- Koi

Basically all maps i made without any other author. I would also like it if you could not load any maps i submitted in the past, excluding maps that i made with someone else.

[2016-02-03 10:31] chleongithub commented on #2343
No. Please.

Those maps are fun, come on!

[2016-02-03 12:18] #2343 closed, assigned to Pugzy

[2016-02-03 12:55] chleongithub commented on #2343
I really disagree on the removal of connected

[2016-02-03 14:36] Pugzy commented on #2343
@chleongithub this is down to the author, we are only completing requests.

[2016-02-03 16:37] chleongithub commented on #2343
:sob:

[2016-02-03 16:41] #2342 closed, assigned to Pugzy

[2016-02-03 18:41] 2000thehecf1 opened #2344 "/nick showing your nicked name instead of your own"
It showed your own nick crossed out in tab and it and your nicked one while writing on chat but know it only shows your nicked one in dms, when placing wools, etc. Not sure if intended but I don't think so.

[2016-02-03 18:55] Diamyx commented on #2331
Looks like it was fixed.

[2016-02-03 18:55] #2331 closed, assigned to nobody

[2016-02-03 20:45] ghost opened #2345 ""Now playing" on the maps page doesn't show EU/US next to server names"
[The now playing part](https://oc.tc/maps) just shows "mini01" twice, instead of mini01 (EU) and mini01 (US).

Slightly annoying, but to be honest probably affects nobody, as nobody has reported it (that I can see), and as pretty much everybody uses the play page anyway.

[2016-02-04 13:25] AnthonyTag commented on #2344
Could you give an example with pictures? I'm not really following.

[2016-02-04 15:49] 2000thehecf1 commented on #2344
@AnthonyTag https://gyazo.com/8c011a3dc3710bab8643a76b16efd34f https://gyazo.com/58a09dd756a702030da8a9402e44437a That's how it looked before, now it just shows the nicked one, and even when you die / complete an objective you appear with the nicked name.

[2016-02-04 16:50] vortz opened #2346 "Falling below -64 in the lobbies does not respawn the player"
**The Issue:**
When the player flies below -64 in any server while in Observators (Creative Mode), he/she gets teleported to the spawnpoint of the map (I guess it's done when the player would take damage). In the lobbies, instead, the player falls infinitely, as the player is in God Mode.
**Steps to reproduce:**
Go to any of the edges of the lobby, and fall to the void.
**Miscellaneous information

[2016-02-05 19:29] rockymine opened #2347 "Update Townside to Version 1.1"
**Notable Changes**
- players now spawn in full leather
- wool-lane and iron-house moved by 14 blocks
- 64 gapples per player in wool
- wool-room is now visible for newer players

_Download_

[Click](http://www.mediafire.com/download/9qb9ou9ximsr0y4/Townside1.1.zip)

[2016-02-05 22:43] DoomRobotBoy opened #2348 "Update Pixelmix v2.0.1"
DL: https://www.dropbox.com/s/rdabl3uhii5ocrk/PixelMix%20v2.0.1.zip?dl=0

Change-log:
- reduced blocks in spawn kit and in defense supplies
- put cobble and all clay on itemremove
- changed entire layout
- removed water at y=0

[2016-02-06 09:41] ghost commented on #2344
![](http://i.imgur.com/yekfPQf.png?1)
![](http://i.imgur.com/HJqpxxG.png?1)

Like this?

This is what I get when my friends are nicked and on the same server. Works fine when they switch.

[2016-02-06 12:45] 2000thehecf1 commented on #2344
@elephantLocator Yes it works fine for friends but not for the guy with the nick.

[2016-02-06 13:30] chleongithub opened #2349 "update xi's xml"
<h4>added <a href="https://gist.github.com/chleongithub/995820c0dbb5af74f927#file-xi-xml-L51">kill rewards</a></h4>

[2016-02-06 13:33] chleongithub opened #2350 "you cant open links from chat"
when pm'ed

[2016-02-06 14:04] ghost commented on #2344
@2000thehecf1 Wait shouldn't it show the alt name for me, next to the strikethrough? It sometimes does: punishment messages etc. but not in server list

[2016-02-06 14:48] #2347 closed, assigned to Pugzy

[2016-02-06 14:55] #2349 closed, assigned to Pugzy

[2016-02-06 15:46] 2000thehecf1 commented on #2344
@elephantLocator Yep, true.

[2016-02-06 16:01] 2000thehecf1 commented on #2344
Also, looking at this pic: https://camo.githubusercontent.com/e6d29f652715a6cde64033c27aa7904a075c370e/687474703a2f2f692e696d6775722e636f6d2f79656b665051662e706e673f31

It seems like nicked players appear at the end of tab list (look at aboudaga on Blue Team) making them more recognizable.

[2016-02-06 18:30] chleongithub opened #2351 "Fix Molcein's website"
Now, only I can open it and the link is https://oc.tc/maps/molcein:standard:development and not https://oc.tc/maps/molcein

[2016-02-06 18:33] ghost commented on #2351
https://github.com/OvercastNetwork/Issues/issues/2296

[2016-02-06 18:37] #2351 closed, assigned to nobody

[2016-02-06 19:02] chleongithub commented on #2296
This also happens with molcein now

[2016-02-07 01:47] Strangeys commented on #2116
Should no longer be an issue with the map being renamed.

[2016-02-07 01:47] #2116 closed, assigned to nobody

[2016-02-07 07:05] Qixit commented on #2346
Isn't this to do with plugins, not the map? @AnthonyTag

[2016-02-07 07:47] AnthonyTag commented on #2346
@Qixit We can fix it with gamerules. I believe it's configurable.

[2016-02-07 07:57] #2346 closed, assigned to nobody

[2016-02-07 12:17] rockymine opened #2352 "Map Authors can't see ratings after their map ended"
You can not see the ratings for your maps in game, even after relogging, I do have the blue star in the game but that one doesn't appear behind the maps name. I had the same issue a ton of times now, it can't be random, I can't see ratings since weeks. Other players complained about this issue too, maybe only Builders have it, not sure.

[2016-02-07 16:14] #2239 closed, assigned to nobody

[2016-02-07 17:46] chleongithub commented on #2352
I have it too

[2016-02-07 18:01] chleongithub opened #2353 "Quick xml update on xi"
I added <code>unbreakable</code> to all tools on the spawnkit and added a quick tip: <code>`7You get 1`egolden apple `7every 2 kills!</code>

New xml: https://gist.github.com/chleongithub/995820c0dbb5af74f927

[2016-02-08 03:03] #2353 closed, assigned to AnthonyTag

[2016-02-08 05:47] Pablete1234 commented on #1868
@CaptainElliott it can be fixed using player.sendBlockChange(Material, data), it's deprecated, but it still would fix the issue. Whenever you call event.setCancelled(true), also call sendBlockChange

[2016-02-08 10:28] itsmartin commented on #813
Fixed

[2016-02-08 10:28] #813 closed

[2016-02-08 22:22] rockymine opened #2354 "Update Townside to Version 1.2"
Some more changes...
- moved iron further away from spawn - (_in order to de-escalate overpowered sky control_)
- edited bedrock near the woolroom-barrier  - (_in order to make defences harder_)
- added ladders into the frontline-house - (_in order to access sky easier once enemy controls it_)
- one more tree to replace the old iron

_Download_

[Click...](http://www.mediafire.com/download/tmfdy9g

[2016-02-09 06:42] #2354 closed, assigned to nobody

[2016-02-09 13:23] DoomRobotBoy commented on #2348
updated the link

[2016-02-09 17:59] #2348 closed, assigned to Pugzy

[2016-02-10 11:31] itsmartin commented on #756
Fixed.

[2016-02-10 11:31] #756 closed

[2016-02-11 20:03] ghost commented on #2284
All stats seem to be frozen under the stats tab? Kills/Deaths do not match current ones.

[2016-02-11 20:44] itsmartin commented on #2284
@elephantLocator They look fine to me, can you give an example?

[2016-02-11 21:03] ghost commented on #2284
@itsmartin Wait no I'm an idiot. Stats are actually GS+Blitz+PA. I forgot about the existence of Blitz and Ghost squadron.

That's been confusing me for a while.

[2016-02-11 21:13] itsmartin commented on #2284
Ah, OK

This bug is fixed anyway.

[2016-02-11 23:20] 2000thehecf1 commented on #2284
@itsmartin Days played are still frozen

[2016-02-12 03:22] Tapetepato commented on #2352
Can confirm it happens to me too, a map i made got played twice and i never saw any ratings, but when i checked on the website there were indeed new ones

[2016-02-12 11:12] itsmartin commented on #2296
@chleongithub Molcein is marked as `<phase>development</phase>` so it's working correctly.

As far as I can see the issue seems to only affect ranked maps. It also causes "missing" map images for maps which are ranked-only.

[2016-02-12 20:45] Pablete1234 opened #2355 "Dropping a flag ontop of a flag causes weird stuff"
Steps to reproduce:
Get one flag, drop it on the ground
Get another flag, stand where the first flag is, and jump (it will set the last valid position to ontop of the other flag), and then drop it

You will end up with a flag placed ontop of another flag, now, go ahead and pick up the bottom flag, you get a floating flag, and if you try and pickup the floating flag, for some reason it creates a bl

[2016-02-12 21:51] eudaldca commented on #2355
https://youtu.be/3WxA4DYnbaE

[2016-02-12 21:56] itsmartin commented on #2355
Is this game breaking?

[2016-02-12 22:07] eudaldca commented on #2355
0:49. Yes, since once you do this you can no longer pick your flag up.

[2016-02-12 22:33] Tapetepato opened #2356 "Map makers with /nick still get the mapmaker star"
Example:
![2016-02-12_16 29 00](https://cloud.githubusercontent.com/assets/8422075/13022330/487bb6d0-d1a6-11e5-825b-b0632ca8c7d3.png)
I'm pretty sure this isn't supposed to happen because on instances like this when there's only one mapmaker, it is giving away who they are

[2016-02-12 23:15] Tapetepato opened #2357 "Small xml update on Adhbaerye"
[New XML](http://pastebin.com/WNcVYrCd)

I noticed that the last time the map played the potion kill-reward wasn't showing up so i changed the killrewards to a kill-reward kit as i saw other maps use it, hopefully this fixes it.

[2016-02-13 06:13] Pablete1234 commented on #2012
@jedediah this also applies to chat colors,
![image](https://cloud.githubusercontent.com/assets/11789291/13026257/55d13384-d221-11e5-81be-927bfe1d44eb.png)

Also i belive a blue and a light blue flag would have the same issue, since on Nartica, no color is set for the flag (and the banner base is blue), but in the scoreboard it shows up as chatColor.blue, not as chatColor.dark_blue
OCN should "dec

[2016-02-13 08:11] itsmartin commented on #2355
This should be fixed once servers have restarted.

[2016-02-13 08:11] #2355 closed, assigned to nobody

[2016-02-13 14:52] JanPaulMosterdijk opened #2358 "latest announcements are not ordered correctly"
on https://oc.tc/ there is a section with the 'latest announcements', but these are not ordered by time created, but instead ordered by latest reply.

[2016-02-13 14:54] Brottweiler commented on #2358
https://github.com/OvercastNetwork/Issues/issues/1422

[2016-02-13 14:54] #2358 closed, assigned to nobody

[2016-02-13 14:56] #1422 closed

[2016-02-13 14:58] itsmartin commented on #2358
A fix for this will be deployed soon.

[2016-02-14 03:43] #2357 closed, assigned to AnthonyTag

[2016-02-14 10:59] ghost commented on #2357
In the tip shouldn't it be "as many kills as possible" not "as much kills as possible"?

[2016-02-14 19:15] ghost commented on #2298
No longer an issue

[2016-02-14 19:15] #2298 closed, assigned to nobody

[2016-02-15 04:03] mitchts commented on #2357
The tip really shouldn't even be there @elephantLocator

[2016-02-15 21:17] Tapetepato commented on #2357
I added it to explain to new players what to do since it is a new gamemode

[2016-02-16 01:46] AnthonyTag commented on #2357
We'll eventually be removing all of the tips that explain what FFA is, but we'll deal with that when it comes time.

[2016-02-16 14:52] ghost opened #2359 "docs.oc.tc revisions page is not shown as "not deployed" when it should."
I made reference to it in #2317, then forgot about it, but found it again today when looking something up.

[2016-02-17 02:24] iRecnac opened #2360 "Players getting randomly disconnected with the message "Disconnected""
When i connect in a match with more than 30 people it discconect me from the match and sends me to the multiplayer menu i don't know why but i want to play Capture, destroy,etc

[2016-02-17 15:53] Pugzy commented on #2360
This could be client side rather than a server issue.

Do you get an error message when you get disconnected?
I'm guessing that would help get to the bottom of the issue.

[2016-02-17 19:39] nigges60 opened #2361 "9th Law Spawn bug"
On the map 9th law you sometimes get stuck in the bottom of the spawn area and can't move.
I do not know if I need to make a second issue for this but it would also be nice if a broadcast tip gets shown at the beginning of the game which gives you a hint where you can find water on this map because most of the players don't know especially new players.

[2016-02-18 01:32] sovrynn opened #2362 "Teamkill on Tanker TnT"
I got killed by teammate's cannon's TnT twice on Tanker TnT, not sure if it was made this way but the deaths show up in my PvP encounters

[2016-02-18 10:54] ghost commented on #2362
They show up but I'm pretty sure they are not added to the total

[2016-02-18 17:52] sovrynn commented on #2362
Ok, thanks for replying.

[2016-02-18 17:52] #2362 closed, assigned to nobody

[2016-02-19 14:42] manmanrod commented on #2360
Could you please be more specific in the title? There's a [guide](https://github.com/OvercastNetwork/Issues#formatting) to post issues here.

[2016-02-19 15:28] ghostieghost opened #2363 "Pickaxes and axes not removing when someone gets killed on Xi"

[2016-02-19 18:23] #2363 closed, assigned to mattarnold98

[2016-02-21 07:09] mitchts opened #2364 "Block drop replacements are dropped as an item when blown up by TNT"
[code]

When the stained clay is blown up by TNT, instead of the redstone block taking its place, it is instead dropped as an item. Breaking the stained clay any other way behaves as expected.

[2016-02-21 23:13] DoomRobotBoy opened #2365 "PixelMix - Broken Kill-reward"
pretty confident the gapple killreward isn't working on the latest version of pixelmix.

The outer tags should say "kill-rewards" instead of "kill-reward".

Now:

`<kill-reward>
<kill-reward>
<item>golden apple</item>
</kill-reward>
</kill-reward>`

Should be:

`<kill-rewards>
<kill-reward>
<item>golden apple</item>
</kill-reward>
</kill-rewards>`

[2016-02-21 23:21] #2365 closed, assigned to nobody

[2016-02-21 23:41] SoldierSouless opened #2366 "Map Mistake at Diversity"
There is a mistake in a rotation map, Diversity, if you are a defender , you can grab the wool room's stuff like golden apples , iron chest... i don't know if its important, i think i do well telling that.

[2016-02-22 03:51] mitchts commented on #2366
https://github.com/OvercastNetwork/Maps/commit/41226ee335a3ae4f5682942e8d282eda591b60a5

[2016-02-22 03:51] #2366 closed, assigned to mitchts

[2016-02-22 04:04] patrickdundas commented on #2213
Came across this the other day, made a video recording explanation of it before I realized that it was already an open issue. If it would be helpful I can upload that video here, but it seems like you guys have this under control and understand the issue.

_PattyD

[2016-02-22 13:03] chleongithub opened #2367 "Map update The President's Cottage 1.1.1"
hi!
- Added speed when you are in the spawn
- Added a <a href="http://i.imgur.com/ap2lLwK.gif">jumppad</a> in the balcony to get to the frontlines faster
- Updated the whole xml to proto 1.4.0
- Updated the map.png to fit the new version

new dl: https://www.dropbox.com/s/1ivyz9gfdvs818x/The%20President%27s%20Cottage.zip

[2016-02-23 19:55] #2367 closed, assigned to AnthonyTag

[2016-02-23 21:14] eudaldca opened #2368 "Links in private messages aren't click-able"
Title is content.

[2016-02-23 21:17] Pugzy commented on #2368
Issue is made #2350.

[2016-02-23 21:17] #2368 closed, assigned to nobody

[2016-02-24 17:58] itsmartin commented on #714
Fixed.

[2016-02-24 17:58] #714 closed

[2016-02-25 15:53] johannestheigen opened #2369 "Map Update: Cerulean Cave"
So recently me and chle_'s map got added to the repository. Then I found a bug with the jumppads.

Changes :

Fixed Jump pad

Added night vision to observers

<a href="https://oc.tc/maps/cerulean_cave">Cerulean Cave</a>
<a href="https://gist.github.com/yoyopower/46aea1c7c799cee1ae3e">New xml</a>

[2016-02-25 16:51] johannestheigen commented on #2369
Thanks for adding labels @iPGz! Do you have time to update it by yourself now? Just asking.

[2016-02-25 20:36] #2369 closed, assigned to nobody

[2016-02-26 09:15] mitchts commented on #2360
If this happens to you again, please take a screenshot of the disconnection error message and reopen this issue.

[2016-02-26 16:29] Timothee38 opened #2370 "I still have the mapmaker star after my map cycled."
The map was Fourchette, I sent 1 message in that match I think, and then, it cycled to Turf Wars (which isn't my map), someone said hi to me, I replied, and for some odd reason I still had the map maker star, and it's server side as others could see it. I tested more than once, still getting the issue. Also, this doesn't show in the tab with all the players. Here is a screenshot of the problem:

!

[2016-02-27 12:50] JanPaulMosterdijk opened #2371 "kill and death stats are broken"
the kills and deaths stats showed under the stats section on the player profile do not match the total kills and deaths next to the player head.

https://oc.tc/Pistolento
![alt tag](http://i.imgur.com/Sym99GC.png)

https://oc.tc/JarlyColors
![alt tag](http://i.imgur.com/UlswAKB.png)

tested on my phone to see if my browser fuked with me, but my phone gave the same results.

[2016-02-27 12:54] Pugzy commented on #2371
Did either of the players participate within a tournament, these kills and deaths are still tracked but not displayed as a statistic on the `stats` tab.

[2016-02-27 12:56] JanPaulMosterdijk commented on #2371
@iPGz  i never played a tournament match with the account pistolento, and if jarlycolors did play tournaments with that account, a difference of almost 1000 kills is quite big.

[2016-02-27 13:57] JanPaulMosterdijk commented on #2371
The missing kills and deaths are probably from ranked matches. If so, there should be a 'ranked stats' section in the stats tab.

[2016-02-27 16:16] ghost commented on #2360
Got this just now. It literally just says "Disconnected". Was on mini01 US about a minute ago if you want to look in the logs.

[2016-02-28 06:28] #1783 closed

[2016-02-29 01:43] ghost commented on #2015
Ok, now it doesn't even appear in the inventory
![2016-02-28_22 39 30](https://cloud.githubusercontent.com/assets/11008016/13383743/b623de92-de6c-11e5-9bbf-86d2a9f698f4.png)

[2016-02-29 09:42] manmanrod opened #2372 "Friends don't show in oc.tc/play if they are in lobby."
[Video proof](https://youtu.be/v9vZ7uXCpLg)

[2016-02-29 12:04] nigges60 commented on #2361
The issue still exists. Pls reopen.
https://youtu.be/mhfLk7J_MNw

[2016-02-29 12:54] Brottweiler commented on #2361
I don't think the server has restarted yet to have the new map version.

[2016-02-29 12:55] Brottweiler commented on #2372
He's in lobby though, I don't think play page shows people in the lobby?

[2016-02-29 13:01] manmanrod commented on #2372
At least it used to show people in the lobby.

[2016-02-29 13:05] Brottweiler commented on #2372
Apparently friends in lobby are supposed to show in oc.tc/play

[2016-02-29 15:34] Pugzy commented on #2361
The server doesn't need to restart, if changes are detected with the map the latest version will be loaded/played.

[2016-03-01 15:30] chleongithub opened #2373 "Map update cerulean cave 1.0.2"
aye map devs
- updated <a href="https://gist.github.com/chleongithub/89869a7f4a328c612615#file-cerulean-cave-xml-L10">rule</a>
- added max-overfill (10)
- added 2 sec <a href="https://gist.github.com/chleongithub/89869a7f4a328c612615#file-cerulean-cave-xml-L45">spawn-protection</a>
- added speed to <a href="https://gist.github.com/chleongithub/89869a7f4a328c612615#file-cerulean-cave-xml-L44">spawn

[2016-03-01 16:37] nigges60 opened #2374 "Wrong color displayed in tab"
A playing player gets the color of an observer.
[http://imgur.com/a/dDBKJ](url)

[2016-03-01 18:22] Brottweiler commented on #2374
Did you relog?

Also your link is broken. Clickable: https://imgur.com/a/dDBKJ

[2016-03-01 18:37] nigges60 commented on #2374
No I did not but I asked Ceinrath and he saw his name also in light blue.

[2016-03-01 19:17] 2000thehecf1 commented on #2361
It's still happening. It has happened me some minutes ago.

[2016-03-01 22:00] samthecat opened #2375 "Profile has all the information in the "about me" section"
So I just finished making a few additions to my profile, and when I finished up, I noticed that all of my information, including my trophies and objectives, was laid out on the main section. And the tabs no longer work.

https://oc.tc/samthecat43

I have no idea what caused this, or how to fix it.

[2016-03-01 22:52] itsmartin commented on #2375
Looks like it was caused by something weird about your HTML. I've edited your HTML so it doesn't happen any more. Looking into why it happens.

[2016-03-01 23:10] samthecat commented on #2375
I think I figured it out. In the line
`<h4><div style="display:block;"> Promoted to <div class="label" style="background-color:#0066dd;color:white;">Builder</div> February 27, 2016</div></h4>`
The first `<h4>` tag seems to enable/disable it.

I'll remove it.

[2016-03-01 23:15] itsmartin commented on #2375
Yeah, this appears to be a bootstrap bug. I'm not sure if we can fix it on our end.

[2016-03-03 11:04] Ceinrath commented on #2374
I think I found the source of this issue: https://youtu.be/uTD8ZtrhWOQ

[2016-03-03 18:12] 2000thehecf1 opened #2376 "I can't see anybody's profile."
Whenever you try to enter anyone's profile, you receive this message:
https://gyazo.com/e2d411c25cd1c37aa6cd3f6dfe3881f7

[2016-03-03 18:49] ghost commented on #2376
https://oc.tc/forums/topics/56d846025f35b92483000002?page=1#56d8782a186c61650a000001

[2016-03-03 18:51] itsmartin commented on #2376
The issue is being actively worked on, sorry for the inconvenience.

[2016-03-03 19:39] #2376 closed, assigned to nobody

[2016-03-03 19:39] itsmartin commented on #2376
Should be resolved now.

[2016-03-03 19:43] 2000thehecf1 commented on #2376
@itsmartin It is, thank you.

[2016-03-04 15:02] chleongithub commented on #2373
Updated

[2016-03-04 15:02] #2373 closed, assigned to nobody

[2016-03-05 06:28] xWhitePVP opened #2377 "Fly players"
Hello, the day March,4 2016 i are playing in Sunrise Over Paradise and i watch a player named [name removed] fly with no armor

[image removed]
[image removed]

[2016-03-05 07:00] AnthonyTag commented on #2377
If this is meant to be a report, then send this over to https://oc.tc/report

When you asked me in chat where to send issues I sent you here because this is where you send issues with the servers (i.e. Plugins, Maps, etc.).

[2016-03-05 07:44] xWhitePVP commented on #2377
@AnthonyTag you can check my octc report?

[2016-03-05 11:19] Pugzy commented on #2377
I've removed the player info and images from the issue OP.
Like stated above the Github issue tracker is for issues not reports.

[2016-03-05 11:19] #2377 closed, assigned to nobody

[2016-03-05 15:18] DoomRobotBoy opened #2378 "Map Update - Winter Wakening"
DL: https://www.dropbox.com/s/gp6mf0iq859ix1m/Winter.zip?dl=0
- removed some trees
- edited the pre-made defenses
- added a chest with some gear for defenders on the wool lanes
- made iron mines a bit more visible

ty!

[2016-03-06 00:32] samthecat commented on #2375
If it's not something on the server's end, then I guess this is resolved?

[2016-03-08 00:14] Pugzy commented on #2378
Have you uploaded the correct version? The XML still says `1.0.0`. @DoomRobotBoy
- The observer spawn (in the XML) is about 10 blocks too high.
- The map doesn't seem to have been pruned correctly.

[2016-03-09 18:39] rockymine opened #2379 "Update Townside to Version 1.3"
![](http://i.imgur.com/GRzQM3f.png)

**Most Notable Changes**
- moved wool-room and iron-house
- added an alternative wool-lane
- replaced and added some trees
- increased number of blocks in spawn-kit
- enabled destroying of leaves outside of the map
- ...

[**Download**](http://www.mediafire.com/download/wvurfx3zckcjnj5/Townside1.3.zip)

[2016-03-09 22:24] ResentFeeds opened #2380 "Portals (docs)"
# When I try to view the Portals page. It gives me this.

**StaticMatic::TemplateError in ./src/modules/portals.haml**

./src/modules/portals.haml is not valid US-ASCII

**Backtrace**

/home/deploy/apps/docs/shared/bundle/ruby/2.1.0/gems/tilt-1.4.1/lib/tilt/template.rb:75:in `initialize'
/home/deploy/apps/docs/shared/bundle/ruby/2.1.0/gems/tilt-1.4.1/lib/tilt.rb:61:in`new'
/home/deploy/apps/docs/s

[2016-03-10 21:13] jedediah opened #2381 "1.9 known issues"
- [x] Potions all kinds of broken (fix needs testing)
- [x] Long-range TNT causes NPE
- [x] NPE in `TabRender.updateFakeEntity`
- [x] Armor kits (fixed upstream)
- [x] Teleport while gliding does something weird
- [x] Map rating click causes `ArrayIndexOutOfBoundsException`
- [x] Stuck on death screen
- [x] Creation of tipped/spectral arrows (looks like a possible upstream bug in `CraftWorld#creat

[2016-03-10 21:28] Pablete1234 commented on #2381
@jedediah Long-range TNT never worked in 1.8 (maybe it didn't throw errors, but it didn't display)

[2016-03-10 21:34] Timothee38 opened #2382 "You can see the armor stand on death."
This is a 1.9 issue. On death you can see the armor stand on your death position.

[2016-03-10 21:36] Pablete1234 commented on #2382
@Timothee38 I belive this could be related to datawatchers drastically changing in 1.9

[2016-03-10 21:43] LArrowHead opened #2383 "Gizmo Issues"
Lobby Gizmos
- [ ] The iron hoe gizmo can take durability when you hit another player with it(it eventually breaks)
- [ ] When you throw the 'chicken changer' gizmo, it removes it from your inventory completely until you hit 'E' where it reappears.
- [ ] When you move the glass empty gizmo to a different slot in the inventory it does not get replaced by a selected gizmo, instead it remains glass a

[2016-03-10 21:53] Timothee38 commented on #2381
Adding onto the "stuck on death screen" issue the one where when you respawn after dying on blitz (with 1 life) you get stuck (you can't move your head around or even move at all). (I thought I shouldn't make a whole issue as I guess it's sort of part of this death screen issue.)

[2016-03-10 22:31] itsmartin commented on #2380
Should be fixed now.

[2016-03-10 22:31] #2380 closed, assigned to nobody

[2016-03-11 01:01] jedediah commented on #2382
fixed

[2016-03-11 01:01] #2382 closed, assigned to nobody

[2016-03-12 15:59] Pablete1234 commented on #2381
@jedediah TNT in 1.9 displays up to half your render distance
Example:
8 chunk distance = 128 blocks distance = see tnt 64 blocks away
16 chunk distance = 256 blocks distance = see tnt 128blocks away

PS:
The change seems to be to some entities.
Both falling sand and TNT are render distance dependent.
Armor stands / ItemFrames seem to render with the chunk (if chunk is loaded you see it),
Minecart

[2016-03-12 18:25] nigges60 opened #2384 "Update Desert Country"
Changelog:
 -fixed wools in wool rooms
[Download](https://www.dropbox.com/s/cjcbplywjd99a02/Desert%20Countryv.1.0.5.zip?dl=0)

[2016-03-12 19:46] #2384 closed, assigned to nobody

[2016-03-12 21:48] Strangeys opened #2385 "Potion effects different in chests for 1.9"
I believe the problem is the original potion you hold when applying nbt tags for new potion effects now gets carried over in 1.9.

**Phasewalker Potion from Totally War II**
1.8 http://imgur.com/wO9hLwT
The color of the potion matches an invisibility potion.
1.9 http://imgur.com/9HAhm2N
Original potion got it's effects carried over with the added Invisibility (3:00) tag

**Ironskin Potion from Tot

[2016-03-14 19:36] nigges60 opened #2386 "Map Update Desert Country to Version 1.0.5"
![2016-03-14_20 18 42](https://cloud.githubusercontent.com/assets/17301322/13757159/6a182374-ea23-11e5-9f7f-e713855f012b.png)

**Notable Changes**
- Changed Woolroom entrance
- minor aesthetic fixes
- XML changes: Bigger Wool Room Area

**Problem**
- We got feedback that iron armor does not drop although I don't see where this is written in the XML can you help me to make iron armor and diamond ar

[2016-03-14 23:07] CrazyisCreeps opened #2387 "Observers can break boats"
If a player is in a boat, and an observer flies in front of him, the boat will break. Here's a video of what I mean:
https://youtu.be/xQK50IKFRyA

[2016-03-14 23:33] ghost commented on #2387
Fixed in 1.9, anyway it can be fixed in 1.8 too

[2016-03-18 21:38] DoomRobotBoy commented on #2378
@iPGz got around updating it; its now pruned and xml has been updated

DL: https://www.dropbox.com/s/gp6mf0iq859ix1m/Winter.zip?dl=0

[2016-03-19 01:05] #2378 closed, assigned to nobody

[2016-03-19 01:05] #2379 closed, assigned to nobody

[2016-03-20 20:23] ColdVolcano commented on #2332
I was watching this in-game, and the flairs that are visible (in case of staff) are the ones that you have seen, idk what happen in other players.

[2016-03-20 22:29] eudaldca commented on #2381
Freezing and unfreezing someone who is riding a boat (tested by freezing pablete, who was driving the boat) gives many issues.

[2016-03-20 23:30] eudaldca commented on #2383
The chickenifier makes it so that everyone can see chickens

[2016-03-21 16:46] Electroid commented on #2387
Fixed in 1.9.

[2016-03-21 16:46] #2387 closed, assigned to nobody

[2016-03-21 16:52] Electroid opened #2388 "1.9 gameplay issues"
- [ ] Shields do not protect from damage
- [x] Armor is weaker (increasing attributes values by `1-2` should work)
- [x] Custom potions now add the default attributes of its damage value #2385
- [x] Some tile entities are missing from chests (requires `MCEdit` filter and patch)
  - [x] Cooked fish (Fortress Battles)
- [x] Spawners with stackable item drops no longer work (Boom)
- [x] Item stack ar

[2016-03-21 19:35] JanPaulMosterdijk opened #2389 "1.9 - /rot shows the wrong map that is currently playing"
![Alt Text](http://i.imgur.com/ZegoFnK.jpg)

`/rot` says we are currently playing 'Belcrest', while we are actually playing BTE 2 CTF.

As far as i know the map didnt get set next.

[2016-03-21 19:44] #2389 closed, assigned to nobody

[2016-03-22 02:50] Pablete1234 commented on #2388
@Electroid regarding player push flags (Team collision rules) they used to work in the first sportbukkit 1.9 releases (tested in cardinal) but they got broken in one of the updates

[2016-03-22 09:54] manmanrod commented on #2381
*You are not allowed to choose team" when you have centurion in dv.oc.tc

http://i.imgur.com/tDzZPIe.png

[2016-03-22 17:17] elephantLocator commented on #2381
@ImKenner Any donor rank afaik. It's like on mapdev servers I guess, if that's a bug?

[2016-03-24 06:47] Qixit commented on #2386
@nigges60 The DL is broken.

[2016-03-24 09:49] nigges60 commented on #2386
@Qixit sorry this one should work:
https://www.dropbox.com/s/xudwmaykkhih65t/Desert%20Country%20v.1.0.5.zip?dl=0

[2016-03-25 19:51] nigges60 opened #2390 "Cake Day Broken"
There is Green Wool used as a building block on the map Cake Day, but green wool is also an objective of Purple Team. I can't provide a Screenshot for now sorry.

[2016-03-25 20:06] Abusa3 commented on #2390
screenshots: http://imgur.com/a/AXGg0

[2016-03-26 00:46] Brottweiler commented on #2381
I got poisoned and it got me down to 1 HP, but after I got to 1 HP I started to regen health again, and while still having poison potion effect I was not taking damage. I had blood enabled, and I got the damage particles from that, but I did not loose health. I was regenerating health like normal.

[2016-03-26 01:55] #2390 closed, assigned to Qixit

[2016-03-26 01:55] Qixit commented on #2390
I think that's all of it.

[2016-03-26 02:05] Qixit commented on #2386
Please remember to properly format your `map.png`, with a size of `290x246`. There is more packaging advice on [docs.oc.tc](https://docs.oc.tc/guides/packaging/compiling_releasing). Also your map version shouldn't be going from `v1.0.0` to `v1.0.5`, unless there has been some error. For now I've changed it to `v1.0.1` and I've formatted your `map.png` correctly.

[2016-03-26 02:11] ghost commented on #2381
Death screen bug: https://www.youtube.com/watch?v=DPe0L9u9bZM&edit=vd

[2016-03-26 02:11] #2386 closed, assigned to Qixit

[2016-03-26 02:18] Qixit commented on #2361
I've increased the spawn point by an extra `.5` in an effort to fix this. I've done the same with other maps in the past and it seemed to work.

[2016-03-26 12:32] ghost commented on #2381
![2016-03-26_12 24 12](https://cloud.githubusercontent.com/assets/12920658/14060054/c5d05e5a-f34e-11e5-82b0-668043ae3e1d.png)

This happened on DATABasin.

Also, not really worth making a new issue for, but Ozone elytra /map still references teams.

[2016-03-26 23:42] Pablete1234 commented on #2381
You still respawn every tick if you fall to the void in obs (it keeps teleporting you to diferent valid spawn locations for observers team)

[2016-03-27 00:01] Pablete1234 commented on #2381
Just a suggestion, IMO, bossbars would be alot cooler if:
Team huddle bossbar was yellow
Start bossbar was green
Waiting for players bossbar was red

[2016-03-27 02:32] jedediah opened #2391 "Observers get stuck in a teleport loop after falling into the void"
Need a repro for this

[2016-03-27 03:02] MarcRoizman opened #2392 "1.9 arrow mechanics render bows useless when player has downwards velocity"
Here is a video demonstrating: https://www.youtube.com/watch?v=aCdt74F4T2o

The most common theory is that when you bow, the player's velocity is given to the arrow after you shoot it, so it you're falling, any arrows you shoot will go right into the ground. This is a problem on OCN in particular, as many maps incorporate vertical elements such as SSB (water streams, skybridges) and Directrix (jum

[2016-03-27 04:26] jedediah commented on #2392
I wouldn't call that "useless". It seems like something players could adapt to, and maybe use to their advantage. That is how physics actually works, after all.

[2016-03-27 04:39] MarcRoizman commented on #2392
After playing some maps with it though, it's apparent that you only have a range of 5-10 blocks or so when you're falling no matter how high you aim, so the extent to which players could "adapt" to this is limited. I forgot to note in the original post that this also breaks archery when double jumping on maps which include that, such as Lost World.

I just feel that this limits what players can do

[2016-03-27 10:48] eudaldca commented on #2391
Just jump to the void while in obs. It fails to teleport you server-side, but it teleports you client-side. Therefore, the server still thinks you're in the void and keeps on teleporting you to the spawn, and since spawns have a spawn radius, there you have it. @jedediah

[2016-03-27 12:16] Pablete1234 commented on #2392
I do not think this change is just "removing the posibility to shoot while falling" i think this change "allows you to shoot further away while jumping", be a bit more optimistic about changes

[2016-03-27 13:46] Pablete1234 opened #2393 "Tab list showing offline players"
![](https://i.gyazo.com/0060a35e01e0cf94aa14c725658799c7.png)

"Berfo" is a player that's not online, but it's showing on the tab list

PS: the offline player keeps showing even after reloging, map cycles, etc

[2016-03-27 14:28] andreskv commented on #2391
It used to get bugged only when dying with elytra, but now it seems to happen whenever you jump into the void.
https://youtu.be/ygZE1965rGA

[2016-03-27 14:30] andreskv commented on #2393
More of this

<img src="http://i.imgur.com/Kq7nkLU.png" />

[2016-03-27 15:49] MarcRoizman commented on #2392
That's great that you can now shoot father while jumping, but that's not the part of the change I'm concerned about. I'm concerned that a perfectly functional mechanic was removed for no reason, and it now limits what the player can do, on OCN in particular.

[2016-03-27 16:23] froyd42 commented on #2371
Ye the missing kills and deaths should be from rankeds

[2016-03-27 16:54] Pablete1234 commented on #2393
Even more:

![](https://i.gyazo.com/c883b3d14970230b2e38eb8607e79107.png)
![](https://i.gyazo.com/3036c494b550bc991af6544de3e99939.png)

ps: the "offline players" count towards the count of the server's players (in the GS image, the GS server says it has 3 players)

[2016-03-27 17:36] johannestheigen opened #2394 "Match Start Cancelled pops up when match is over."
Here are some few screenshots.
![2016-03-27_19 23 05](https://cloud.githubusercontent.com/assets/13437351/14066710/d34442d2-f451-11e5-9758-692a90e7ea71.png)

![2016-03-27_19 31 07](https://cloud.githubusercontent.com/assets/13437351/14066744/825a21ba-f452-11e5-8681-6138324a01ed.png)

![2016-03-27_19 34 49](https://cloud.githubusercontent.com/assets/13437351/14066755/02af200e-f453-11e5-9383-6e13ca7

[2016-03-27 17:37] eudaldca opened #2395 "Unfreezing with right click opens inventory"
It should only unfreeze, and it did both opening the fake inventory and unfreezing.

[2016-03-27 18:37] MarcRoizman opened #2396 "Armor with attributes has overly long description"
http://i.imgur.com/MsD94iW.png

[2016-03-27 18:53] Brottweiler commented on #2392
Sounds more like a feature request than a bug, no? Since this is the way arrows work in 1.9.

[2016-03-27 19:21] nigges60 commented on #2391
Happened multiple times.
https://youtu.be/hetEV9sF0MM

[2016-03-27 19:37] Pablete1234 commented on #2396
@nygiants10 That is how old attributes work, by default, attributes get applied to all slots, unless you specify one slot, and then attributes only show for that specific slot

[2016-03-27 19:56] ghost opened #2397 "Inventory viewer doesn't show off hand slot"
<img src="http://i.imgur.com/D8MxuZs.png">

[2016-03-27 20:19] ghost commented on #2015
Fixed
![screenshot_5](https://cloud.githubusercontent.com/assets/11008016/14067664/1b0604d2-f440-11e5-970d-86d683aa5219.png)

[2016-03-27 20:29] Pablete1234 opened #2398 "Glowing effect shows as unknown"
![image](https://cloud.githubusercontent.com/assets/11789291/14067713/5fec7e5c-f46b-11e5-95b1-cca79292928d.png)

[2016-03-27 21:02] eudaldca commented on #2388
Knockback is still an issue, even after @jedediah 's last fix.

[2016-03-27 21:13] #2015 closed, assigned to nobody

[2016-03-27 21:32] ElRichMC opened #2399 "Raindrop Gun is broken 1.9"
The gadget from raindrop's shop "raindrop gun" can shoot raindrops but can't give to another players

[2016-03-28 09:13] andreskv opened #2400 "Enchanted bows disappearing, normal bows don't shoot"
Yesterday this same thing happened to me with a punch bow, first it lost its enchantments and right after it disappeared from my inventory. Sometimes regular bows get buggy and won't shoot at all. I guess it's server lag, my connection is perfectly fine.

https://youtu.be/0jl3ZWN2dUI

[2016-03-28 15:33] Musyaffaq opened #2401 "Tip at the top/bossbar not showing correctly"
1. Instead of just showing 'Change your class using /cl (name)', it also says 'in 3599542 seconds' at the end.
2. To reproduce it, play the map 'DATABasin'. I'm not sure if this occurs on other maps though.
3. Screenshot: http://imgur.com/RZX5UvU

[2016-03-28 18:29] 2000thehecf1 commented on #2361
Still not fixed.

[2016-03-28 19:13] eudaldca commented on #2395
Also dunno if it's intended, but left click also freezes.

[2016-03-28 19:21] nigges60 commented on #2388
For me it seems that damage needs to be reworked as well because the damage is to low. This breaks the whole gameplay because rushing gets quite easy. Just have a look at the time of the games of Capture EU almost no game lasts longer than 5 minutes.

[2016-03-28 19:44] ghost commented on #2401
https://github.com/OvercastNetwork/Issues/issues/2381#issuecomment-201801662

[2016-03-28 21:00] JettGannaway opened #2402 "'Match start cancelled' whenever a game is won"
On capture, whenever a game is won, a message saying 'Match start cancelled' appears in chat. To reproduce this issue, look at chat when a game is won.
[http://imgur.com/TAzSxT7](Photo)

[2016-03-28 21:03] ghost commented on #2402
Dupe https://github.com/OvercastNetwork/Issues/issues/2394

[2016-03-29 02:56] CrazyisCreeps opened #2403 "Player crashing when map cycles"
https://i.gyazo.com/c626645ce0a15609736b30ab16493f50.png

As you can see in the image above, a player says the he crashes when a map cycles. He says this happens when he uses Optifine (the only mod he uses), and without it. He has only had this issue since the server updated to 1.9.

I'm not sure if this is a client side issue, or a server one. I figured I would report it anyways. I also remember

[2016-03-29 03:34] CrazyisCreeps commented on #2403
This is now occurring to me for the first time ever. It has now crashed twice in a row when the map cycles (so 2 different cycles)
I don't know if these means anything to you guys, but here's the crash report.
http://pastebin.com/ZJsiekHL

[2016-03-29 04:02] ghost commented on #2403
It's an optifine bug. As you can see in your crash report, you are using the first release which has a lot of bugs (it was a alpha), [updating it](http://optifine.net/adloadx?f=OptiFine_1.9.0_HD_U_B1.jar) may fix the issue

[2016-03-29 04:47] JettGannaway commented on #2391
I (think) I've worked out how to replicate this, or, at least, one way to do it.
- Go into a team with `/join`
- Die by jumping into the void
- Do **not** respawn. Stay at death screen
- When the round has finished in such a way that all are put into `/obs`, you will be at the observer spawn platform, glitching around.

Hope this can help clear the issue up, it can be a pain at time to deal with.

[2016-03-29 08:42] #2402 closed, assigned to nobody

[2016-03-29 11:40] ghost opened #2404 "Countdowns do not show in chat"
Countdows for the end of a TDM, nor for match cycling.

![2016-03-29_12 37 27](https://cloud.githubusercontent.com/assets/12920658/14106739/3efeb53e-f5ab-11e5-839b-c152725195e1.png)

Should be showing match start countdown

![2016-03-29_12 35 49](https://cloud.githubusercontent.com/assets/12920658/14106740/3eff7e60-f5ab-11e5-9b05-baa21d57e125.png)

Should be showing time until end countdown

![201

[2016-03-29 11:41] Brottweiler commented on #2404
They don't need to show countdown in chat, you have the bossbar for that.

[2016-03-29 11:43] ghost commented on #2404
[Fair enough, Martin said it _might_ be a bug](https://oc.tc/forums/posts/56fa6705c2963562870001e2),  so thought I should post it to be safe. I'll close then, as it's intended.

[2016-03-29 11:43] #2404 closed, assigned to nobody

[2016-03-29 11:52] Brottweiler commented on #2404
Confirmed intentional, not a bug.

[2016-03-29 16:46] ghost opened #2405 "Unintended invisibility potion on The Grove"
The middle spawner spawns a potion with Invisibility for 8 minutes and some seconds of Resistance (intended).

[2016-03-29 16:51] ghost opened #2406 "Player not showing in the right place in tab"
https://gyazo.com/8302a5f46b376a351489c0fa50543103
https://gyazo.com/7580149f2c60f2341a2173d034afb846

[2016-03-29 17:24] #2401 closed, assigned to nobody

[2016-03-29 17:25] AnthonyTag commented on #2400
Did you have any mods installed on your client while recording this?

[2016-03-29 17:26] AnthonyTag commented on #2399
Tested. It does give raindrops but does not hurt the player which seems to be a positive.

[2016-03-29 17:27] AnthonyTag commented on #2399
Reopened just in case devs really do want it to hurt players (as in hit them but not cause damage like it used to in 1.8).

[2016-03-29 17:29] AnthonyTag commented on #2398
Was this on a specific map?

[2016-03-29 17:30] AnthonyTag commented on #2397
Isn't this client side? Probably due to a custom resource pack? Or actually, while in a chest doesn't it not show the off hand slot anyway?

[2016-03-29 19:56] ghost commented on #1082
Fixed in 1.9

[2016-03-29 20:00] ghost commented on #2397
@AnthonyTag It isn't client side, and has nothing to do with the resource pack. It just doesn't have a slot asigned to the off hand

[2016-03-29 20:01] ghost commented on #2398
@AnthonyTag No, it happens in all the maps

[2016-03-29 20:33] #1082 closed

[2016-03-30 01:11] Eslakon opened #2407 "When you eat a gapple you don't have hitdelay."
Here's the video:
https://youtu.be/sPi565OnNbQ

[2016-03-30 01:20] CrazyisCreeps opened #2408 "Snowballs don't give KB"
On maps like DataBasin, snowballs don't give KB.

[2016-03-30 08:47] #2405 closed, assigned to Qixit

[2016-03-30 12:04] nigges60 commented on #2374
Now it also shows the color red: http://i.imgur.com/zEK8AXP.png

[2016-03-30 14:01] Brottweiler commented on #2374
@nigges60 that's because the nicked player was red, then switched team, then unnicked. It's the same situation as observer, the color don't matter.

[2016-03-30 17:19] eudaldca commented on #1660
I believe that staling punishments not being stale in-game was fixed a while back.

[2016-03-30 19:07] ghost commented on #2393
If the player comes back they duplicate. When the real player leaves the fake one stays. Please fix it's somewhat creepy.

![](http://i.imgur.com/aJLRVis.png?1)

[2016-03-30 19:19] LArrowHead opened #2409 "Obs Bugs/Tab Bugs 1.9"
The people used in the screenshots were on multiple servers at once, and they at times had two of the same names displaying.

Also, I could see one of them as you can see in the screenshot.

Album:
http://imgur.com/a/CFJjG

"Ghost Obs"-- They arent on the server but they are displaying.
image: http://imgur.com/PQvCd6j

[2016-03-30 19:32] Pablete1234 commented on #2409
Duplicate of #2393

[2016-03-30 19:32] LArrowHead commented on #2409
@Pablete1234 The first part isn't with the obs being seen, but yes the others are duplicates of #2393

[2016-03-30 19:33] Pablete1234 commented on #2407
Maybe related to the regeneration effect?

[2016-03-30 19:34] Pablete1234 commented on #2409
@LArrowHead well, that "ghost obs" is there because of the tab bug / is related in some way (it's the same player that is buggy on the tab), so i guess it could be in the same issue

[2016-03-30 19:35] LArrowHead commented on #2399
#2383 has some more issues, some might be fixed already.

[2016-03-30 19:37] Pablete1234 commented on #2406
@MrPetrus was that player actually in that same server, and in that team?

[2016-03-30 19:48] ghost commented on #2406
@Pablete1234 yeah, that player was in that server, playing in that team.

[2016-03-31 08:53] ghost commented on #2406
Found the cause, #2393. The player was a so-called "ghost obs". leading to being displayed twice when joining the server. If you look, he's also under the team list.

[2016-03-31 14:47] Brottweiler commented on #2397
1.9 added a new slot, our custom inventory viewing does not support it yet.

[2016-03-31 14:49] #2403 closed, assigned to nobody

[2016-03-31 14:50] Brottweiler commented on #2400
The bow was never in your slot at all, I wouldn't know the cause of this but very well it might be client sided and due to a mod. Are you sure you had 100% vanilla client when testing this?

Closing since afaik this isn't an issue.

[2016-03-31 14:50] #2400 closed, assigned to nobody

[2016-04-01 03:04] Electroid commented on #2396
No longer an issue.

[2016-04-01 03:04] #2396 closed, assigned to nobody

[2016-04-01 15:14] ghost opened #2410 "One portal non functional on pixelrun"
One of the ones as you run back towards spawn, near the end. I think that's the only one.

[2016-04-01 19:23] LArrowHead opened #2411 "Not really sure about this(off hand intrusion with normal hand.)"
Basically when you are in the lobby this occured, I right clicked the gizmo 'grabber'(i guess you could call it that) and it automatically uses the off-hand function(in this case a bow). I think it should be overridden to only use the normal hand function, right?

http://imgur.com/LD2e8EP

[2016-04-01 19:45] Brottweiler commented on #2411
The lobby should not really have a bow there anyway, it's because the sign normally does nothing when rightclicking air, so it will use the left hand slot if there is something there you can right click with. Because it opens a server side GUI after that, the bow just stays pulled back.

I don't think this is an issue.

[2016-04-01 19:45] #2411 closed, assigned to nobody

[2016-04-01 21:29] eudaldca opened #2412 "/postponerestart doesn't work correctly"
When running `/pr`, it returns "Server will restart automatically in 10 matches", and that isn't true.

[2016-04-01 23:03] Pablete1234 commented on #2397
IMO the offhand slot should be next to the armor, and either merge number of lives with the player special abilities, or remove one the two

[2016-04-02 09:02] ghost commented on #2234
Fixed in 1.9

[2016-04-02 09:03] #2234 closed, assigned to nobody

[2016-04-02 09:12] ghost commented on #2150
Fixed in 1.9 due to new bukkit api
![2016-04-02_06 11 52](https://cloud.githubusercontent.com/assets/11008016/14225457/d783c07e-f899-11e5-840c-1e9e5f225b41.png)

[2016-04-02 11:08] nigges60 opened #2413 "Desert Country Map Update to v.1.0.2"
Changelog
- fixed the water pits

Download link: https://www.dropbox.com/s/kyb1bkcpsxtkflx/Desert%20Country%20v.1.0.2.zip?dl=0

[2016-04-02 11:11] #2150 closed, assigned to nobody

[2016-04-02 17:16] Pablete1234 opened #2414 "Unlocalized death messages"
![](https://i.gyazo.com/8186031463ca036751bfb642974b9795.png)

[2016-04-02 22:01] chleongithub opened #2415 "Extremely small xml update on xi"
<img src="http://i.imgur.com/Ij9HLzl.jpg">

[2016-04-03 02:34] MarcRoizman opened #2416 "No food or saturation on FFA map Paladins"
No food or saturation is given to the player on the FFA map Paladins. You do get a couple of gapples on spawn and via kill rewards, but you really should get saturation.

[2016-04-03 02:36] MarcRoizman opened #2417 "Spawn eggs do not work in kits"
Several kits in GS use spawn eggs (such as the wolf tamer one), and spawn eggs appear to be broken now. Clicking with them doesn't do anything, they just stay in your inventory.

[2016-04-03 07:39] mitchts commented on #2416
Fixed in https://github.com/OvercastNetwork/Maps/commit/d150d977318870054397c55512b5f63c492b5900

[2016-04-03 07:39] #2416 closed, assigned to nobody

[2016-04-04 07:16] Palmidence opened #2418 "Wooden slabs on Fairytales 2: A Tale or Two are very outdated"
Pretty sure all of the other maps that used stone wooden slabs were fixed, so I was thinking Fairytales was left out. As there is no longer a texture, it doesn't look pretty when defending. It's not gamebreaking, but it's an inconvinence to defenders (as one who crafted an axe to break them).

![](http://i.imgur.com/O1GD1a0.png)
![](http://i.imgur.com/K8eMzhl.png)

_List of maps it occurs on so fa

[2016-04-04 14:07] ghost commented on #2418
I believe this is also the case on Battle of Tenjin (1) and possibly A Watery Grave, but haven't played that in a long time so could not be the case.

[2016-04-04 14:37] Qixit commented on #2413
@nigges60  Please remember to prune your map.

[2016-04-04 14:38] nigges60 commented on #2413
@Qixit I changed nothing at the map actually just the XML.

[2016-04-04 14:39] nigges60 commented on #2413
Nevertheless I'll prune it next time!

[2016-04-04 14:44] #2410 closed, assigned to Qixit

[2016-04-04 14:44] #2413 closed, assigned to Qixit

[2016-04-04 14:44] #2415 closed, assigned to Qixit

[2016-04-04 20:15] stormer1267 opened #2419 "Update Government 5x5 v1.0.2"
- fix broken spawnpoint
- add Rockymine as contributor
  http://www.mediafire.com/download/04uakt7fb05y795/Government+5x5+v1.0.2.zip

[2016-04-05 00:03] AnthonyTag commented on #2419
I assume the broken spawnpoint was the one that had players spawn out in the void?

[2016-04-05 06:15] stormer1267 commented on #2419
Yes, was there an issue for it? I am really new to this 🎓

[2016-04-05 06:47] mitchts commented on #2392
https://oc.tc/forums/topics/5701d4135f35b913ea000006

[2016-04-05 06:47] #2392 closed, assigned to nobody

[2016-04-05 11:33] mitchts commented on #2361
I've observed multiple matches on 9th Law and not once did a player get stuck in the ground. I know when I have a poor connection, I can often get stuck in the ground.. but that has nothing to do with the map. So, that's what I think is happening. We've already done pretty much everything that we can in the XML to prevent this. Increasing the spawn y value further wont do much, if anything.

[2016-04-05 12:00] stupid3700 opened #2420 "Website online/offline status not updating correctly when user has a nick set"
Online/offline status doesn't update correctly on the website when a player has a nick set.

**What I expected to happen**
Upon setting a nick, the nicked player would appear as offline to non-staff and non-friends on their website profile.

**What actually happened**
The nicked player continued to appear online, even after disconnecting. The server they were last on before setting a nick continue

[2016-04-05 21:21] itsmartin opened #2421 "Observers visible"
Reported on forums [here](https://oc.tc/forums/topics/5704244f67d52229e5000003) and [here](https://oc.tc/forums/topics/57041c135f35b95e05000004).

The player was an observer but could be seen by everyone in-game, and could also block arrows.

[2016-04-05 22:12] chleongithub opened #2422 "Quick xml update on cerulean cave"
[explanation](https://oc.tc/forums/topics/56cbd0de5f35b9681400000e?page=6#570430e6c2963502a90000ab) [new xml](https://gist.github.com/chleongithub/89869a7f4a328c612615)

[2016-04-06 16:23] ghost commented on #2250
http://prntscr.com/aowtdx

[2016-04-07 13:57] nigges60 opened #2423 "Armor doesn't work properly"
If I get some armor it doesn't show up above the hearts and it doesnt protect any damage. I'm playing as if I would be no armor. http://i.imgur.com/FcILqiT.png
Rejoin, Minecraft restart and remove and readd armor all don't work.

[2016-04-07 19:28] itsmartin commented on #2423
Any idea how to reproduce?

[2016-04-07 19:30] nigges60 commented on #2423
For now it happened randomly.

[2016-04-08 04:51] Qixit opened #2424 "Double Jump is either delayed occasionally or never works"
Sometimes using double jump doesn't work or will only give the player double jump after dying. Playing on Viridun FFA and using double jump gave players the boost after dying, if there were 2 attempted double jumps before the player died they would receive them both upon dying.

[2016-04-08 04:54] Qixit opened #2425 "Elytra doesn't activate or is severely delayed"
The Elytra item occasionally doesn't activate or will active after a long period of time. Enabling Elytra for the first time sometimes doesn't work, especially if the player is falling.

[2016-04-08 05:15] #2422 closed, assigned to nobody

[2016-04-09 14:09] andreskv opened #2426 "Boat physics broken."
Boats behave in water and in-air like if they were on a dry surface, the fall very slow and move on water as if they were on a regular block. https://youtu.be/LquTrca_kFM

[2016-04-09 15:32] nigges60 opened #2427 "Randomly Timing Out"
I'm timing out completely randomly since yesterday and I changed nothing. The message I get is "Disconnected". Can provide a screenshot soon when randomly disconnect again.

[2016-04-09 15:35] ghost commented on #2427
Sounds like #2360 ?

[2016-04-09 15:37] nigges60 commented on #2427
I also got this message now: http://i.imgur.com/3Gxfhin.png

[2016-04-09 16:41] Pugzy commented on #2419
@stormer1267 If you have only changed things with the XML then you only need to provide us with the updated version (within a Gist etc).

In your updated version you have set the `max-overfill` to be 0, this is incorrect and would cause errors, its use is stated on `docs.oc.tc`.

You also need to bump the version number.

[2016-04-09 16:45] #2419 closed, assigned to nobody

[2016-04-10 10:35] Pablete1234 commented on #2180
This should be closed, it's fixed

[2016-04-10 11:43] Pablete1234 opened #2428 "FFA maps don't show a winner"
Example: https://oc.tc/maps/the_amazing_race
All matches on that map show participants 0 (not true) and the winner is empty, it should have the player that won the map

Same happens in the match: https://oc.tc/matches/570a3ad2c8f24ca438731b63
No one shows under "Teams" because it was FFA

[2016-04-10 12:30] #2180 closed, assigned to nobody

[2016-04-10 13:43] ghost commented on #2428
duplicates #2183, #2301

[2016-04-10 19:57] GoldenOre opened #2429 "Fishing Rods are broken in 1.9"
Maps like cacti panic don't work well without them.

[2016-04-10 21:25] rockymine opened #2430 "Update Townside to Version 1.4"
![](http://i.imgur.com/pKi02Qa.png)

**Most Notable Changes**
- changed location of the wool-room
- shortened wool-lane
- changed location of the iron

[**Download**](http://www.mediafire.com/download/7y8g8e1f2qbod1w/Townside+1.4.zip)

[2016-04-10 21:47] CrazyisCreeps opened #2431 "Purple team has no villagers on Rift"
Purple team was missing all of the trading villagers at their spawn. Cyan team had theirs, and were able to trade with them.
I was unfortunately not able to get a screenshot in time.

[2016-04-10 22:43] CrazyisCreeps commented on #2431
Never mind, Cyan team also has no villagers

[2016-04-10 22:48] CrazyisCreeps opened #2432 "Tanker TNT has no supply chests"
On the map Tanker TNT the supply chests on the left and right (those chests normally have the TNT supplies) have turned into bedrock.
https://i.gyazo.com/17de46a8956c1e713c10878f8676058f.png

[2016-04-10 22:57] #2430 closed, assigned to mattarnold98

[2016-04-10 22:57] mattarnold98 commented on #2432
I'm 90% certain there was already an issue about this, and Tywnis responded saying he just moved the supply chests.

EDIT: I checked the map, they're on the islands to the right/left of where you spawn.

[2016-04-10 22:57] #2432 closed, assigned to nobody

[2016-04-10 22:58] #2428 closed, assigned to nobody

[2016-04-10 22:59] mattarnold98 commented on #2429
How are they broken?

[2016-04-11 00:00] GoldenOre commented on #2429
They don't hurt players.

[2016-04-11 00:51] samthecat opened #2433 "Fallout FFA - Bad Spawn"
![2016-04-10_20 49 39](https://cloud.githubusercontent.com/assets/10585916/14414252/f65cb8c8-ff5d-11e5-945b-aab8c177df6a.png)

There may be more, this is just the first one I've encountered.

[2016-04-11 10:29] TiTo-418 commented on #2429
That's 1.9 behavior

[2016-04-11 10:29] TiTo-418 commented on #2429
That's 1.9 behavior

[2016-04-11 10:29] TiTo-418 commented on #2429
That's 1.9 behavior

[2016-04-11 10:29] TiTo-418 commented on #2429
That's 1.9 behavior

[2016-04-11 10:29] TiTo-418 commented on #2429
That's 1.9 behavior

[2016-04-11 10:29] TiTo-418 commented on #2429
That's 1.9 behavior

[2016-04-11 10:29] TiTo-418 commented on #2429
That's 1.9 behavior

[2016-04-11 10:29] ghost commented on #2429
That's 1.9 behavior

[2016-04-11 11:00] nigges60 commented on #2427
Seemed to be a problem of my internet provider.

[2016-04-11 11:00] #2427 closed, assigned to nobody

[2016-04-11 11:01] nigges60 commented on #2408
They do give kb but less then on 1.8

[2016-04-11 11:26] itsmartin commented on #2406
I think this is the same issue as #2393.

[2016-04-11 11:26] #2406 closed, assigned to nobody

[2016-04-11 11:29] itsmartin commented on #2409
This is covered by #2393.

[2016-04-11 11:29] #2409 closed, assigned to nobody

[2016-04-11 23:08] cak-e opened #2434 "Tab List Broken"
As you can see in the screenshot, the tab list is broken. In this example, you can see djrcapo's name is below all other's, with the observers. Another example is that the tab list shows some players even though they aren't in fact there. This can be shown with Twilight_Bloom.

[2016-04-11 23:09] cak-e commented on #2434
![2016-04-11_19 09 03](https://cloud.githubusercontent.com/assets/18396276/14445158/e1b615de-0018-11e6-80f8-1f7e502964d4.png)

[2016-04-11 23:10] itsmartin commented on #2434
#2393

[2016-04-11 23:10] #2434 closed, assigned to nobody

[2016-04-11 23:10] cak-e commented on #2434
I just saw that infact, but the new bug is the djrcapo.

[2016-04-11 23:16] itsmartin commented on #2434
It would be best to post this as an example on that bug. I think the two issues probably share a root cause.

[2016-04-12 04:25] #2364 closed, assigned to nobody

[2016-04-12 13:15] xHeimskr opened #2435 "1.9 KB it's not 1.8 kb"
https://www.youtube.com/watch?v=ZZ_aCV0GGYA

Im faster than the kb , and it's not like 1.8

[2016-04-12 16:28] 2000thehecf1 opened #2436 "Nicked players appearing at the end of tab list."
This makes them easily recognizable as they appear after everyone else on their own team no matter what letter is the first on their nick.

[2016-04-12 17:30] ghost commented on #2418
The stone slabs in chests on Sky Traffic 2 also have this issue.

[2016-04-13 13:46] #2435 closed, assigned to nobody

[2016-04-13 13:46] itsmartin commented on #2435
This should now be fixed.

[2016-04-13 15:05] JanPaulMosterdijk opened #2437 "map update - Ultra Twizz 1.0.1"
- added fences to prevent double capping
- playerlimit increased to 26v26 from 24v24

https://www.dropbox.com/sh/dplp2myxlhrh306/AABe2BBLVtY94YvA7FNSfXNna?dl=0

[2016-04-13 15:23] xHeimskr opened #2438 "OCN KB it's not fixed at all."
https://www.youtube.com/watch?v=yMeYGZAh-sA&feature=youtu.be

[2016-04-13 15:53] itsmartin commented on #2438
Tested just now, sprint hitting a player twice (resetting sprint in between) gives the expected 10 blocks of knockback. Maybe the server you were on was not updated.

[2016-04-13 16:35] itsmartin commented on #2438
[Seems fine now](https://www.youtube.com/watch?v=ge1NUcrdhr8).

[2016-04-13 16:35] #2438 closed, assigned to nobody

[2016-04-13 17:18] ghost commented on #2346
It's happening again on tm lobbies

[2016-04-13 20:38] samthecat commented on #2433
@yoyopower @rockymine

[2016-04-13 20:40] GoldenOre opened #2439 "Map Update - Pixel Run"
Changes:

Changed UUID
Removed Koopa lava parkour
Made it harder for defenders to shoot people at the pipe

DL: https://www.dropbox.com/s/oxfzfr6dvcgqmyg/Pixel%20Run%202.zip?dl=0

[2016-04-14 02:03] Eslakon opened #2440 "Arrows with effects don't show correct name"
I was playing on server Tournament (map: Wit's End II: TE) when this happened.. I didn't see a report like this one so that's why I'm doing this. :package:

![2016-04-13_20 20 55](https://cloud.githubusercontent.com/assets/18155401/14514963/0df1ffac-01bb-11e6-9b27-f1fbe65cf3bf.png)

"Brokennz was shot by latiku with a entity.TippedArrow.name from 21 blocks".

[2016-04-14 20:36] MarcRoizman opened #2441 "Arrows are extremely overpowered on Assault in 1.9"
Arrows deal up to 6.5 hearts of damage on Assault, which is way too much. Perhaps either add significant projectile protection or get rid of the power of the bows, or do both. Either way, it needs to be changed because it plays almost like a rage TDM right now.

[2016-04-14 22:09] 2000thehecf1 commented on #2441
Just debuff arrows serverwide, they deal more damage than they should on every map.

[2016-04-15 07:40] Qixit commented on #2431
These villagers were intentionally removed I'm pretty sure, and they won't be added back unless Lyzak wants them to I think.

[2016-04-15 07:40] #2431 closed, assigned to nobody

[2016-04-15 07:54] #2433 closed, assigned to Qixit

[2016-04-15 07:54] #2437 closed, assigned to Qixit

[2016-04-15 07:54] #2439 closed, assigned to Qixit

[2016-04-15 07:54] #2441 closed, assigned to nobody

[2016-04-15 15:45] JanPaulMosterdijk opened #2442 "map update - Ultra Twizz 1.1.0"
- lowered spawn/woolroom part with 10 blocks
- lowered buildlimit to 43

https://www.dropbox.com/sh/dplp2myxlhrh306/AABe2BBLVtY94YvA7FNSfXNna?dl=0

[2016-04-16 07:07] #2442 closed, assigned to Qixit

[2016-04-16 14:21] ryanwarsaw commented on #2314
This is still occurring as of now (4/16).

[2016-04-17 01:29] jexeI opened #2443 "You can place lily pads in water in obs mode without it disappering immediately"
It acts like a "ghost lily pad", once you click on it again, it vanishes.
https://youtu.be/UW7T4YW_mWQ

[2016-04-17 02:10] ghost commented on #2443
Related https://github.com/OvercastNetwork/Issues/issues/377 https://github.com/OvercastNetwork/Issues/issues/122

[2016-04-17 17:47] WesJD opened #2444 "/join has internal error when teams are full"
When teams are full, /join with no args has an internal error.

[2016-04-17 17:49] WesJD opened #2445 "Server signs in hub send you twice"
When you right click a sign in the hub to join a server, it sends you twice. This is because you do not check what hand they are clicking with and the interact event fires for both.

[2016-04-17 17:55] Pugzy commented on #2445
Duplicate of #2197 thanks though.

[2016-04-17 17:55] #2445 closed, assigned to nobody

[2016-04-17 22:09] jexeI commented on #2443
Updated with video.
and on a side note, players do not take arrow KB while standing on a client-side lily pad.

[2016-04-19 21:01] Eslakon opened #2446 "TNT in Circus CTW is very overpowered in woolrooms."
I was playing on Circus when I joined into the woolroom, so after a long minutes an user started to make cannons (with the tnt that provide the map) in front of my woolroom. This user destroyed the woolroom and some chests, here are some pics:

![2016-04-19_15 54 48](https://cloud.githubusercontent.com/assets/18155401/14655422/d9c2c2b6-0647-11e6-9e95-e01b8e430fc2.png)
![2016-04-19_15 54 22](https:

[2016-04-20 11:34] xHeimskr opened #2447 "Knockback is still broken"
https://www.youtube.com/watch?v=GBVenN4uSPQ
https://www.youtube.com/watch?v=imhhdVhlH2s

Sprint reset in pvp is broken , not possible to combo(while straightlining ,sprint resetting and jumping)

: )

[2016-04-20 13:09] unixfox opened #2448 "It's possible to bypass link restriction"
Every link that contains "oc.tc" in the chat is allowed, so if I send a message with "oc.tc.exemple.com" it is not blocked.
Everyone can create a random domain with "oc.tc" for the subdomain and send bad links on the chat without being blocked.

Evidence:
![](https://i.unixfox.eu/11-15-09-2016.png)

[2016-04-20 14:20] ghost commented on #2448
Dupe https://github.com/OvercastNetwork/Issues/issues/805

[2016-04-20 14:26] unixfox commented on #805
It didn't brake the link, try it : http://oc.tc.unixfox.eu.

[2016-04-20 14:40] #2448 closed, assigned to nobody

[2016-04-24 14:37] JexeI commented on #2417
Since GS is gone, I guess this can be closed.

[2016-04-24 18:05] Pugzy commented on #2417
I'm guessing this is due to the recent change in SportBukkit.

Spawn eggs are used in other maps so this would still be an issue.

[2016-04-26 18:05] ghost commented on #1998
It's happening again

[2016-04-26 19:29] itsmartin commented on #1998
Fixed.

[2016-04-26 19:29] #1998 closed, assigned to nobody

[2016-04-26 20:11] Pablete1234 commented on #2391
@jedediah are you still unable to reproduce this?

[2016-04-26 20:58] jedediah commented on #2391
Fixed

[2016-04-26 20:58] #2391 closed, assigned to nobody

[2016-04-26 21:04] Pablete1234 commented on #2391
@jedediah Well, you don't end up in a teleport loop anymore, but you don't get teleported at all, you should get teleported to spawn obs, not only set the player to be flying

[2016-04-26 22:00] Pablete1234 commented on #2391
@jedediah This doesn't work very good when using portals that teleport obs into the void (war wars uses that to prevent obs from leaving the area arround the map), since you just get teleported to -15000, and with the new method, your flight gets resetted, and the event is cancelled, but you can just keep flying and nothing will happen

Really, when a move or teleport event of an obs ends bellow 6

[2016-04-26 23:15] jedediah commented on #2391
Do any maps do that besides war wars?

[2016-04-27 05:13] Pablete1234 commented on #2391
@jedediah maps with death-void.xml lincluded could also apply

[2016-04-27 17:52] 2000thehecf1 opened #2449 "Woolroom diamond chestplate is bugged on Race for Victory 3"
When you have the chestplate equipped, it isn't recognized as a piece of armor so you are easily killed while wearing it.

Evidence: https://youtu.be/GtYfkI2S1_k

[2016-04-27 18:15] ghost commented on #2449
Dupe? https://github.com/OvercastNetwork/Issues/issues/2423

[2016-04-27 20:37] samthecat commented on #2375
It happened again, I don't know what's causing it this time.

[2016-04-27 20:57] ghost commented on #2375
![screenshot_53](https://cloud.githubusercontent.com/assets/11008016/14867928/6cbed3ca-0ca1-11e6-8b3c-ad7a7b028361.png)

Could you close those tags?

Edit: It was the error, I closed those tags and now it's fixed (https://oc.tc/TiTo_418), this can be fixed server-side checking if the html is valid

[2016-04-27 21:13] Brottweiler commented on #2375
@samthecat Looks fine to me? Screenshot?

Edit: Nvm i scrolled down and I see what you mean now.

[2016-04-27 21:23] samthecat commented on #2375
@Brottweiler https://oc.tc/samthecat43 scroll to the bottom of my profile.

[2016-04-27 21:24] Brottweiler commented on #2375
Notice the edit. 😛

[2016-04-27 21:39] samthecat commented on #2375
Seems to be fixed when I end the tags, but I wanted to make the text bigger in the first place

Could anyone tell me how?

[2016-04-27 21:40] itsmartin commented on #2375
As @TiTo-418 said, the only way to avoid this happening is to make sure the HTML is valid. It's caused by improper nesting of tags.

We can't fix this directly. We would have to enforce valid HTML on profiles, but that probably isn't worth it since this issue only seems to happen in _very_ specific circumstances.

[2016-04-27 21:40] #2375 closed, assigned to nobody

[2016-04-28 00:38] Eslakon commented on #2449
Nice song lmao

[2016-04-28 17:15] MarcRoizman opened #2450 "Brewing no longer works as intended on Viridun"
Due to the potion bottle remove thing, you can no longer get empty potion bottles to brew with on Viridun. It's not game breaking, but it removes an interesting feature of the map and I think this is one map that potion bottles should be droppable/attainable on.

[2016-04-28 17:20] MarcRoizman opened #2451 "Ladders and vines hard to use on elytra versions of Viridun"
Elytras are really glitchy when you're trying to get onto ladders/vines from out of the water on Viridun Elytra (teams & FFA). Sometimes it's completely impossible to get out of the water. I think you should add some sort of platform in front of the vines and ladders on the edge of the water so that the glitchy behavior isn't as much of a problem.

[2016-04-29 05:55] mitchts commented on #2450
Wouldn't blaze powder also need to be added somehow?

[2016-04-29 05:59] MarcRoizman commented on #2450
I believe there are already a few blaze rods in the chest of brewing supplies.

[2016-04-29 12:14] mitchts opened #2452 "Fix incorrect map image sizes for various maps"
I'll probably end up fixing these tomorrow, but the following maps have incorrect `map.png` dimensions and cause their thumbnails to look weird:
- [x] Elyta Immitis 5x5
- [x] Alien 5x5
- [x] Bouncy Stadium
- [x] Frosty Stadium
- [x] Royal Garden CTW
- [x] Stampede
- [x] Deadwater
- [x] A New Day
- [x] Quavilla
- [x] Lamanai
- [x] Spring Breeze
- [x] Enchanted Woods
- [x] Ethereal
- [x] Citadel
- [

[2016-04-29 15:04] AnthonyTag commented on #2391
I made a fix that should make this new system work without problems with `void-death.xml`.

[2016-04-29 16:34] samthecat commented on #2450
@nygiants10 I think it's blaze powder

[2016-04-30 08:13] mitchts commented on #2452
https://github.com/OvercastNetwork/Maps/commit/5010abbb47e3b7fdf7eeee5eae75110d7573347a

[2016-04-30 08:13] #2452 closed, assigned to mitchts

[2016-05-01 12:48] chleongithub opened #2453 "Update the spawns on Geiran"
[new xml here](https://gist.github.com/chleongithub/8668756a3ae321ee8ec421024b54b3b1)

[2016-05-01 14:47] eudaldca commented on #2426
No longer an issue

[2016-05-01 16:16] #2426 closed, assigned to nobody

[2016-05-02 17:42] ghostieghost opened #2454 "You can build with iron blocks in spawn on Xi"

[2016-05-03 14:05] xHeimskr opened #2455 "Sprint Hits"
In 1.8 when you start running (holding your sprint key) and later you hit a player , you stop running (your sprint stops) .

In 1.9 (OCN) when you start running and you hit a player you keep running.

This has to be fixed because sprint hits knockback do not exist with that.

[2016-05-04 15:43] #2454 closed, assigned to nobody

[2016-05-05 01:03] GoldenOre opened #2456 "Map Update - Mesa 5x5"
Removed block breaking

XML: https://gist.github.com/GoldenOre/b163d2c0a9a5a76caeb6077a1373a952

[2016-05-05 22:43] #2456 closed, assigned to nobody

[2016-05-05 22:57] #2453 closed, assigned to nobody

[2016-05-05 22:58] AnthonyTag commented on #2450
@samthecat throw a blaze rod in your crafting section of your inventory and you get powder, right?

[2016-05-05 23:02] AnthonyTag commented on #2361
From what I can tell this does not occur anymore. Also no one has commented in the past few months explaining that this has occurred to them as well. Closing, open if it happens again.

[2016-05-06 16:50] Pablete1234 commented on #2393
I found how to replicate the bug consistently:
![image](https://cloud.githubusercontent.com/assets/11789291/15083162/ffc33ea0-13cb-11e6-8795-e6cebe98db40.png)

The bug occurs when a player disconnects from a world that isn't the same as the current match.
To replicate it (in tm's), you can abuse a bug with execute and tp, that makes it so that tp doesn't remember the world: `/execute @p ~ ~ ~ /tp

[2016-05-06 21:40] Pablete1234 commented on #2455
As far as i know, if you were holding the sprint key, you didn't stop running

[2016-05-06 21:56] xHeimskr commented on #2455
pero si se corta el sprint

2016-05-06 23:40 GMT+02:00 Pablete1234 notifications@github.com:

[2016-05-07 09:28] JanPaulMosterdijk opened #2457 "map update - Ultra Twizz 1.3.0"
Idk what i was thinking when i designed these midlines, but i changed them a bit now.

I made the midline less wide. This way there should be a lot more interaction between both sides. I also added some chects with goodies.

![alt tag](http://i.imgur.com/n6Tltrf.jpg)

dl: https://www.dropbox.com/sh/dplp2myxlhrh306/AABe2BBLVtY94YvA7FNSfXNna?dl=0

[2016-05-07 14:37] 2000thehecf1 commented on #2361
Two players reported it yesterday night on Capture EU.

[2016-05-07 17:28] ghost commented on #2361
I've had to teleport someone out of spawn too, pretty sure the issue still exists.

[2016-05-07 17:48] Pugzy commented on #2361
This was fixed but the issue was added back when 9.5th Law was added (as the commit included the reverted spawn heights).

[2016-05-07 17:49] #2361 closed, assigned to nobody

[2016-05-07 18:19] #2457 closed, assigned to Pugzy

[2016-05-09 10:39] LArrowHead commented on #2393
I don't have a screenshot but sometimes players still appear on the observers tab when they are on a team.

[2016-05-10 16:51] nigges60 opened #2458 "Map Update Desert Country to Version 1.0.3"
The Map already got updated this day to v1.0.3 but there is a little XML failure. The monuments are not identified on the correct place. Here is the correct version of it: http://pastebin.com/Q9bemgs3

[2016-05-10 18:37] Pugzy commented on #2458
@nigges60 the XML you provided has lost all formatting due to it's format, are you able to re-upload the XML and save it as the correct file format? It makes everyone's lives a little easier, thanks.

[2016-05-10 18:45] nigges60 commented on #2458
@iPGz sure but not today probably tomorrow. Sorry for this complicated way.

[2016-05-11 02:06] mitchts commented on #2458
Completely forgot about changing those values.. I'll be able to fix this in a few hours if no one else does it before me.

[2016-05-11 09:02] #2458 closed, assigned to nobody

[2016-05-12 19:44] Szboy opened #2459 "Sidebar text collapses on itself when re-sizing window"
![](http://img.prntscr.com/img?url=http://i.imgur.com/Mw0FjUw.png)
This happens when clicking on subforums and then re-sizing the window back to full.

**To reproduce:**
1. Reduce the window from full size to a size that shows the orange subforums button
2. Click on the subforums button to open the subforums  and then click on the button again to re-collapse.
3. Maximize the screen.

[2016-05-12 19:45] ghost commented on #2250
Just happened on EU capture.

[2016-05-14 01:08] samthecat opened #2460 "Map Update - Tropico FFA 1.0.1"
Updated to Version 1.0.1

**Changelog:**
- Added fences to prevent a jump that allowed players to get on top of the wall.

[Tropico.zip](https://github.com/OvercastNetwork/Issues/files/264276/Tropico.zip)

[2016-05-14 01:12] samthecat commented on #2460
Sorry, I miss clicked and closed this.

[2016-05-14 07:19] mitchts opened #2461 "Double Jump incorrectly ignores fall damage"
Currently, when a player has a fully charged double-jump, they will not take any fall damage from any height. As soon as they use their double-jump and the bar is not fully charged, they are able to take fall damage, harming them upon landing.
To reproduce, play any map that has fall damage enabled and uses double-jump. Fall from a height that would harm you while having a full double-jump bar and

[2016-05-14 07:23] mitchts opened #2462 "Setting discard-potion-bottles to false has no effect"
Even with `<kit id="spawn" discard-potion-bottles="false">...</kit>`, empty potion bottles are still removed from the player's inventory. This affects https://github.com/OvercastNetwork/Issues/issues/2450 and the free-for-all map Immitis.

[2016-05-14 23:34] WesJD opened #2463 "You can clear your inventory as a spectator"
I accidentally shift clicked the X in my creative inventory as a spectator and it removed all of my items.

[2016-05-15 06:39] #2462 closed, assigned to nobody

[2016-05-15 06:41] mitchts commented on #2450
Fixed in https://github.com/OvercastNetwork/Maps/commit/e912586fc0c676ee6301475cd4d0684702bc0a2b

[2016-05-15 06:41] #2450 closed, assigned to nobody

[2016-05-15 09:05] Pugzy commented on #2463
Hmm this is an interesting one, on one hand making the items non-removable and replacing them when they are modified would be good for new players however the ability to change your inventory around and remove items is useful in other situations such as the macros mod or whilst spectating.

I hate to say it but.. maybe a toggle, one for a non and one for a sticky (default) inventory.

[2016-05-15 13:14] samthecat commented on #2421
This is currently happening to me too.

[2016-05-15 21:48] GoldenOre opened #2464 "/toggledownfall and /weather clear don't work on mapdev servers"

[2016-05-15 23:03] guillevn opened #2465 "Iron axes are too much on Circus DTC"
I get that they are there to break wood fast, but with no iron armor (i think there is an ingot kill reward but meh) they should either be lowered to a stone axe with efficiency 3 (unbreakable of course) or just lower the damage it makes through XML.
You can two hit kill with iron axes.

[2016-05-15 23:40] #2460 closed, assigned to nobody

[2016-05-16 00:15] guillevn commented on #2465
This is an actual issue in all maps that give you low armor (leather) and iron axes

[2016-05-16 04:26] sovrynn opened #2466 "Missing Trophies?"
On Carterpaul's Trophy page, there's two spaces where it looks like there should be trophies but they are just blank spaces.

[2016-05-16 12:48] itsmartin commented on #2466
Fixed. The HoC trophy text was wrapping onto two lines, making its column slightly longer and breaking the layout.

[2016-05-16 12:48] #2466 closed, assigned to nobody

[2016-05-16 15:58] rockymine opened #2467 "Update Underpass to 1.0.2"
**Changes**
- Fixed item arrangement in spawn-kit
- Fixed midline
- ...

[**Download**](http://www.mediafire.com/download/y3pjyio2xu9pii5/Underpass+1.0.2.zip)

[2016-05-16 19:56] ghost commented on #612
http://prntscr.com/b4ucwy

[2016-05-16 20:34] #612 closed

[2016-05-17 17:22] nigges60 opened #2468 "Winter Wakening armor not dropping"
Iron armor is not dropping although it is not on itemremove. I assume normally armor should drop but it does not.

[2016-05-17 21:33] chleongithub commented on #2183
When's this gonna be deployed

[2016-05-17 23:22] samthecat commented on #2468
Just tested it out and and iron armor drops for me.. are you able to reproduce it?

[2016-05-18 01:48] mitchts commented on #2468
The `keepInventory` gamerule is set to true, which could be the reason as to why it isn't dropping.

[2016-05-18 05:17] guillevn commented on #2423
It happens to me as well but I haven't tested whether it protects or not...

[2016-05-18 07:43] Brottweiler commented on #2423
This happens randomly, but probably more on maps where you make your own armor and put it on manually. I've experianced the "no armor point bar" on another server aswell, however, that was running a version that was not 1.9.4. I've not seen it happen on that server after 1.9.4 update, though.

[2016-05-18 09:53] mitchts commented on #2468
Fixed in https://github.com/OvercastNetwork/Maps/commit/bbfe82ad08d68c128a1acc95db77baca2c80493e

[2016-05-18 09:53] #2468 closed, assigned to nobody

[2016-05-18 09:53] mitchts commented on #2467
Updated in https://github.com/OvercastNetwork/Maps/commit/275f6bdf7e443536ee438bb9a5b8129af25fbdf9

[2016-05-18 09:53] #2467 closed, assigned to nobody

[2016-05-18 11:13] itsmartin commented on #1837
Fixed

[2016-05-18 11:13] #1837 closed

[2016-05-18 22:48] samthecat commented on #2449
#2423

[2016-05-18 22:48] #2449 closed, assigned to nobody

[2016-05-19 16:19] 2000thehecf1 opened #2469 "Axes aren't on itemremove on Mushroom Gorge"

[2016-05-19 17:21] #2469 closed, assigned to Pugzy

[2016-05-20 22:27] #2451 closed, assigned to samthecat

[2016-05-21 01:24] #2418 closed, assigned to samthecat

[2016-05-21 06:20] #1402 closed

[2016-05-22 18:29] Pablete1234 opened #2470 "Fake hitbox doesn't send despawn packets on player disconnect"
When a player disconnects, its hitbox doesn't send despawn packets
![image](https://cloud.githubusercontent.com/assets/11789291/15455674/dc357c68-205b-11e6-850c-650a46ae6f6a.png)

[2016-05-22 23:35] Pablete1234 commented on #2425
@Qixit that isn't a server issue, It's all about your ping

[2016-05-22 23:37] Pablete1234 commented on #2421
This is related to #2393, or atleast i have seen it happening today on a player that was on obs while he was duplicated